{% extends "base/base.html" %}

{% block page_title %}Password reset successfully{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-5 center-block">
        <div class="panel panel-success">
          <div class="panel-heading">Email sent successfully</div>
          <div class="panel-body">
            Check your inbox and <a href="{% url 'base:login' %}" title="Log in">log in</a> with yout new password. Don't forget to change it as soon as possible.
          </div>
        </div>
    </div>
</div>
{% endblock content %}