<div class="row">
    <div class="col-md-12 card">
        <ul class="nav nav-pills">
          <li role="presentation">
              <a href="{% url 'boards:repositories:view_repository' board.id repository.id %}">
                    <span class="fa fa-arrow-left"></span>
                  Repository {{repository.name}}
              </a>
          </li>
          <li role="presentation"><a href="{% url 'boards:repositories:view_repository' board.id repository.id %}#commits">Commits</a></li>
            {% if commit and commit.has_been_assessed %}
                <li role="presentation"><a href="{% url 'boards:repositories:view_assessment_report' board.id repository.id commit.id %}">Assessment of commit {{commit.commit}}</a></li>
            {% endif %}
        </ul>
    </div>
</div>