 <div class="row">
    <div class="col-md-8 center-block">
        <div class="panel panel-{% if board.estimated_number_of_hours and board.current_percentage_of_completion > board.percentage_of_completion %}danger{% else %}success{% endif %}">
          <a class="panel-heading btn-block" href="{% url 'boards:view' board.id %}" title="View {{board.name}}">
                {{board.name}}
          </a>
          <div class="panel-body">
              {% with spent_time=board.get_spent_time %}
                <p>
                    <strong title="Developed number of hours until now" class="cursor-help">{{spent_time|floatformat:-2}}</strong> {% if board.estimated_number_of_hours %}/ <strong class="cursor-help" title="Estimated number of hours">{{board.estimated_number_of_hours}}</strong>{% endif %} hours developed.
                </p>

                {% if board.estimated_number_of_hours %}
                    <div>
                        {% with current_percentage_of_completion=board.current_percentage_of_completion %}
                           <p>According to the number of developed hours, this board's percentage of completion is <strong>{{current_percentage_of_completion|floatformat:-2}} %</strong>. {% if board.percentage_of_completion %}But actually, the developed percentage is of <strong>{{board.percentage_of_completion}} %</strong>{% endif %}</p>
                            {% if current_percentage_of_completion > board.percentage_of_completion %}
                                <p>It is <strong>behind</strong> schedule.</p>
                            {% elif current_percentage_of_completion < board.percentage_of_completion %}
                                <p>It is <strong>ahead</strong> of schedule. Congratulations.</p>
                            {% else %}
                                <p>It is on schedule.</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}

              {% endwith %}
        </div>
      </div>
    </div>
</div>