<h1>
    {% if member %}
        {{member.trello_username}}'s dashboard
    {% else %}
        Visitor {{user.username}}'s dashboard
    {% endif %}
</h1>

<div class="dashboard">
    {% if boards|length == 0 %}
        {% include "boards/no_boards_warning.html" %}
    {% endif %}
</div>

{% if member.is_developer %}
    <div>
        <h2>Work</h2>
        <div class="row">
            <div class="col-md-12">
                {% with today_member_spent_time=member.get_today_spent_time %}
                    Today you've worked <strong>{{today_member_spent_time|floatformat:-2}} hours</strong>.
                    {% if today_member_spent_time >= 7 %}
                        <strong>Congratulations. That's a great success.</strong>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-12">
                {% with yesterday_member_spent_time=member.get_yesterday_spent_time %}
                    Yesterday you worked <strong>{{yesterday_member_spent_time|floatformat:-2}} hours</strong>.
                    {% if yesterday_member_spent_time >= 7 %}
                        <strong>Congratulations. That's a great success. Keep the good work on!</strong>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <h2>Projects summary</h2>
    {% for board in member.boards.all %}
        {% if not board.is_archived and board.is_ready and board.is_fetched %}
            {% include "index/components/board.html" %}
        {% endif %}
    {% endfor %}

    {% include "index/components/task_board/board.html" %}
    {% include "members/components/tasks_in_development_boards.html" %}
{% endif %}

{% if  boards|length > 0 %}

    <h2>Charts</h2>

        <div class="row">
            {% if developers|length > 0 %}
                <div class="col-md-6">
                    <div>
                        <select id="select_member_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for member_i in developers %}
                                <option value="{{member_i.id}}" {% if member_i.id == member.id %}selected="selected"{% endif %}>{{member_i.trello_username}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_week_of_year_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_board_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            <option value="">All boards</option>
                            {% for board in boards %}
                                <option value="{{board.id}}">{{board.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_day_of_the_week' %}" title="Spent time by {{request.user.member.trello_username}}">
                        <img id="spent_time_by_day_of_the_week" src="{% url 'charts:spent_time_by_day_of_the_week' %}" alt="Spent time by {{request.user.member.trello_username}}"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div>
                        <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member">
                        <img id="spent_time_by_week" src="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member"/>
                    </a>
                </div>
            {% else %}
                {% include "members/components/no_developers_warning.html" %}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_comments_by_member' %}" title="Number of comments by member">
                    <img src="{% url 'charts:number_of_comments_by_member' %}" alt="Number of comments by member" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_weekday' %}" title="Average spent time per weekday by member">
                    <img src="{% url 'charts:avg_spent_time_by_weekday' %}" alt="Average spent time per weekday by member" />
                </a>
            </div>
        </div>


    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:task_forward_movements_by_member' %}" title="Task forward movements by member">
                <img src="{% url 'charts:task_forward_movements_by_member' %}" alt="Task forward movements by member"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:task_backward_movements_by_member' %}" title="Task backward movements by member">
                <img src="{% url 'charts:task_backward_movements_by_member' %}" alt="Task backward movements by member"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time' %}" title="Average lead time">
                <img src="{% url 'charts:avg_lead_time' %}" alt="Average lead time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time_by_month' %}" title="Average lead time by month">
                <img src="{% url 'charts:avg_lead_time_by_month' %}" alt="Average lead time  by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time' %}" title="Average cycle time">
                <img src="{% url 'charts:avg_cycle_time' %}" alt="Average cycle time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time_by_month' %}" title="Average cycle time by month">
                <img src="{% url 'charts:avg_cycle_time_by_month' %}" alt="Average cycle time by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_spent_time' %}" title="Average spent time">
                <img src="{% url 'charts:avg_spent_time' %}" alt="Average spent time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_estimated_time' %}">
                <img src="{% url 'charts:avg_estimated_time' %}" alt="Average estimated time"/>
            </a>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level' %}" alt="Noise level per day">
                    <img src="{% url 'charts:noise_level' %}" alt="Noise level" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:subjective_noise_level' %}" title="Subjective noise level">
                    <img src="{% url 'charts:subjective_noise_level' %}" alt="Subjective noise level" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_hour' %}" title="Noise level per hour">
                    <img src="{% url 'charts:noise_level_per_hour' %}" alt="Noise level per hour" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_weekday' %}" title="Noise level per weekday">
                    <img src="{% url 'charts:noise_level_per_weekday' %}" alt="Noise level per weekday" />
                </a>
            </div>
        </div>
{% endif %}
