{% load humanize %}
{% load async_include %}

<h1>
    {% if member %}
        {{member.external_username}}'s dashboard
    {% else %}
        Visitor {{user.username}}'s dashboard
    {% endif %}
</h1>

<div class="dashboard">
    {% if boards|length == 0 %}
        {% include "boards/components/list/no_boards_warning.html" %}
    {% endif %}
</div>

{% if member.is_developer %}
    <div class="row">
        <div class="col-md-4">
            <h2>Work</h2>
            <div class="row">
                <div class="col-md-12">
                    {% with today_member_spent_time=member.get_today_spent_time %}
                        Today you've worked <strong>{{today_member_spent_time|floatformat:-2}} hours</strong>.
                        {% if today_member_spent_time >= 7 %}
                            <strong>Congratulations. That's a great success.</strong>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-12">
                    {% with yesterday_member_spent_time=member.get_yesterday_spent_time %}
                        Yesterday you worked <strong>{{yesterday_member_spent_time|floatformat:-2}} hours</strong>.
                        {% if yesterday_member_spent_time >= 7 %}
                            <strong>Congratulations. That's a great success. Keep the good work on!</strong>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Downtime</h2>
            {% with all_boards_in_downtime=member.all_boards_in_downtime %}
                {% if all_boards_in_downtime %}
                    <div class="panel panel-danger">
                      <div class="panel-heading">Downtime in all your boards</div>
                      <div class="panel-body">
                        There are no tasks in pending to develop or in development state in any of your boards.
                      </div>
                    </div>
                {% endif %}

                {% if member.is_developer and member.is_in_downtime %}
                    <div>
                        You are on downtime since {{member.last_work_datetime}}.
                        {% if not all_boards_in_downtime %}
                            There are pending or in development cards you can help working with.
                        {% endif %}
                    </div>
                {% endif %}
                {% for member_i in downtime_developers %}
                    <div>
                        {{member_i.external_username}} is in downtime since {{member_i.last_work_datetime}}.
                        {% if not all_boards_in_downtime %}
                            Assign him/her one of the pending or in development tasks.
                        {% endif %}
                    </div>
                {% empty %}
                    {% if member.is_developer and member.is_in_downtime %}
                        <div>No other developers are in downtime.</div>
                    {% else %}
                        <div>No developers are in downtime.</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
    </div>

    <h2>Status</h2>
    <div class="row">
        <div class="col-md-8">
            <h3>Current projects</h3>
             <div class="row">
                {% for board in member.boards.all %}
                    {% if not board.is_archived and board.is_ready and board.is_fetched %}
                        {% async_include "index/components/board.html" board=board html__tag__class='col-md-6' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h3>Pending cards</h3>
            {% async_include "index/components/pending_cards_by_label.html" pending_red_cards=pending_red_cards pending_orange_cards=pending_orange_cards pending_yellow_cards=pending_yellow_cards %}
        </div>
    </div>

    {% include "index/components/multiboards.html" %}

    {% async_include "members/components/tasks_in_development_boards.html" member=member %}
{% endif %}

{% if  boards|length > 0 %}

    <h2>Charts</h2>

        <div class="row">
            {% if developers|length > 0 %}
                <div class="col-md-6">
                    <div>
                        <select id="select_member_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for member_i in developers %}
                                <option value="{{member_i.id}}" {% if member_i.id == member.id %}selected="selected"{% endif %}>{{member_i.external_username}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_week_of_year_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_board_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            <option value="">All boards</option>
                            {% for board in boards %}
                                <option value="{{board.id}}">{{board.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_day_of_the_week' %}" title="Spent time by {{request.user.member.external_username}}">
                        <img id="spent_time_by_day_of_the_week" class="ajax-img" data-src="{% url 'charts:spent_time_by_day_of_the_week' %}" alt="Spent time by {{request.user.member.external_username}}"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div>
                        <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member">
                        <img id="spent_time_by_week" class="ajax-img" data-src="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member"/>
                    </a>
                </div>
            {% else %}
                {% include "members/components/no_developers_warning.html" %}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Developed value of tasks</h3>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'charts:cumulative_card_value_evolution' 'all' %}" title="Cumulative card value evolution">
                            <img class="ajax-img" data-src="{% url 'charts:cumulative_card_value_evolution' 'all' %}" alt="Cumulative card value evolution"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'charts:card_value_evolution' 'all' %}" title="Evolution of developed value">
                            <img class="ajax-img" data-src="{% url 'charts:card_value_evolution' 'all' %}" alt="Card value evolution"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'charts:card_value_evolution_by_member' 'all' %}" title="Evolution of developed value by member">
                            <img class="ajax-img" data-src="{% url 'charts:card_value_evolution_by_member' 'all' %}" alt="Card value evolution by member"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_comments_by_member' %}" title="Number of comments by member">
                    <img class="ajax-img" data-src="{% url 'charts:number_of_comments_by_member' %}" alt="Number of comments by member" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_weekday' %}" title="Average spent time per weekday by member">
                    <img class="ajax-img" data-src="{% url 'charts:avg_spent_time_by_weekday' %}" alt="Average spent time per weekday by member" />
                </a>
            </div>
        </div>


    <div class="row">
        <div class="col-sm-12">
                <h3>Task movements</h3>
            </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:task_forward_movements_by_member' %}" title="Task forward movements by member">
                <img class="ajax-img" data-src="{% url 'charts:task_forward_movements_by_member' %}" alt="Task forward movements by member"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:task_backward_movements_by_member' %}" title="Task backward movements by member">
                <img class="ajax-img" data-src="{% url 'charts:task_backward_movements_by_member' %}" alt="Task backward movements by member"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Lead time</h3>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time' %}" title="Average lead time">
                <img class="ajax-img" data-src="{% url 'charts:avg_lead_time' %}" alt="Average lead time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time_by_month' %}" title="Average lead time by month">
                <img class="ajax-img" data-src="{% url 'charts:avg_lead_time_by_month' %}" alt="Average lead time  by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Cycle time</h3>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time' %}" title="Average cycle time">
                <img class="ajax-img" data-src="{% url 'charts:avg_cycle_time' %}" alt="Average cycle time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time_by_month' %}" title="Average cycle time by month">
                <img class="ajax-img" data-src="{% url 'charts:avg_cycle_time_by_month' %}" alt="Average cycle time by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
                <h3>Spent and estimated time</h3>
            </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_spent_time' %}" title="Average spent time">
                <img class="ajax-img" data-src="{% url 'charts:avg_spent_time' %}" alt="Average spent time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_estimated_time' %}">
                <img class="ajax-img" data-src="{% url 'charts:avg_estimated_time' %}" alt="Average estimated time"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <h3>Noise levels</h3>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level' %}" title="Noise level per day">
                    <img class="ajax-img" data-src="{% url 'charts:noise_level' %}" alt="Noise level" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:subjective_noise_level' %}" title="Subjective noise level">
                    <img class="ajax-img" data-src="{% url 'charts:subjective_noise_level' %}" alt="Subjective noise level" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_hour' %}" title="Noise level per hour">
                    <img class="ajax-img" data-src="{% url 'charts:noise_level_per_hour' %}" alt="Noise level per hour" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_weekday' %}" title="Noise level per weekday">
                    <img class="ajax-img" data-src="{% url 'charts:noise_level_per_weekday' %}" alt="Noise level per weekday" />
                </a>
            </div>
        </div>
{% endif %}
