{% load humanize %}

<h1>
    {% if member %}
        {{member.external_username}}'s dashboard
    {% else %}
        Visitor {{user.username}}'s dashboard
    {% endif %}
</h1>

<div class="dashboard">
    {% if boards|length == 0 %}
        {% include "boards/components/list/no_boards_warning.html" %}
    {% endif %}
</div>

{% if member.is_developer %}
    <div class="row">
        <div class="col-md-4">
            <h2>Work</h2>
            <div class="row">
                <div class="col-md-12">
                    {% with today_member_spent_time=member.get_today_spent_time %}
                        Today you've worked <strong>{{today_member_spent_time|floatformat:-2}} hours</strong>.
                        {% if today_member_spent_time >= 7 %}
                            <strong>Congratulations. That's a great success.</strong>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-12">
                    {% with yesterday_member_spent_time=member.get_yesterday_spent_time %}
                        Yesterday you worked <strong>{{yesterday_member_spent_time|floatformat:-2}} hours</strong>.
                        {% if yesterday_member_spent_time >= 7 %}
                            <strong>Congratulations. That's a great success. Keep the good work on!</strong>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Downtime</h2>
            {% if member.is_developer and member.is_in_downtime %}
                <div>You are on downtime since {{member.last_work_datetime}}</div>
            {% endif %}
            {% for member_i in downtime_developers %}
                <div>{{member_i.external_username}} is in downtime since {{member_i.last_work_datetime}}.</div>
            {% empty %}
                {% if member.is_developer and member.is_in_downtime %}
                    <div>No other developers are in downtime.</div>
                {% else %}
                    <div>No developers are in downtime.</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <h2>Status</h2>
    <div class="row">
        <div class="col-md-8">
            <h3>Current projects</h3>
            {% for board in member.boards.all %}
                {% if not board.is_archived and board.is_ready and board.is_fetched %}
                    {% include "index/components/board.html" %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h3>Pending cards</h3>
            {% if pending_red_cards|length > 0 %}
                <div>
                    <h3 class="red_cards_title">High priority ({{pending_red_cards|length}})</h3>
                    {% for red_card in pending_red_cards %}
                        <div class="panel panel-danger red_card">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="{% url 'boards:view_card' red_card.board_id red_card.id %}" title="View card">
                                        {{red_card.name}}
                                    </a>
                                    <a href="{{red_card.url}}" title="View card in trello">
                                        <span class="fa fa-trello"></span>
                                    </a>
                                </h4>
                              </div>
                              <div class="panel-body">
                                Since {{red_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' red_card.board_id %}">{{red_card.board.name}}</a>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if pending_orange_cards|length > 0 %}
                <div>
                    <h3 class="orange_cards_title">Medium priority ({{orange_orange_cards|length}})</h3>
                    {% for orange_card in pending_orange_cards %}
                        <div class="panel panel-danger panel-orange orange_card">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="{% url 'boards:view_card' orange_card.board_id orange_card.id %}" title="View card">
                                        {{orange_card.name}}
                                    </a>
                                    <a href="{{orange_card.url}}" title="View card in trello">
                                        <span class="fa fa-trello"></span>
                                    </a>
                                </h4>
                              </div>
                              <div class="panel-body">
                                Since {{orange_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' orange_card.board_id %}">{{orange_card.board.name}}</a>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if pending_yellow_cards|length > 0 %}
                <div>
                    <h3 class="yellow_cards_title">Low priority ({{pending_yellow_cards|length}})</h3>
                    {% for yellow_card in pending_yellow_cards %}
                        <div class="panel panel-warning yellow_card">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="{% url 'boards:view_card' yellow_card.board_id yellow_card.id %}" title="View card">
                                        {{yellow_card.name}}
                                    </a>
                                    <a href="{{yellow_card.url}}" title="View card in trello">
                                        <span class="fa fa-trello"></span>
                                    </a>
                                </h4>
                              </div>
                              <div class="panel-body">
                                Since {{yellow_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' yellow_card.board_id %}">{{yellow_card.board.name}}</a>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

    {% include "index/components/task_board/board.html" %}
    {% include "members/components/tasks_in_development_boards.html" %}
{% endif %}

{% if  boards|length > 0 %}

    <h2>Charts</h2>

        <div class="row">
            {% if developers|length > 0 %}
                <div class="col-md-6">
                    <div>
                        <select id="select_member_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for member_i in developers %}
                                <option value="{{member_i.id}}" {% if member_i.id == member.id %}selected="selected"{% endif %}>{{member_i.external_username}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_week_of_year_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                        <select id="select_board_in_spent_time_by_day_of_the_week" class="select_parameter_in_spent_time_by_day_of_the_week">
                            <option value="">All boards</option>
                            {% for board in boards %}
                                <option value="{{board.id}}">{{board.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_day_of_the_week' %}" title="Spent time by {{request.user.member.external_username}}">
                        <img id="spent_time_by_day_of_the_week" src="{% url 'charts:spent_time_by_day_of_the_week' %}" alt="Spent time by {{request.user.member.external_username}}"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div>
                        <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member">
                        <img id="spent_time_by_week" src="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member"/>
                    </a>
                </div>
            {% else %}
                {% include "members/components/no_developers_warning.html" %}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_comments_by_member' %}" title="Number of comments by member">
                    <img src="{% url 'charts:number_of_comments_by_member' %}" alt="Number of comments by member" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_weekday' %}" title="Average spent time per weekday by member">
                    <img src="{% url 'charts:avg_spent_time_by_weekday' %}" alt="Average spent time per weekday by member" />
                </a>
            </div>
        </div>


    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:task_forward_movements_by_member' %}" title="Task forward movements by member">
                <img src="{% url 'charts:task_forward_movements_by_member' %}" alt="Task forward movements by member"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:task_backward_movements_by_member' %}" title="Task backward movements by member">
                <img src="{% url 'charts:task_backward_movements_by_member' %}" alt="Task backward movements by member"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time' %}" title="Average lead time">
                <img src="{% url 'charts:avg_lead_time' %}" alt="Average lead time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_lead_time_by_month' %}" title="Average lead time by month">
                <img src="{% url 'charts:avg_lead_time_by_month' %}" alt="Average lead time  by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time' %}" title="Average cycle time">
                <img src="{% url 'charts:avg_cycle_time' %}" alt="Average cycle time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_cycle_time_by_month' %}" title="Average cycle time by month">
                <img src="{% url 'charts:avg_cycle_time_by_month' %}" alt="Average cycle time by month"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_spent_time' %}" title="Average spent time">
                <img src="{% url 'charts:avg_spent_time' %}" alt="Average spent time"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'charts:avg_estimated_time' %}">
                <img src="{% url 'charts:avg_estimated_time' %}" alt="Average estimated time"/>
            </a>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level' %}" alt="Noise level per day">
                    <img src="{% url 'charts:noise_level' %}" alt="Noise level" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:subjective_noise_level' %}" title="Subjective noise level">
                    <img src="{% url 'charts:subjective_noise_level' %}" alt="Subjective noise level" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_hour' %}" title="Noise level per hour">
                    <img src="{% url 'charts:noise_level_per_hour' %}" alt="Noise level per hour" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'charts:noise_level_per_weekday' %}" title="Noise level per weekday">
                    <img src="{% url 'charts:noise_level_per_weekday' %}" alt="Noise level per weekday" />
                </a>
            </div>
        </div>
{% endif %}
