{% load async_include %}

<div id="index_multiboards">
    {% for multiboard in multiboards %}
        <div class="multiboard">
            <h1 class="multiboard-title" data-id="{{multiboard.id}}">
                Multiboard {{multiboard.name}}
                <span class="fa fa-eye"></span>
                <span class="fa fa-eye-slash" style="display: none;"></span>
            </h1>
            <div id="list_types-container-wrapper-{{multiboard.id}}" class="list_types-container-wrapper">
                {% async_include "multiboards/components/view_task_board/full_board.html" multiboard=multiboard member=member %}
            </div>
        </div>
    {% endfor %}
</div>