{% load humanize %}
{% load async_included %}

<div class="pending_cards_by_label">
    {% if pending_red_cards|length > 0 %}
        <div>
            <h3 class="red_cards_title">High priority ({{pending_red_cards|length}})</h3>
            <div class="red_cards">
                {% for red_card in pending_red_cards %}
                    <div class="panel panel-danger red_card">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="{% url 'boards:view_card' red_card.board_id red_card.id %}" title="View card">
                                    <img class="board-identicon" src="{% url 'boards:view_identicon' red_card.board_id %}" alt="Identicon of board of {{red_card.name}}" />
                                    {{red_card.name}}
                                </a>
                                <a href="{{red_card.url}}" title="View card in trello">
                                    <span class="fa fa-trello"></span>
                                </a>
                            </h4>
                          </div>
                          <div class="panel-body">
                            Since {{red_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' red_card.board_id %}">{{red_card.board.name}}</a>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if pending_orange_cards|length > 0 %}
        <div>
            <h3 class="orange_cards_title">Medium priority ({{pending_orange_cards|length}})</h3>
            <div class="orange_cards">
                {% for orange_card in pending_orange_cards %}
                    <div class="panel panel-danger panel-orange orange_card">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="{% url 'boards:view_card' orange_card.board_id orange_card.id %}" title="View card">
                                    <img class="board-identicon" src="{% url 'boards:view_identicon' orange_card.board_id %}" alt="Identicon of board of {{orange_card.name}}" />
                                    {{orange_card.name}}
                                </a>
                                <a href="{{orange_card.url}}" title="View card in trello">
                                    <span class="fa fa-trello"></span>
                                </a>
                            </h4>
                          </div>
                          <div class="panel-body">
                            Since {{orange_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' orange_card.board_id %}">{{orange_card.board.name}}</a>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if pending_yellow_cards|length > 0 %}
        <div>
            <h3 class="yellow_cards_title">Low priority ({{pending_yellow_cards|length}})</h3>
            <div class="yellow_cards">
                {% for yellow_card in pending_yellow_cards %}
                    <div class="panel panel-warning yellow_card">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="{% url 'boards:view_card' yellow_card.board_id yellow_card.id %}" title="View card">
                                    <img class="board-identicon" src="{% url 'boards:view_identicon' yellow_card.board_id %}" alt="Identicon of board of {{yellow_card.name}}" />
                                    {{yellow_card.name}}
                                </a>
                                <a href="{{yellow_card.url}}" title="View card in trello">
                                    <span class="fa fa-trello"></span>
                                </a>
                            </h4>
                          </div>
                          <div class="panel-body">
                            Since {{yellow_card.ready_to_develop_datetime|naturaltime}} waiting in <a href="{% url 'boards:view_board' yellow_card.board_id %}">{{yellow_card.board.name}}</a>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>