{% extends "boards/view.html" %}

{% block page_title %}Agility rating for project {{board.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h1>Agility rating for project {{board.name}}</h1>
              </div>
              <div class="panel-body row">
                  <div class="col-md-12">
                      <div class="actions">
                            {% if member %}
                                <p>
                                    <a href="{% url 'boards:agility_rating:edit' board.id %}" title="Edit agility rating of project {{board.name}}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a href="{% url 'boards:agility_rating:delete' board.id %}" title="Delete agility rating or project {{board.name}}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </p>
                          {% endif %}
                      </div>
                       <div class="row">
                           {% if board.agility_rating %}
                                {% with agility_rating=board.agility_rating %}
                                   <div class="col-md-6 data">
                                       <p><strong>Personnel</strong>: {{agility_rating.get_personnel_display}}</p>
                                       <p><strong>Dynamism</strong>: {{agility_rating.get_dynamism_display}}</p>
                                       <p><strong>Culture</strong>: {{agility_rating.get_culture_display}}</p>
                                       <p><strong>Size</strong>: {{agility_rating.get_size_display}}</p>
                                       <p><strong>Criticality</strong>: {{agility_rating.get_criticality_display}}</p>
                                   </div>
                                {% endwith %}
                               <div class="col-md-6 chart">
                                    <a href="{% url 'charts:view_agility_rating' board.id %}" title="{{board.name}} agility rating">
                                        <img src="{% url 'charts:view_agility_rating' board.id %}" alt="{{board.name}} agility rating"/>
                                    </a>
                               </div>
                           {% else %}
                                Please, <a href="{% url 'boards:agility_rating:new' board.id %}">create first an agility rating.
                           {% endif %}
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}