{% extends "boards/view.html" %}

{% block page_title %}Agility rating for project {{board.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h1>Agility rating for project {{board.name}}</h1>
              </div>
              <div class="panel-body row">
                  <div class="col-md-12">
                      <div class="actions">
                            {% if member %}
                                <p>
                                    <a href="{% url 'boards:agility_rating:edit' board.id %}" title="Edit agility rating of project {{board.name}}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a href="{% url 'boards:agility_rating:delete' board.id %}" title="Delete agility rating or project {{board.name}}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </p>
                          {% endif %}
                      </div>
                       <div class="row">
                           {% if board.agility_rating %}
                                {% with agility_rating=board.agility_rating %}
                                   <div class="col-md-5 data">
                                       <div class="factor">
                                           <h2>Personnel</h2>
                                           <div>{{agility_rating.get_personnel_display}}</div>
                                           <div>
                                               Percentage of team members according to their software development skills.
                                           </div>
                                       </div>
                                       <div class="factor">
                                           <h2>Dynamism</h2>
                                           <div>{{agility_rating.get_dynamism_display}}</div>
                                           <div>Percentage of changes per month</div>
                                       </div>
                                       <div class="factor">
                                           <h2>Culture</h2>
                                           <div>{{agility_rating.get_culture_display}}</div>
                                           <div>Software development culture. A high number represents a less rigid work scheme.</div>
                                       </div>
                                       <div class="factor">
                                           <h2>Size</h2>
                                           <div>{{agility_rating.get_size_display}}</div>
                                           <div>Size of the software development team.</div>
                                       </div>
                                       <div class="factor">
                                           <h2>Criticality</h2>
                                           <div>{{agility_rating.get_criticality_display}}</div>
                                           <div>Software products are not critical or funds/lives depend on them.</div>
                                       </div>
                                   </div>
                                {% endwith %}
                               <div class="col-md-7 chart">
                                   <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h2 class="center-text">
                                                How agile is this project?
                                                <span class="label label-danger">
                                                    Its agility ranking is <strong>{{agility_rating.value}}%</strong>.
                                                </span>
                                            </h2>
                                        </div>
                                   </div>

                                    <div>
                                        <a href="{% url 'charts:view_agility_rating' board.id %}" title="{{board.name}} agility rating">
                                            <img src="{% url 'charts:view_agility_rating' board.id %}" alt="{{board.name}} agility rating"/>
                                        </a>
                                    </div>
                               </div>
                           {% else %}
                                Please, <a href="{% url 'boards:agility_rating:new' board.id %}">create first an agility rating.
                           {% endif %}
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}