{% extends "base/base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
    {% if request.user and request.user.is_authenticated %}
        {% include "base/auth/components/already_logged_warning.html" %}
    {% else %}
        <h1>Reset password</h1>
        {% if form %}
            {% include "forms/form.html" %}
        {% elif requester_user %}
            <div class="row">
                <div class="col-md-5 center-block">
                    <div class="panel panel-success">
                      <div class="panel-heading">Password change successfully!</div>
                      <div class="panel-body">
                          <p>
                            Your password has been changed successfully.
                          </p>
                          <p>
                              <a href="{% url 'base:login' %}" title="Login">Login</a> now with it.
                          </p>
                      </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}