<h2>Charts</h2>
<div>

    {% block burndown %}

        <div class="row">

            {# Requirement burndown #}
            <div class="col-sm-6">
                {% if requirements|length > 0 %}
                <div>
                    <select id="select_requirement_for_requirement_burndown" class="select_requirement_for_requirement_burndown">
                        <option value="">All requirements</option>
                        {% for requirement_i in requirements %}
                            {% if requirement_i.active %}
                                <option value="{{requirement_i.code}}" {% if requirement_i.id == requirement.id %}selected="selected"{% endif %}>{{requirement_i.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'charts:requirement_burndown' board.id requirement.code  %}" title="Requirement {{requirement.code}} burndown for board {{board.name}}">
                    <img id="requirement_burndown" src="{% url 'charts:requirement_burndown' board.id  requirement.code  %}" alt="Requirement {{requirement.code}} burndown for board {{board.name}}"/>
                </a>
                {% else %}
                    Create requirements for this project to see requirement burndown charts.
                {% endif %}
            </div>

            {# Burndown #}
            <div class="col-sm-{% if requirements|length > 0 %}6{% else %}12{% endif %}">
                {% if board.estimated_number_of_hours > 0 %}
                    <a href="{% url 'charts:burndown' board.id %}" title="Burndown according to board estimates">
                        <img id="burndown" src="{% url 'charts:burndown' board.id %}" alt="Burndown of board {{board.name}}"/>
                    </a>
                {% else %}
                    Set the estimated numbers of hours to see the burndown chart.
                {% endif %}
            </div>
        </div>
    {% endblock burndown %}

    {% block task_times_charts %}
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                        {% for week_i in weeks_of_year %}
                            <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" title="Spent time by member">
                    <img id="spent_time_by_week" src="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" alt="Spent time by member"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:spent_time_by_week_evolution' board.id %}" title="Evolution of spent time">
                    <img src="{% url 'charts:spent_time_by_week_evolution' board.id %}" alt="Evolution of spent time"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_weekday' board.id %}" title="Average spent time per weekday by member">
                    <img src="{% url 'charts:avg_spent_time_by_weekday' board.id %}" alt="Average spent time per weekday by member" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:spent_time_by_week_evolution' board.id %}?show_interruptions=1" title="Evolution of spent time">
                    <img src="{% url 'charts:spent_time_by_week_evolution' board.id %}?show_interruptions=1" alt="Evolution of spent time"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_time_by_list' board.id %}" title="Average time a card is in each list">
                    <img src="{% url 'charts:avg_time_by_list' board.id %}" alt="Average time a card is in each list"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_estimated_time_by_list' board.id %}" title="Average estimated time a card is in each list">
                    <img src="{% url 'charts:avg_estimated_time_by_list' board.id %}" alt="Average estimated time a card is in each list"/>
                </a>
            </div>
        </div>

    {% endblock task_times_charts %}

    {% block task_number %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_cards_worked_on_by_month' board.id %}" title="Tasks worked on by month">
                    <img src="{% url 'charts:number_of_cards_worked_on_by_month' board.id %}" alt="Tasks worked on by month"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_cards_worked_on_by_week' board.id %}" title="Tasks worked on by week">
                    <img src="{% url 'charts:number_of_cards_worked_on_by_week' board.id %}" alt="Tasks worked on by week"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:cumulative_list_evolution' board.id %}" title="Evolution of number of tasks by list">
                    <img src="{% url 'charts:cumulative_list_evolution' board.id %}" alt="Evolution of number of tasks by list"/>
                </a>
            </div>
             <div class="col-sm-6">
                <a href="{% url 'charts:cumulative_card_evolution' board.id %}" title="Evolution of number of tasks thru time">
                    <img src="{% url 'charts:cumulative_card_evolution' board.id %}" alt="Evolution of number of tasks thru time"/>
                </a>
            </div>
        </div>
    {% endblock task_number %}

    {% block task_movement_charts %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:task_forward_movements_by_member' board.id %}" title="Task forward movements by member">
                    <img src="{% url 'charts:task_forward_movements_by_member' board.id %}" alt="Task forward movements by member"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:task_backward_movements_by_member' board.id %}" title="Task backward movements by member">
                    <img src="{% url 'charts:task_backward_movements_by_member' board.id %}" alt="Task backward movements by member"/>
                </a>
            </div>
        </div>
    {% endblock task_movement_charts %}

    {% block card_stats_charts %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_lead_time' board.id %}" title="Average lead time">
                    <img src="{% url 'charts:avg_lead_time' board.id %}" alt="Average lead time"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_cycle_time' board.id %}" title="Average cycle time">
                    <img src="{% url 'charts:avg_cycle_time' board.id %}" alt="Average cycle time"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time' board.id %}" title="Average spent time">
                    <img src="{% url 'charts:avg_spent_time' board.id %}" alt="Average spent time"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_month' board.id %}" title="Average spent time by month">
                    <img src="{% url 'charts:avg_spent_time_by_month' board.id %}" alt="Average spent time by month"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_estimated_time' board.id %}" title="Average estimated time">
                    <img src="{% url 'charts:avg_estimated_time' board.id %}" alt="Average estimated time"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_estimated_time_by_month' board.id %}" title="Average estimated time by month">
                    <img src="{% url 'charts:avg_estimated_time_by_month' board.id %}" alt="Average estimated time by month"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_comments_by_member' board.id %}" title="Number of comments by member">
                    <img src="{% url 'charts:number_of_comments_by_member' board.id %}" alt="Number of comments by member"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_comments' board.id %}" title="Evolution of number of comments thru time">
                    <img src="{% url 'charts:number_of_comments' board.id %}" alt="Evolution of number of comment thru time"/>
                </a>
            </div>
        </div>
    {% endblock card_stats_charts %}

    {% block quality_charts %}
        {% with has_php_report=board.has_php_assessment_report %}
            {% with has_python_report=board.has_python_assessment_report %}
                {% if has_python_report %}
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{% url 'charts:number_of_code_errors' 'month' board.id 'python' %}" title="Python code quality by month">
                                <img src="{% url 'charts:number_of_code_errors' 'month' board.id 'python' %}" alt="Python code quality by month"/>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id 'python' %}" title="Number of errors of Python code per LOC by month">
                                <img src="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id 'python' %}" alt="Number of errors of Python code per LOC by month"/>
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if has_php_report %}
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{% url 'charts:number_of_code_errors' 'month' board.id 'php' %}" title="PHP code quality by month">
                                <img src="{% url 'charts:number_of_code_errors' 'month' board.id 'php' %}" alt="PHP code quality by month"/>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'charts:number_of_code_errors' 'month' board.id 'php' %}" title="Number of errors of PHP code per LOC by month">
                                <img src="{% url 'charts:number_of_code_errors' 'month' board.id 'php' %}" alt="Number of errors of PHP code per LOC by month"/>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endblock quality_charts %}

    {% block interruption_charts %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:interruptions' board.id %}" title="Interruptions">
                    <img src="{% url 'charts:interruptions' board.id %}" alt="Interruptions"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:interruptions_by_month' board.id %}" title="Interruptions by month">
                    <img src="{% url 'charts:interruptions_by_month' board.id %}" alt="Interruptions by month"/>
                </a>
            </div>
        </div>
    {% endblock interruption_charts %}


</div>