{% load template_extensions %}

{% if board.estimated_number_of_hours %}
    {% with current_percentage_of_completion=board.current_percentage_of_completion %}
        <div class="panel panel-{% if current_percentage_of_completion == board.percentage_of_completion %}warning{% elif current_percentage_of_completion < board.percentage_of_completion %}success{% else %}danger{% endif %}">
            <div class="panel-heading">
                <h3 class="panel-title">Percentage of completion of {{board.name}}</h3>
            </div>
            <div class="panel-body">
                This project should be at least at <strong>{{current_percentage_of_completion|floatformat:-2}} %</strong>.
                {% if board.percentage_of_completion %}
                    According to {% if member %}<a href="{% url 'boards:edit' board.id %}">this board settings</a>{% else %}this board settings{% endif %}, it is at <strong>{{board.percentage_of_completion|floatformat:2}} %</strong>.
                    {% if current_percentage_of_completion == board.percentage_of_completion %}
                        <span>Congratulations.</span>
                    {% elif current_percentage_of_completion < board.percentage_of_completion %}
                        <span>Congratulations. That's <strong>{{board.percentage_of_completion|subtract:current_percentage_of_completion|floatformat:-2}} % ahead of estimated hours</strong>.</span>
                    {% else %}
                        <span>Be careful. You are behind the expected estimations.</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endwith %}

{% endif %}