{% load template_extensions %}

{% with num_lists=lists|length %}
    <div id="full_task_board" style="min-width: {{num_lists|multiply:260|add:100}}px; background-color: #{{board.background_color}};">
        <h2 style="color: #{{board.title_color}};">{{board.name}} task board</h2>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'boards:view_dashboard' board.id %}" class="btn btn-primary">
                    <span class="fa fa-eye">
                    View task board
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: #{{board.title_color}};">
                This board show all done tasks.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="javascript:void(0);" id="show-list-cards" class="toggle-list-cards btn btn-primary">
                        <span class="fa fa-eye"></span>
                        Show list cards
                    </a>
                    <a href="javascript:void(0);" id="hide-list-cards" class="toggle-list-cards btn btn-primary">
                        <span class="fa fa-eye-slash"></span>
                        Hide list cards
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            {% for list in lists %}
                <div class="list {% if num_lists <= 6 %}col-md-2{% elif num_list <= 12 %}col-md-1{% endif %}">
                    <div class="panel {% if list.type == 'done' %}panel-success{% elif list.type == 'development' %}panel-primary{% else %}panel-default{% endif %}">
                        {% with list_active_cards=list.active_cards %}
                            <div class="panel-heading list-heading cursor-pointer">
                                <strong>{{list.name}}</strong> ({{list_active_cards|length}} tasks)
                            </div>
                            <div class="panel-body cards" data-num_cards="{{list_active_cards|length}}">
                                {% for card in list_active_cards %}
                                    {% include "boards/components/view/full_board_card.html" %}
                                {% endfor %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endwith %}