<div class="row">
    <div class="col-md-12 card">
        <div class="panel panel-info">
          <div class="panel-heading">
              <a href="{{card.short_url}}" title="View card {{card.name}} in board {{card.board.name}}">{{card.name}}</a>
          </div>
          <div class="panel-body">
              <div class="card-info">
                  <div>Last activity: {{card.last_activity_datetime}}</div>
                  {% if card.spent_time %}<div>Spent time: {{card.spent_time|floatformat:-2}} hours</div>{% else %}{% endif %}
                  {% if card.description %}
                    <div class="description cursor-pointer">
                        <div class="short_description">{{card.description|truncatechars:50}}</div>
                        <div class="long_description">{{card.description}}</div>
                    </div>
                  {% endif %}
              </div>
              {% if card.is_blocked %}
                  <div class="panel panel-default cursor-help" title="This card is blocked by {{card.pending_blocking_cards|length}} card(s). End them before developing this one.">
                      <div class="panel-heading">Blocking cards</div>
                      <div class="panel-body">
                          <div class="list-group">
                              {% for blocking_card in card.pending_blocking_cards %}
                                <p class="list-group-item">
                                    <a href="{{blocking_card.short_url}}" title="View card {{blocking_card.name}} in board {{blocking_card.board.name}}">{{blocking_card.name}}</a>
                                </p>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              {% endif %}
          </div>
        </div>
    </div>
</div>