{% with url_name=request.resolver_match.url_name url_namespace=request.resolver_match.namespace %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'boards:view' board.id %}" title="Go to {{board.name}} dashboard">
                    {{board.name|truncatechars:20}}
                </a>
            </div>
            {% if board.estimated_number_of_hours %}
                {% with board_spent_time=board.get_spent_time %}
                    {% with board_adjusted_spent_time=board.get_adjusted_spent_time %}
                        <div id="board_spent_time">
                            <span class="navbar-text label {% if board_spent_time < board.estimated_number_of_hours %}label-success{% elif board_spent_time == board.estimated_number_of_hours %}label-warning{% else %}label-danger{% endif %}">
                                <strong>Spent time</strong>:
                                <span class="cursor-help" title="Actual spent time until now ({{board_spent_time|floatformat:-2}} hours)">
                                    {{board_spent_time|floatformat:-2}}
                                </span>

                                (<span class="cursor-help" title="Adjusted spent time until now ({{board_adjusted_spent_time|floatformat:-2}} hours)">
                                    {{board_adjusted_spent_time|floatformat:-2}} adjusted
                                </span>)
                                hours of
                                <strong class="cursor-help" title="Maximum spent time allowed by budget ({{board.estimated_number_of_hours|floatformat:-2}} hours were paid by client)">
                                    {{board.estimated_number_of_hours|floatformat:-2}}
                                </strong> hours
                            </span>
                        </div>
                    {% endwith %}
                {% endwith %}
            {% endif %}

            <div class="" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if member %}
                        <li {% if url_name == "edit" %}class="active"{% endif %}>
                            <a href="{% url 'boards:edit' board.id %}" title="Edit board {{board.name}}">
                                <span class="fa fa-pencil"></span> Edit
                            </a>
                        </li>
                        <li {% if url_name == "view_lists" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_lists' board.id %}" title="Lists of board {{board.name}}">
                                <span class="fa fa-list"></span> Lists
                            </a>
                        </li>
                    {% endif %}
                    {% if board.is_ready and board.is_fetched %}
                        <li {% if url_namespace == "boards:journal" %}class="active"{% endif %}>
                            <a href="{% url 'boards:journal:view' board.id %}" title="Journal of project {{board.name}}">
                                <span class="fa fa-leaf"></span> Journal
                            </a>
                        </li>
                        <li {% if url_name == "view_requirements" %}class="active"{% endif %}>
                            <a href="{% url 'boards:requirements:view_requirements' board.id %}" title="Requirements for project {{board.name}}">
                                <span class="fa fa-cogs"></span> Requirements
                            </a>
                        </li>
                        <li {% if url_name == "view_card_report" or url_name == "view_card"  %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_card_report' board.id %}" title="Cards of board {{board.name}}">
                                <span class="fa fa-sticky-note-o"></span> Cards
                            </a>
                        </li>
                        <li {% if url_name == "view_label_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_label_report' board.id %}" title="Labels of board {{board.name}}">
                                <span class="fa fa-tags"></span> Labels
                            </a>
                        </li>
                        <li {% if url_name == "view_member_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_member_report' board.id %}" title="Members of board {{board.name}}">
                                <span class="fa fa-users"></span> Members
                            </a>
                        </li>
                        <li {% if url_name == "view_daily_spent_times" %}class="active"{% endif %}>
                            <a href="{% url 'dev_times:view_daily_spent_times' %}?board_id={{board.id}}" title="Spent times of board {{board.name}}">
                                <span class="fa fa-calendar-check-o"></span> Spent times
                            </a>
                        </li>
                        {% if member %}
                            <li {% if url_namespace == "boards:repositories" %}class="active"{% endif %}>
                                <a href="{% url 'boards:repositories:view_repositories' board.id %}" title="View code repositories of project {{board.name}}">
                                    <span class="fa fa-code-fork"></span> Repositories
                                </a>
                            </li>
                        {% endif %}
                        {% if member %}
                            <li {% if url_namespace == "boards:workflows" %}class="active"{% endif %}>
                                <a href="{% url 'boards:workflows:view_list' board.id %}" title="View workflows of board {{board.name}}">
                                    <span class="fa fa-wrench"></span> Workflows
                                </a>
                            </li>
                        {% endif %}
                        {% if member %}
                            {% if board.has_to_be_fetched %}
                                <li {% if url_name == "fetch" %}class="active"{% endif %}>
                                    <a href="{% url 'boards:fetch' board.id %}" title="Fetch board {{board.name}}">
                                        <span class="fa fa-download"></span> Fetch
                                    </a>
                                </li>
                            {%  endif %}
                            <li {% if url_name == "delete" %}class="active"{% endif %}>
                                <a href="{% url 'boards:delete' board.id %}" title="Delete board {{board.name}}">
                                    <span class="fa fa-trash"></span>  Delete
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endwith %}