{% load humanize %}

<div id="board-summary">
    <div class="row">

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"># Done/All Tasks </h2>
              </div>
              <div class="panel-body">
                  <span class="number_of_tasks">{{board.number_of_done_tasks}}/{{board.number_of_tasks}}</span>
                  {% if member %}
                      <a href="{% url 'boards:new_card' board.id %}" class="btn btn-primary new-task" title="New task for board {{board.name}}">
                        New
                      </a>
                  {% endif %}
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Spent Time</h2>
              </div>
              <div class="panel-body">
                {{board.get_spent_time|floatformat:-2}} hours
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Adj. Spent Time</h2>
              </div>
              <div class="panel-body">
                {{board.get_adjusted_spent_time|floatformat:-2}} hours
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title cursor-help" title="Last month with some work in {{board.name}}">
                    Last month was {{board.get_working_end_date|date:"F Y"}}
                </h2>
              </div>
              <div class="panel-body cursor-help" title="Developed hours in the last moth with work in {{board.name}}">
                  <div>
                      {{board.last_working_month_spent_time|floatformat:-2}} hours
                      ({{board.last_working_month_adjusted_spent_time|floatformat:-2}} adjusted hours)
                  </div>
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Dev. Value</h2>
              </div>
              <div class="panel-body">
                {{board.get_developed_value|floatformat:-2}} ¤
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Adj. Dev. Value</h2>
              </div>
              <div class="panel-body">
                {{board.get_adjusted_developed_value|floatformat:-2}} ¤
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"># Comments </h2>
              </div>
              <div class="panel-body">
                {{board.number_of_comments}}
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"># Members </h2>
              </div>
              <div class="panel-body">
                {{board.members.all.count}}
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Avg. Week Vel.</h2>
              </div>
              <div class="panel-body">
                {{board.average_weekly_spent_time|floatformat:-2}} hours
              </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Last Week Vel.</h2>
              </div>
              <div class="panel-body">
                {{board.last_weekly_spent_time|floatformat:-2}} hours
              </div>
            </div>
        </div>

        {% if board.estimated_number_of_hours %}
            <div class="col-md-2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">Completion </h2>
                  </div>
                  <div class="panel-body">
                    {{board.percentage_of_completion}} %
                  </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if next_due_date_cards %}
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">Next due date cards</h2>
                  </div>
                  <div class="panel-body">
                      <p>Next deadline is <strong>{{next_due_date_cards.0.due_datetime}}</strong> ({{next_due_date_cards.0.due_datetime|naturaltime}})</p>
                      <ul>
                          {% for next_due_date_card in next_due_date_cards %}
                                <li>
                                    <a href="{% url 'boards:view_card' board.id next_due_date_card.id %}" title="View card {{next_due_date_card.name}} in board {{next_due_date_card.board.name}}">
                                        {{next_due_date_card.name}}
                                    </a>

                                    <span class="card_list"><strong>{{next_due_date_card.list.get_type_display}}</strong></span>
                                    <span class="due_datetime_value">
                                        ({{next_due_date_card.due_datetime}}, <strong>{{next_due_date_card.due_datetime|naturaltime}})</strong>
                                    </span>
                                </li>
                          {% endfor %}
                      </ul>
                  </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>