
.pending_cards_by_label {

}

.pending_cards_by_label > div {
    height: auto;
}

.red_cards_title,
.yellow_cards_title,
.orange_cards_title {
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;

    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
}

.red_cards_title {
    background-color: red;
}

.yellow_cards_title {
    background-color: yellow;
}

.orange_cards_title {
    background-color: orange;
}


.panel-orange > .panel-heading {
    color: white;
    background-color: #FFA500;
    border-color: #f2ebde;
}

.red_cards
.orange_cards,
.yellow_cards {
    height: 100vh;
    overflow: scroll;
}

/* Identicons in pending prioritized cards must be smaller 20px */
.pending_cards_by_label img.board-identicon {
    height: 20px;
    width: 20px;
}