{% load async_included %}
{% load staticfiles %}

<link href="{% static 'css/multiboards/components/full_board.css' %}" rel="stylesheet" />

{% with tasks_by_list_type=multiboard.tasks_by_list_type %}
    <div class="row">
        {% for pair_item in tasks_by_list_type.items %}
            {% with list_type_name=pair_item.1.name %}
                {% with cards=pair_item.1.cards %}
                    <div class="list_type col-md-4">
                        <div class="panel {% if list_type == 'done' %}panel-success{% elif list_type == 'development' %}panel-primary{% else %}panel-default{% endif %}">
                            {% with list_active_cards=cards %}
                                <div class="panel-heading list-heading cursor-pointer">
                                    <strong>{{list_type_name}}</strong> ({{list_active_cards|length}} tasks)
                                </div>
                                <div class="panel-body cards" data-num_cards="{{list_active_cards|length}}">
                                    {% for card in list_active_cards %}
                                        {% include "multiboards/components/view/full_board_card.html" %}
                                    {% endfor %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
    </div>
{% endwith %}