{% extends "boards/view.html" %}

{% block page_title %}Lists of board {{board.name}}{% endblock %}

{% block content %}
    <h1>Lists of board {{board.name}}</h1>
    <div class="board_list_actions">
        <a href="{% url 'boards:new_list' board.id %}" class="btn btn-primary" title="Create new list">Create new list</a>
    </div>
    <div class="board_list_list">
        {% if lists|length == 0 %}
            This board has no lists
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th title="Work In Progress limit (maximum number of tasks in this list)" class="cursor-help">WIP limit</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                        <tr>
                            <td>{{list.name}}</td>
                            <td>{% if list.wip_limit != None %}{{list.wip_limit}}{% else %}No WIP limit{% endif %}</td>
                            <td>{{list.get_type_display}}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'boards:edit_list' board.id list.id %}">
                                    <span class="fa fa-pencil"></span> Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if board.is_fetched %}
                <h2>List stats</h2>
                {% include "boards/lists/components/charts.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}