{% extends "boards/view.html" %}

{% block page_title %}Lists of board {{board.name}}{% endblock %}

{% block content %}
    <h1>Lists of board {{board.name}}</h1>
    <div class="board_list_list">
        {% if lists|length == 0 %}
            This board has no lists
        {% else %}
            <ul>
                {% for list in lists %}
                    <li>
                        {{list.name}}
                        <form action="{% url 'boards:change_list_type' %}" method="post" class="form-inline">
                            <input type="hidden" name="list_id" value="{{list.id}}" />
                            <select name="type" class="form-control">
                                {% for list_type, list_type_name in list_types.items %}
                                    <option value="{{list_type}}" {% if list.type == list_type %}selected=selected{% endif %}>{{list_type_name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Change type</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <h2>List stats</h2>
            {% include "boards/lists/components/charts.html" %}
        {% endif %}
    </div>
{% endblock content %}