{% extends "base/base.html" %}

{% block page_title %}Workflows of board {{board.name}}{% endblock %}

{% block content %}
    <h1>Workflows of board {{board.name}}</h1>
    <div>
        <a href="{% url 'boards:view_boards' %}" title="Go back to list of boards">Go back to list of boards</a>
        <a href="{% url 'boards:new_workflow' board.id %}" title="New workflow">New workflow</a>
    </div>
    <div class="workflow_list">
        {% if workflows|length == 0 %}
            There are no workflows for board {{board.name}}
        {% else %}
            <div>
                {% for workflow in workflows %}
                    <div>
                        <h2 id="workflow_id__{{workflow.id}}">{{workflow.name}}</h2>
                        <div>
                            <h3>Development lists</h3>
                            {% for workflowlist in workflow.ordered_lists  %}
                                {% if not workflowlist.is_done_list %}
                                    <div>{{workflowlist.list.name}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div>
                            <h3>Done lists</h3>
                            {% for workflowlist in workflow.ordered_lists  %}
                                {% if workflowlist.is_done_list %}
                                     <div>{{workflowlist.list.name}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="actions">
                            <a href="{% url 'boards:edit_workflow' board.id workflow.id %}">Edit</a>
                            {% include "workflows/delete_form.html" %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}