{% extends "base/base.html" %}

{% load staticfiles %}


{% block page_title %}Index{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        WEEK_OF_YEAR = "{{week_of_year}}";
        SPENT_TIME_BY_DAY_OF_THE_WEEK_CHART_URL = "{% url 'charts:spent_time_by_day_of_the_week' %}/MEMBER/WEEK_OF_YEAR/BOARD";
        SPENT_TIME_BY_WEEK_CHART_URL = "{% url 'charts:spent_time_by_week' %}/WEEK_OF_YEAR";
    </script>
    <script type="text/javascript" src="{% static 'js/index/spent_time_by_day_of_the_week.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/boards/spent_time_by_week.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user and user.is_authenticated %}
        {% include "index/dashboard.html" %}
    {% else %}
        <div class="row">
            <div class="col-md-5 center-block">
                <div class="panel panel-warning">
                  <div class="panel-heading">You are not authenticated!</div>
                  <div class="panel-body">
                    Please <a href="{% url 'members:login' %}" title="Log in">log in</a> the system or register to see the content.
                  </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}