
.multiboard .list_type {
    width: 400px;
    float: left;
}

.multiboard .list_type .panel-body.cards {
    height: 800px;
    overflow: scroll;
}


#multiboard_task_board .list_types,
#index_multiboards .list_types {
    overflow: scroll;
    /*min-width: 2500px;*/
}

#multiboard_task_board .async_included-block,
#index_multiboards .async_included-block {
    overflow: scroll;
}

.multiboard a.board {

}

.multiboard img.board-identicon {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.multiboard .board-identicon-name {
    display: block;
    font-style: italic;
}

.multiboard .view_card {
    text-decoration: none;
    font-size: 20px;
}

.multiboard .view_card_in_trello {
    text-decoration: none;
    font-size: 20px;
}

.multiboard .card-labels {
    margin-top: 10px;
}

.multiboard .card-label {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
}