<!--component html goes here -->
<p>
    <a *ngIf="board" (click)="onReturnToBoardSelect()" class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>
        Return to board
    </a>
</p>

<div *ngIf="card" class="panel card-view" [ngClass]="{ 'panel-default': !card.is_closed, 'panel-danger': card.is_closed }">
    <div class="panel-heading">
        <h1 *ngIf="changeNameStatus != 'waiting' && changeNameStatus != 'showed'"
            (click)="changeNameStatus = 'showed'"
            (click)="oldName = card.name"
            >
            {{card.name}}
            <a href="{{card.short_url}}" title="View card {{card.name}} in board {{card.board.name}} in Trello"><span class="fa fa-trello"></span></a>
        </h1>
        <div *ngIf="changeNameStatus == 'showed' || changeNameStatus == 'waiting'">
            <form (ngSubmit)="onChangeName(changeNameForm.value.name)" #changeNameForm="ngForm">
                <textarea name="name" class=card_name-edit required [(ngModel)]='card.name'></textarea>
                <div>
                    <button class="btn btn-danger"
                        (click)="card.name = oldName"
                        (click)="changeNameStatus = 'hidden'"
                        (click)="$event.preventDefault()"
                        [disabled]="changeNameStatus == 'waiting'"
                        >Cancel
                    </button>
                    <button type="submit" class="btn btn-success change_name" title="Edit {{card.name}} name"
                            (click)="changeNameForm.ngSubmit.emit()"
                            (click)="changeNameStatus = 'waiting'"
                            [disabled]="!changeNameForm.valid || changeNameStatus == 'waiting'">
                        <span *ngIf="changeNameStatus == 'waiting'" class="fa fa-spinner fa-spin"></span> Edit
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel-body">
        <div>
            <div class="card-section">
                <span class="card-creation-datetime card-section">Created on {{card.creation_datetime}}</span>
            </div>

            <div class="row">
                
                <div class="col-md-8">

                    <!-- Show/Change Spent/Estimtated time -->
                    <div class="card-spent_estimated_time card-section">
                        <h2>Spent/Estimated time</h2>
                        <div>{{card.spent_time}}/{{card.estimated_time}} hours</div>
                        <form (ngSubmit)="onSubmitSETimeForm(SETimeForm.value)" #SETimeForm="ngForm">
                            <select name="date" ngModel>
                                <option value="now" selected="selected">Now</option>
                                <option value="-1">-1d</option>
                                <option value="-2">-2d</option>
                                <option value="-3">-3d</option>
                                <option value="-4">-4d</option>
                                <option value="-5">-5d</option>
                                <option value="-6">-6d</option>
                                <option value="-7">-7d</option>
                                <option value="-8">-8d</option>
                                <option value="-9">-9d</option>
                            </select>
                            <input type="number" name="spent_time" step="0.1" placeholder="S" ngModel />
                            <input type="number" name="estimated_time" step="0.1" placeholder="E" ngModel />
                            <input type="text" name="description"  placeholder="Description" ngModel />

                            <button class="btn btn-danger"
                                (click)="changeSETimeStatus = 'hidden'"
                                (click)="$event.preventDefault()"
                                (click)="SETimeForm.reset()"
                                [disabled]="changeSETimeStatus == 'waiting'"
                                >Cancel
                            </button>
                            <button type="submit" class="btn btn-success change_name" title="Edit Spent/Estimated time for {{card.name}}"
                                    (click)="SETimeForm.ngSubmit.emit()"
                                    (click)="changeSETimeStatus = 'waiting'"
                                    [disabled]="!SETimeForm.valid || changeSETimeStatus == 'waiting'">
                                <span *ngIf="changeSETimeStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                <span class="fa fa-clock-o"></span> Add spent/estimated time
                            </button>
                        </form>
                    </div>
                    
                    <!-- Cycle time -->
                    <div *ngIf="card.cycle_time">
                        <div class="cycle_time card-section">
                            <h2>Cycle time</h2>
                            <div>{{card.cycle_time}} hours</div>
                        </div>
                    </div>
                    
                    <!-- Lead time -->
                    <div *ngIf="card.lead_time">
                        <div class="lead_time  card-section">
                            <h2>Lead time</h2>
                            <div>{{card.lead_time}} hours</div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="description card-section">
                        <h2>Description</h2>
                        <div *ngIf="card.description && changeDescriptionStatus=='hidden'"
                            (click)="changeDescriptionStatus=='showed'"
                            (click)="oldDescription = card.description">
                            {{card.description}}
                        </div>
                        <div *ngIf="!card.description && changeDescriptionStatus=='hidden'"
                            (click)="changeDescriptionStatus = 'showed'"
                            (click)="oldDescription = ''">
                            <em>No description.</em>
                        </div>
                        <div *ngIf="changeDescriptionStatus=='showed' || changeDescriptionStatus=='waiting'">
                            <form (ngSubmit)="onChangeDescription(changeDescriptionForm.value.description)" #changeDescriptionForm="ngForm">
                                <textarea name="description" class=card_description-edit required [(ngModel)]='card.description'></textarea>
                                <div>
                                    <button class="btn btn-danger"
                                        (click)="changeDescriptionStatus = 'hidden'"
                                        (click)="$event.preventDefault()"
                                        (click)="card.description = oldDescription"
                                        [disabled]="changeDescriptionStatus == 'waiting'"
                                        >Cancel
                                    </button>
                                    <button type="submit" class="btn btn-success change_name" title="Edit Spent/Estimated time for {{card.name}}"
                                            (click)="changeDescriptionForm.ngSubmit.emit()"
                                            (click)="changeDescriptionStatus = 'waiting'"
                                            [disabled]="!changeDescriptionForm.valid || changeDescriptionStatus == 'waiting'">
                                        <span *ngIf="changeDescriptionStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                        Edit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Comments -->
                    <div class="card-comments card-section">
                        <h2>Comments ({{card.comments.length}})</h2>
                        <div>
                            <form (ngSubmit)="onSubmitNewComment(NewCommentForm.value.comment)" #NewCommentForm="ngForm">
                                <textarea name="comment" placeholder="Insert your comment here..." required ngModel [disabled]="newCommentStatus == 'waiting'"></textarea>
                                <button type="submit" class="btn btn-success" title="Add new comment to this card"
                                        (click)="NewCommentForm.ngSubmit.emit()"
                                        (click)="newCommentStatus = 'waiting'"
                                        (click)="$event.preventDefault()"
                                        (click)="NewCommentForm.reset()"
                                        [disabled]="newCommentStatus == 'waiting'"
                                        >
                                    <span *ngIf="newCommentStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                    Send
                                    <span class="fa fa-comment-o"></span>
                                </button>
                            </form>
                            
                            <div *ngIf="card.comments.length == 0">
                                <em>No comments yet.</em>
                            </div>
                            <div *ngIf="card.comments.length > 0">
                                <div *ngFor="let comment of card.comments">
                                    <div class="card-comments-comment panel panel-info">
                                        <div class="panel-heading">
                                            Comment made by {{comment.author.initials}}
                                            (
                                                <span title="Comment made by {{comment.creation_datetime}}">{{comment.creation_datetime}}</span>
                                                <span *ngIf="comment.last_edition_datetime" title="Comment edited {{comment.creation_datetime}}">{{comment.last_edited_datetime}}</span>
                                                )
                                        </div>

                                        <div *ngIf="editCommentStatus[comment.id] == 'standby' || comment.review || comment.blocking_card" class="panel-body">
                                            {{comment.content}}
                                        </div>
                                        
                                        <!--
                                            I don't want have to worry about updating the blocking cards.
                                            If you want to edit/delete a blocking card comment, use the blocking card menu
                                        -->
                                        <div *ngIf="!comment.blocking_card && !comment.review && !comment.requirement">
                                            <!-- Comment edition -->
                                            <div class="comment-edit" *ngIf="deleteCommentStatus[comment.id] == 'standby'" [ngClass]="{'showed': editCommentStatus[comment.id] == 'showed' }">
                                                <span *ngIf="editCommentStatus[comment.id] == 'standby'"
                                                    (click)="editCommentStatus[comment.id] = 'showed'"
                                                    (click)="commentPreviousContent[comment.id] = comment.content"
                                                    class="btn btn-success edit-comment-button" >
                                                    Edit
                                                </span>
                                                <!-- Comment edition form -->
                                                <form class="comment-edit" *ngIf="editCommentStatus[comment.id] == 'waiting' || editCommentStatus[comment.id] == 'showed'"
                                                    (ngSubmit)="onSubmitEditComment(comment, editCommentForm.value.content)" #editCommentForm="ngForm">
                                                    <textarea name="content" [(ngModel)]='comment.content'>
                                                    </textarea>
                                                    <button class="btn btn-danger"
                                                        (click)="editCommentStatus[comment.id] = 'standby'"
                                                        (click)="comment.content = commentPreviousContent[comment.id]"
                                                        (click)="$event.preventDefault()"
                                                        [disabled]="editCommentStatus[comment.id] == 'waiting'"
                                                        >
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="btn btn-success" title="Edit comment"
                                                            (click)="editCommentForm.ngSubmit.emit()"
                                                            (click)="editCommentStatus[comment.id] = 'waiting'"
                                                            (click)="$event.preventDefault()"
                                                            [disabled]="editCommentStatus[comment.id] == 'waiting'"
                                                            >
                                                            <span *ngIf="editCommentStatus[comment.id] == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                                        Send
                                                    </button>
                                                </form>
                                            </div>

                                            <!-- Comment deletion -->
                                            <div class="comment-delete" *ngIf="editCommentStatus[comment.id] == 'standby'" [ngClass]="{'showed': deleteCommentStatus[comment.id] == 'asking' }">
                                                <form *ngIf="deleteCommentStatus[comment.id] == 'standby' || deleteCommentStatus[comment.id] == 'asking' || deleteCommentStatus[comment.id] == 'waiting'"
                                                        (ngSubmit)="onSubmitDeleteComment(comment)" #deleteCommentForm="ngForm">
                                                    
                                                    <button type="submit" class="btn btn-danger delete_comment" title="Delete this comment"
                                                        *ngIf="deleteCommentStatus[comment.id] == 'standby'"
                                                        (click)="deleteCommentStatus[comment.id] = 'asking'"
                                                        (click)="$event.preventDefault()"
                                                        [disabled]="deleteCommentStatus[comment.id] == 'asking'"
                                                        >
                                                        Delete
                                                        <span class="fa fa-trash"></span>
                                                    </button>

                                                    <div *ngIf="deleteCommentStatus[comment.id] == 'asking' || deleteCommentStatus[comment.id] == 'waiting'">
                                                        <div>
                                                            <input type="checkbox" name="confirm" ngModel required [disabled]="deleteCommentStatus[comment.id] == 'waiting'" /> Are you sure?
                                                        </div>
                                                        
                                                        <button type="submit" class="btn btn-success delete_comment" title="Cancel"
                                                                (click)="$event.preventDefault()"
                                                                (click)="deleteCommentStatus[comment.id] = 'standby'"
                                                                [disabled]="deleteCommentStatus[comment.id] == 'waiting'"
                                                        >
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-danger delete_comment" title="Delete this comment"
                                                            [disabled]="deleteCommentStatus[comment.id] == 'waiting'"
                                                            (click)="deleteCommentStatus[comment.id] = 'waiting'"
                                                            (click)="$event.preventDefault()"
                                                            (click)="deleteCommentForm.ngSubmit.emit()"
                                                            >
                                                            <span *ngIf="deleteCommentStatus[comment.id] == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                                            Delete comment
                                                            <span class="fa fa-trash"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Movements of this card -->
                    <div class="card-movements card-section">
                        <h2>Movements ({{card.movements.length}})</h2>
                        <div *ngIf="card.movements.length > 0">
                            <div *ngFor="let movement of card.movements">
                                <div class="card-movements-movement panel panel-info">
                                        <div class="panel-heading">
                                            <strong>{{movement.source_list.name}}</strong> to <strong>{{movement.destination_list.name}}</strong>
                                            (<span title="Comment made by {{movement.datetime}}">{{movement.datetime}}</span>)
                                        </div>
                                        <div class="panel-body">
                                            <span *ngIf="movement.type == 'forward'">
                                                Forward movement
                                            </span>
                                            <span *ngIf="movement.type == 'backward'">
                                                Backward movement
                                            </span>
                                            from
                                            <strong>{{movement.source_list.name}}</strong> to <strong>{{movement.destination_list.name}}</strong>
                                            at {{movement.datetime}} by {{movement.member.trello_username}}.
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- col-md-7 -->
                </div>

                <div class="col-md-4">
                    <!-- Status (active/closed) -->
                    <div class="card-status card-section">
                        <h2>Status</h2>
                        <div *ngIf="card.is_closed" class="card-status-closed">
                            <strong>Archived</strong>
                            <button class="btn btn-success"
                                    (click)="statusCardStatus='waiting'"
                                    (click)="activeCard()"
                                    [disabled]="statusCardStatus=='waiting'">
                                    <span class="fa fa-spin fa-spinner" *ngIf="statusCardStatus=='waiting'"></span>
                                    <span class="fa fa-check"></span>
                                Active
                            </button>
                        </div>
                        <div *ngIf="!card.is_closed" class="card-status-active">
                            <strong>Active</strong>
                            <button class="btn btn-danger"
                                    (click)="statusCardStatus='waiting'"
                                    (click)="closeCard()"
                                    [disabled]="statusCardStatus=='waiting'">
                                    <span class="fa fa-spin fa-spinner" *ngIf="statusCardStatus=='waiting'"></span>
                                    <span class="fa fa-times"></span>
                                Archive
                            </button>
                        </div>
                    </div>
                    <!-- List -->
                    <div class="card-list card-section">
                        <h2>On list {{card.list.name}} <span class="fa fa-thumbs-up" *ngIf="card.list.type == 'done'"></span></h2>

                        <div class="card-change-list-form">
                            <span class="btn btn-primary" *ngIf="changeListStatus != 'showed' && changeListStatus != 'waiting'" (click)="changeListStatus = 'showed'">Change</span>
                            <div *ngIf="changeListStatus == 'showed' || changeListStatus == 'waiting'">
                                <form (ngSubmit)="onSubmitChangeList(changeListForm.value.destination_list)" #changeListForm="ngForm">
                                    <div>
                                        <select name="destination_list" required ngModel>
                                            <option *ngFor="let list_i of card.board.lists" value="{{list_i.id}}"  [selected]="list_i.id == card.list.id?true:false">
                                                {{list_i.name}} <span *ngIf="list_i.id == card.list.id">(current)</span>
                                            </option>
                                        </select>
                                    </div>
                                    <div>
                                        <button class="btn btn-danger"
                                            (click)="changeListStatus = 'hidden'"
                                            (click)="$event.preventDefault()"
                                            [disabled]="changeListStatus == 'waiting'"
                                            >Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success change_name" title="Edit {{card.name}} list"
                                                (click)="changeListForm.ngSubmit.emit()"
                                                (click)="changeListStatus = 'waiting'"
                                                (click)="$event.preventDefault()"
                                                [disabled]="!changeListForm.valid || changeListForm.value.destination_list == card.list.id || changeListStatus == 'waiting'">
                                            <span *ngIf="changeListStatus == 'waiting'" class="fa fa-spinner fa-spin"></span> Change
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Labels -->
                    <div class="card-labels card-section">
                        <h2>Labels ({{card.labels.length}})</h2>
                        <div *ngIf="card.labels.length > 0" class="card-labels-list">
                            <span *ngFor="let label of card.labels" class="card-label label label-default" [ngStyle]="{'background-color': label.color}">
                                {{label.name}}
                            </span>
                        </div>
                        <div *ngIf="card.labels.length == 0" class="card-labels-list card-labels-list-empty">
                            <em>Without labels.</em>
                        </div>
                        <span class="btn btn-primary" *ngIf="changeLabelsStatus != 'showed' && changeLabelsStatus != 'waiting'" (click)="changeLabelsStatus = 'showed'">Change</span>

                        <div *ngIf="changeLabelsStatus == 'showed' || changeLabelsStatus == 'waiting'">
                            <form (ngSubmit)="onChangeLabels(changeLabelsForm.value.labels)" #changeLabelsForm="ngForm">
                                <select name="labels" multiple required ngModel>
                                    <option *ngFor="let label of card.board.labels" value="{{label.id}}" [selected]="cardHasLabel(label)?true:false">
                                        {{label.name}}
                                    </option>
                                </select>
                                <div>
                                    <button class="btn btn-danger"
                                            (click)="changeLabelsStatus = 'hidden'"
                                            (click)="$event.preventDefault()"
                                            [disabled]="changeLabelsStatus == 'waiting'"
                                            >Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success change_name" title="Edit {{card.name}} list"
                                                (click)="changeLabelsStatus = 'waiting'"
                                                (click)="changeLabelsForm.ngSubmit.emit()"
                                                (click)="$event.preventDefault()"
                                                [disabled]="!changeLabelsForm.valid || changeLabelsStatus == 'waiting'">
                                            <span *ngIf="changeLabelsStatus == 'waiting'" class="fa fa-spinner fa-spin"></span> Change
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Members -->
                    <div class="card-members card-section">
                        <h2>Members ({{card.members.length}})</h2>
                        
                        <ul *ngIf="card.members.length > 0">
                            <li *ngFor="let member_i of card.members">{{member_i.trello_username}}</li>
                        </ul>
                        <div *ngIf="card.members.length == 0">
                            <em>This task has no assigned members.</em>
                        </div>
                        <button class="btn btn-primary" *ngIf="changeMembersStatus!='showed' && changeMembersStatus!='waiting'" (click)="changeMembersStatus='showed'">Edit</button>
                        
                        <div *ngIf="changeMembersStatus=='showed' || changeMembersStatus=='waiting'">
                            <form (ngSubmit)="onChangeMembers(changeMembersForm.value.members)" #changeMembersForm="ngForm">
                                <select name="members" multiple required ngModel>
                                    <option *ngFor="let member of board.members" [value]="member.id" [selected]="cardHasMember(member)?true:false">
                                        {{member.trello_username}}
                                    </option>
                                </select>
                                <div>
                                    <button class="btn btn-danger"
                                            (click)="changeMembersStatus = 'hidden'"
                                            (click)="$event.preventDefault()"
                                            [disabled]="changeMembersStatus == 'waiting'"
                                            >Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success change_name" title="Edit members of {{card.name}}"
                                                (click)="changeMembersForm.ngSubmit.emit()"
                                                (click)="changeMembersStatus = 'waiting'"
                                                [disabled]="!changeMembersForm.valid || changeMembersStatus == 'waiting'">
                                            <span *ngIf="changeMembersStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                            <span class="fa fa-users"></span> Change members
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Deadline (Due datetime) -->
                    <div class="card-due_datetime card-deadline">
                        <h2>Deadline</h2>
                        <div *ngIf="!card.due_datetime">
                            <em>No deadline</em>
                        </div>
                        <div *ngIf="card.due_datetime">
                            {{card.due_datetime}}
                            {{card.getLocalDueDatetime()}}
                            <button class="btn btn-danger"
                                    (click)="removeDueDatetimeStatus='waiting'"
                                    (click)="removeDueDatetime()"
                                    > <span class="fa fa-spin fa-spinner" *ngIf="removeDueDatetimeStatus=='waiting'"></span> Remove </button>
                        </div>
                        <div class="card-change-due_datetime-form" *ngIf="!card.due_datetime">
                            <span class="btn btn-primary" *ngIf="changeDueDatetimeStatus != 'showed' && changeDueDatetimeStatus != 'waiting'" 
                                  (click)="changeDueDatetimeStatus = 'showed'">
                                  Add
                            </span>
                            <div *ngIf="changeDueDatetimeStatus == 'showed' || changeDueDatetimeStatus == 'waiting' ">
                                <form (ngSubmit)="onChangeDueDatetime(changeDueDatetimeForm.value.due_date, changeDueDatetimeForm.value.due_time)" #changeDueDatetimeForm="ngForm">
                                    <div>
                                        <input name="due_date" type="date" required ngModel value="card.due_datetime|date:'y-MM-dd'" />
                                        <input name="due_time" type="time" required ngModel value="card.due_datetime|date:'hh:mm'" />
                                    </div>
                                    <div>
                                        <button class="btn btn-danger"
                                            (click)="changeDueDatetimeStatus = 'hidden'"
                                            (click)="$event.preventDefault()"
                                            [disabled]="changeDueDatetimeStatus == 'waiting'"
                                            > Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success change_name" title="Edit {{card.name}} deadline"
                                                (click)="changeDueDatetimeForm.ngSubmit.emit()"
                                                (click)="changeDueDatetimeStatus = 'waiting'"
                                                (click)="$event.preventDefault()"
                                                [disabled]="!changeDueDatetimeForm.valid || changeDueDatetimeStatus == 'waiting'">
                                            <span *ngIf="changeDueDatetimeStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                            <span class="fa fa-calendar-times-o"></span> Change
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Blocking cards -->
                    <div class="card-blocking_cards card-section">
                        <h2>Blocking cards ({{card.blocking_cards.length}})</h2>
                        <div *ngIf="card.blocking_cards.length > 0">
                            <div *ngFor="let blocking_card of card.blocking_cards">
                                <a href="{{blocking_card.local_url}}"
                                    title="View blocking card {{blocking_card.name}}"> {{blocking_card.name}}</a>
                                <button class="btn btn-danger"
                                      *ngIf="blocking_card.list.type != 'done'"
                                      (click)="removeBlockingCardStatus[blocking_card.id] = 'waiting'"
                                      (click)="onRemoveBlockingCard(blocking_card)"
                                      [disabled]="removeBlockingCardStatus[blocking_card.id]=='waiting'">
                                    <span class="fa fa-spinner fa-spin" *ngIf="removeBlockingCardStatus[blocking_card.id]=='waiting'"></span>
                                    <span class="fa fa-times"></span>
                                </button>
                                <span *ngIf="blocking_card.list.type == 'done'">
                                    <span class="fa fa-thumbs-up"></span>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="card.blocking_cards.length == 0">
                            <em>No other cards are blocking this one.</em>
                        </div>
                        <span class="btn btn-primary" (click)="addBlockingCardStatus='showed'">Add blocking card</span>
                        <div *ngIf="addBlockingCardStatus=='showed' || addBlockingCardStatus=='waiting'">
                            <form (ngSubmit)="onAddBlockingCard(addBlockingCardForm.value.new_blocking_card)" #addBlockingCardForm="ngForm">
                                <select name="new_blocking_card" required ngModel>
                                    <option *ngFor="let blocking_card_i of cards" [value]="blocking_card_i.id">
                                        #{{blocking_card_i.id}} {{blocking_card_i.name}} ({{card.list.name}})
                                    </option>
                                </select>
                                <div>
                                    <button class="btn btn-danger"
                                            (click)="addBlockingCardStatus = 'hidden'"
                                            (click)="$event.preventDefault()"
                                            [disabled]="addBlockingCardStatus == 'waiting'"
                                            >Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success change_name" title="Add new blocking card for {{card.name}}"
                                                (click)="addBlockingCardForm.ngSubmit.emit()"
                                                (click)="addBlockingCardStatus = 'waiting'"
                                                [disabled]="!addBlockingCardRightCandidate(addBlockingCardForm.value.new_blocking_card) ||(!addBlockingCardForm.valid || addBlockingCardStatus == 'waiting')">
                                            <span *ngIf="addBlockingCardStatus == 'waiting'" class="fa fa-spinner fa-spin"></span>
                                            <span class="fa fa-hand-stop-o"></span> Add blocking card
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Reviews -->
                    <div class="card-reviews card-section">
                        <h2>Reviews ({{card.reviews.length}})</h2>
                        <!-- New review -->
                        <button class="btn btn-primary"
                                *ngIf="newReviewStatus=='hidden'"
                                (click)="newReviewStatus='showed'">
                            Add review
                        </button>
                        <button class="btn btn-primary"
                                *ngIf="newReviewStatus=='showed'"
                                (click)="newReviewStatus='hidden'">
                            Cancel
                        </button>
                        <div *ngIf="newReviewStatus=='showed' || newReviewStatus=='waiting'">
                            <form (ngSubmit)="onAddReview(addReviewForm.value.members, addReviewForm.value.description)" #addReviewForm="ngForm">
                                <textarea name="description" ngModel></textarea>
                                <select name="members" multiple required ngModel>
                                    <option *ngFor="let member of board.members" [value]="member.id" [selected]="cardHasMember(member)?true:false">
                                        {{member.trello_username}}
                                    </option>
                                </select>
                                <button class="btn btn-danger"
                                        (click)="$event.preventDefault()"
                                        (click)="newReviewStatus='standy'"
                                        [disabled]="!addReviewForm.valid || newReviewStatus=='waiting'">
                                        Cancel
                                </button>
                                <button class="btn btn-primary"
                                        (click)="newReviewStatus='waiting'"
                                        (click)="addReviewForm.ngSubmit.emit()"
                                        (click)="$event.preventDefault()"
                                        [disabled]="!addReviewForm.valid || newReviewStatus=='waiting'">
                                        <span class="fa fa-spinner fa-spin" *ngIf="newReviewStatus=='waiting'"></span>
                                    Add review
                                </button>
                            </form>
                        </div>

                        <!-- Review list -->
                        <div *ngIf="card.reviews.length == 0">
                            <em>This card has no reviews.</em>
                        </div>
                        <ul *ngIf="card.reviews.length > 0" class="reviews">
                            <li *ngFor="let review of card.reviews" class="review">
                                <h3>Review on {{review.creation_datetime}}</h3>
                                
                                <!-- Description of the review -->
                                <div *ngIf="review.description">
                                    {{review.description}}
                                </div>

                                <!-- Reviewers of this review -->
                                <ul class="review-reviewers">
                                    <li *ngFor="let member of review.reviewers">
                                        {{member.trello_username}}
                                    </li>
                                </ul>
                                
                                <!-- Delete review -->
                                <div class="review-actions">
                                    <button class="btn btn-danger"
                                            *ngIf="deleteReviewStatus[review.id]!='asking' && deleteReviewStatus[review.id]!='waiting'"
                                            (click)="deleteReviewStatus[review.id]='asking'">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </button>
                                    
                                    <button class="btn btn-primary"
                                            *ngIf="deleteReviewStatus[review.id]=='asking'"
                                            (click)="deleteReviewStatus[review.id]='standby'"
                                            [disabled]="deleteReviewStatus[review.id]=='waiting'">
                                        Cancel
                                    </button>

                                    <button class="btn btn-danger"
                                            *ngIf="deleteReviewStatus[review.id]=='asking' || deleteReviewStatus[review.id]=='waiting'"
                                            (click)="deleteReviewStatus[review.id]='waiting'"
                                            (click)="deleteReview(review)"
                                            [disabled]="deleteReviewStatus[review.id]=='waiting'"
                                            >
                                        <span class="fa fa-spinner fa-spin" *ngIf="deleteReviewStatus[review.id]=='waiting'"></span>
                                        <span class="fa fa-trash"></span>
                                        Confirm deletion of this review
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Requirement -->
                    <div class="card-requirements">
                        <h2>Requirements ({{card.requirements.length}})</h2>
                        <!-- New requirement -->
                        <button class="btn btn-primary"
                                *ngIf="addRequirementStatus=='hidden'"
                                (click)="addRequirementStatus='showed'">
                            Add requirement
                        </button>
                        <button class="btn btn-primary"
                                *ngIf="addRequirementStatus=='showed'"
                                (click)="addRequirementStatus='hidden'">
                            Cancel
                        </button>
                        <div *ngIf="addRequirementStatus=='showed' || addRequirementStatus=='waiting'">
                            <form (ngSubmit)="onAddRequirement(addRequirementForm.value.requirement)" #addRequirementForm="ngForm">
                                <select name="requirement" required ngModel>
                                    <option *ngFor="let requirement_i of board.requirements" [value]="requirement_i.id">
                                        {{requirement_i.name}} (value of {{requirement_i.value}})
                                    </option>
                                </select>
                                <button class="btn btn-danger"
                                        (click)="$event.preventDefault()"
                                        (click)="addRequirementStatus='standy'"
                                        [disabled]="!addRequirementForm.valid || addRequirementStatus=='waiting'">
                                        Cancel
                                </button>
                                <button class="btn btn-primary"
                                        (click)="addRequirementStatus='waiting'"
                                        (click)="addRequirementForm.ngSubmit.emit()"
                                        (click)="$event.preventDefault()"
                                        [disabled]="!addRequirementForm.valid || addRequirementStatus=='waiting'">
                                        <span class="fa fa-spinner fa-spin" *ngIf="addRequirementStatus=='waiting'"></span>
                                    Add requirement
                                </button>
                            </form>
                        </div>

                        <div *ngIf="card.requirements.length == 0">
                            <em>This card has no associated requirements.</em>
                        </div>
                        <div *ngIf="card.requirements.length > 0">
                            <ul class="requirements">
                                <li class="requirement" *ngFor="let requirement of card.requirements">
                                    <h3>{{requirement.name}} ({{requirement.code}})</h3>
                                    <div *ngIf="removeRequirementStatus[requirement.id]=='showed'">
                                        <div class="requirement-value">
                                            {{requirement.value}} points
                                        </div>
                                        <div *ngIf="requirement.cards.length > 0 || requirement.spent_time || requirement.estimated_time || requirement.percentage_of_completion"  class="requirement-summary requirement-time">
                                            <p>
                                                {{requirement.cards.length}} tasks, {{requirement.spent_time}} spent hours <span *ngIf="requirement.estimated_time">of {{requirement.estimated_time}} estimated hours</span> ( {{requirement.percentage_of_completion}} % completed)
                                            </p>
                                        </div>
                                        <div [innerHTML]="requirement.description" class="requirement-description">
                                        </div>
                                        <div *ngIf="requirement.other_comments" class="requirement-other_comments" [innerHTML]="requirement.other_comments">
                                        </div>
                                        <div *ngIf="requirement.cards.length == 0"  class="requirement-cards requirement-cards-empty">
                                            <em>This requirement has no associated cards</em>
                                        </div>
                                        <div *ngIf="requirement.cards.length > 0" class="requirement-cards">
                                            <h4>Associated cards</h4>
                                            <ul>
                                                <li *ngFor="let requirement_card of requirement.cards" class="requirement-card">
                                                    <a href="{{requirement_card.local_url}}" title="{{requirement_card.name}}" class="requirement-card-link">
                                                        <span class="requirement-card-name" class="requirement-card-link-name">{{requirement_card.name}}</span>
                                                        <span *ngIf="requirement_card.spent_time > 0 || requirement_card.estimated_time > 0" class="requirement-card-link-time">
                                                            {{requirement_card.spent_time}} spent time hours / {{requirement_card.estimated_time}} estimated hours
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Remove requirement -->
                                    <div class="requirement-actions">

                                        <button class="btn btn-primary"
                                                *ngIf="removeRequirementStatus[requirement.id]!='showed' && removeRequirementStatus[requirement.id]!='asking' && removeRequirementStatus[requirement.id]!='waiting'"
                                                (click)="removeRequirementStatus[requirement.id]='showed'">
                                            <span class="fa fa-eye"></span>
                                            View
                                        </button>

                                        <button class="btn btn-primary"
                                                *ngIf="removeRequirementStatus[requirement.id]=='showed'"
                                                (click)="removeRequirementStatus[requirement.id]='standby'">
                                            <span class="fa fa-close"></span>
                                            Close
                                        </button>
                                        
                                        <button class="btn btn-danger"
                                                *ngIf="removeRequirementStatus[requirement.id]!='asking' && removeRequirementStatus[requirement.id]!='waiting'"
                                                (click)="removeRequirementStatus[requirement.id]='asking'">
                                            <span class="fa fa-trash"></span>
                                            Remove
                                        </button>
                                        
                                        <button class="btn btn-primary"
                                                *ngIf="removeRequirementStatus[requirement.id]=='asking'"
                                                (click)="removeRequirementStatus[requirement.id]='standby'"
                                                [disabled]="removeRequirementStatus[requirement.id]=='waiting'">
                                            Cancel
                                        </button>

                                        <button class="btn btn-danger"
                                                *ngIf="removeRequirementStatus[requirement.id]=='asking' || removeRequirementStatus[requirement.id]=='waiting'"
                                                (click)="removeRequirementStatus[requirement.id]='waiting'"
                                                (click)="removeRequirement(requirement)"
                                                [disabled]="removeRequirementStatus[requirement.id]=='waiting'"
                                                >
                                            <span class="fa fa-spinner fa-spin" *ngIf="removeRequirementStatus[requirement.id]=='waiting'"></span>
                                            <span class="fa fa-trash"></span>
                                            Confirm removing of this requirement
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                <!-- col-md-2-->
                </div>
        <!--row-->
        </div>

        <!-- Stats -->
        <div class="card-charts card-section" *ngIf="card.comments.length > 0">
            <h2>Stats</h2>
            <div class="row">
                <div class="col-sm-6" *ngIf="card.comments.length > 0">
                    <a href="{{card.charts.number_of_comments_by_member}}" title="Number of comments by member">
                        <img src="{{card.charts.number_of_comments_by_member}}" alt="Number of comments by member"/>
                    </a>
                </div>
                <div class="col-sm-6" *ngIf="card.comments.length > 0">
                    <a href="{{card.charts.number_of_comments}}" title="Evolution of number of comments of this card thru time">
                        <img src="{{card.charts.number_of_comments}}" alt="Evolution of number of comments of this card thru time"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
