<table id="daily_spent_times_{{month.i}}" class="daily_spent_times table table-responsive">
    <tbody class="month month_{{month.i}}">
        <tr class="header main_header month_{{month.i}}">
            <td colspan="11">
                <strong>{{month.year}}/{{month.name}}</strong> ({{num_daily_spent_times}} measurements)
                <a href="{% url 'dev_times:export_daily_spent_times' %}?start_date={{month.first_day|date:'Y-m-d'}}&end_date={{month.last_day|date:'Y-m-d'}}&member_id={{selected_member.id}}&label_id=all_from_board_{{selected_board.id}}"
                   class="btn btn-success
                    export_daily_spent_times">Export {{month.year}}/{{month.name}} as CSV
                </a>
            </td>
        </tr>
        <tr class="header month_{{month.i}}">
            <td>Board</td>
            <td>Member</td>
            <td>Weekday</td>
            <td>Day of year</td>
            <td class="date">Date</td>
            <td>Description</td>
            <td>Spent time</td>
            <td>Adj. Spent time</td>
            <td>Estimated time</td>
            <td>Difference</td>
            <td>Rate amount</td>
        </tr>
        {% for daily_spent_time in daily_spent_times %}
            <tr class="day_of_year_{{daily_spent_time.day_of_year}} week_of_year_{{daily_spent_time.week_of_year}} month_{{daily_spent_time.date.month}} {% if daily_spent_time.day_of_year|divisibleby:2 %}even{% else %}odd{% endif %}">
                <td>{{daily_spent_time.board.name}}</td>
                <td>
                    <img class="avatar cursor-help" src="{{daily_spent_time.member.avatar_url}}"
                         alt="{{daily_spent_time.member.external_username}}"
                         title="{{daily_spent_time.member.external_username}}"/>
                </td>
                <td>{{month.year}}/W{{daily_spent_time.week_of_year}}/{{daily_spent_time.weekday}}</td>
                <td>{{daily_spent_time.day_of_year}}</td>
                <td class="date">{{daily_spent_time.iso_date}}</td>
                <td>
                    <a href="{% url 'boards:view_card' daily_spent_time.board_id daily_spent_time.card_id %}" title="View {{daily_spent_time.card.name}}" class="source_card_link">
                        {{daily_spent_time.description|truncatechars:40}}
                    </a>
                    <a href="{{daily_spent_time.card.short_url}}" title="View {{daily_spent_time.card.name}} in Trello" class="source_card_link">
                        <span class="fa fa-trello"></span>
                    </a>
                </td>
                <td>{{daily_spent_time.spent_time|floatformat:"-2"}}</td>
                <td>{{daily_spent_time.adjusted_spent_time|floatformat:"-2"}}</td>
                <td>{{daily_spent_time.estimated_time|floatformat:"-2"}}</td>
                <td>{{daily_spent_time.diff_time|floatformat:"-2"}}</td>
                <td>{{daily_spent_time.rate_amount|floatformat:"2"}}</td>
            </tr>
        {% endfor %}
        <tr class="header month_{{month.i}}">
            <td colspan="10">Number of measurements</td>
            <td>{{num_daily_spent_times}}</td>
        </tr>
        {% if num_daily_spent_times > 0 %}
            {% if month.adjusted_amount_sum %}
                <tr class="header month_{{month.i}}">
                    <td colspan="10">Sum of amount</td>
                    <td> {{month.rate_amount_sum|floatformat:"-2"}} ¤</td>
                </tr>
                <tr class="header month_{{month.i}}">
                    <td colspan="10">Adjusted sum of value</td>
                    <td> {{month.adjusted_amount_sum|floatformat:"-2"}} ¤</td>
                </tr>
            {% endif %}
            <tr class="header month_{{month.i}}">
                <td colspan="10">Sum of spent time</td>
                <td> {{month.spent_time_sum|floatformat:"-2"}}
                    {% if selected_member and week and selected_member.minimum_working_hours_per_week %}
                    /
                    {{selected_member.minimum_working_hours_per_week}}
                    {% endif %}
                    hours
                </td>
            </tr>
            <tr class="header month_{{month.i}}">
                <td colspan="10">Adjusted sum of spent time</td>
                <td> {{month.adjusted_spent_time_sum|floatformat:"-2"}} hours
                </td>
            </tr>
            <tr class="header month_{{month.i}}">
                <td colspan="10">Sum of estimated time</td>
                <td> {{month.estimated_time_sum|floatformat:"-2"}} hours</td>
            </tr>
            <tr class="header month_{{month.i}} last">
                <td colspan="10">Diff between spent and estimated time</td>
                <td> {{month.diff_time_sum|floatformat:"-2"}} hours</td>
            </tr>
        {% endif %}
    </tbody>
</table>