{% extends "boards/view.html" %}
{% load staticfiles %}

{% block page_title %}
    Daily spent time {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}
{% endblock %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/dev_times/daily_spent_times.css' %}" rel="stylesheet" />
{% endblock css %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/dev_times/daily_spent_times.js' %}" ></script>
{% endblock js %}

{% block content %}
    <h1>
        Daily spent time {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}
    </h1>
    <div>Last updated: {{board.last_fetch_datetime|timesince}}</div>
    {% include "daily_spent_times/components/filter_form.html" with selected_member=selected_member %}
    <div class="text-right">
        <a href="{% url 'dev_times:export_daily_spent_times' %}?start_date={{start_date|date:'Y-m-d'}}&end_date={{end_date|date:'Y-m-d'}}&week={% if week %}{{week}}{% endif %}&member_id={{selected_member.id}}&board_id={{board.id}}" class="btn btn-primary">Export as CSV</a>
    </div>
    {% include "daily_spent_times/components/list.html" %}
{% endblock content %}