<div *ngIf="board" class="board">
    <h1 class="board_name">{{board.name}}</h1>
    <div class="lists" [style.width.px]="board.lists.length * 420 + 80">
        <div *ngFor="let list of board.lists" class="list panel panel-default">
            <span class="list_name panel-heading cursor-pointer">
                <span>{{list.name}}</span> {{list.cards.length}} tasks
            </span>
            <div  [dragula]='"first-bag"' [dragulaModel]='list.cards'
                    id="card-list-{{list.id}}" class="cards" [attr.data-list]="list.id">
                <div *ngFor="let card of list.cards"
                        id="card-{{card.id}}" class="card panel panel-info" [attr.data-card]="card.id">
                    <span class="panel-heading card_heading">
                        <span (click)="onCardSelect(card)" class="card_name">
                            <span class=card_name-name>{{card.name}}</span>
                        </span>

                        <a href="{{card.short_url}}" title="View card" class="card_action_view">
                            <span class="fa fa-trello"></span>
                        </a>
                        <a href="{{card.url}}" title="View card" class="card_action_view">
                            <span class="fa fa-eye"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>