<simple-notifications [options]="notificationsOptions"></simple-notifications>
<div *ngIf="board" class="board">
    <div class="header">
        <div class="board_name">
            <h1 class="board_name">
                <a href="{{board.local_url}}" title="View board {{board.name}} details">{{board.name}}</a>
            </h1>
        </div>
        <!-- Members -->
        <div class="members" *ngIf="members">
            <span class="members_header">
                <h2>Members ({{board.members.length}})</h2>
                <span class="btn btn-primary" (click)="addMemberStatus = {show: true, waiting: false}" title="Show add member form for board {{board.name}}">
                    <span class="fa fa-plus"></span>
                    Member
                </span>
            </span>
            <div *ngIf="addMemberStatus['show']" class="add_member">
                <form (ngSubmit)="onAddMemberSubmit(addMemberForm.value.member, addMemberForm.value.member_type)" #addMemberForm="ngForm">
                    <select name="member" required ngModel>
                        <option *ngFor="let member of members" value="{{member.id}}">{{member.extern_username}}</option>
                    </select>
                    <select name="member_type" required ngModel>
                        <option value="normal">Normal</option>
                        <option value="admin">Administrator</option>
                        <option value="guest">Guest</option>
                    </select>
                    <div>
                        <span class="btn btn-danger" (click)="addMemberStatus['show']=false">Cancel</span>
                        <button type="submit" class="btn btn-success change_name" title="Add new member to board {{board.name}}"
                                (click)="addMemberForm.ngSubmit.emit()"
                                (click)="addMemberStatus['waiting'] = true"
                                [disabled]="!addMemberForm.valid || addMemberStatus['waiting']">
                            <span *ngIf="addMemberStatus['waiting']" class="fa fa-spinner fa-spin"></span> Add member
                        </button>
                    </div>
                </form>
            </div>
            <div *ngFor="let member of board.members">
                <span class="member">
                    <span class="member_name">{{member.extern_username}} ({{member.roles_by_board[board.id]}})</span>
                    <button *ngIf="!member.is_current_user" class="btn btn-primary"
                            (click)="removeMember(member)"
                            (click)="removeMemberStatus[member.id]['waiting'] = true"
                            [disabled]="removeMemberStatus[member.id]['waiting']"
                            >
                        <span *ngIf="removeMemberStatus[member.id]['waiting']" class="fa fa-spinner fa-spin"></span>
                        <span class="fa fa-ban"></span>
                    </button>
                    <span *ngIf="member.is_current_user">(You)</span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu of visibility of board -->
    <div class="board_menu">
        <!-- Show/Hide archived cards -->
        <div class="toggle_is_closed">
            <span *ngIf="closedItemsVisibility == 'showed'">
                <button class="btn btn-primary" (click)="closedItemsVisibility='hidden'">
                    <span class="fa fa-eye-slash"></span>
                    Hide archived elements
                </button>
            </span>
            <span *ngIf="closedItemsVisibility == 'hidden'">
                <button class="btn btn-primary" (click)="closedItemsVisibility='showed'">
                    <span class="fa fa-eye"></span>
                    Show archived elements
                </button>
            </span>
        </div>
    </div>


    <!-- Lists -->
    <div class="lists" [dragula]='"lists"' [dragulaModel]='list' [style.width.px]="board.lists.length * 420 + 80">
        <div *ngFor="let list of board.lists" class="list panel panel-default" [attr.data-list]="list.id"
            [ngClass]="{'closed-list': list.type == 'closed', 'closed-list-showed': list.type == 'closed' && closedItemsVisibility == 'showed', 'ignored-list': list.type == 'ignored'}">
            <div class="list_name panel-heading cursor-pointer">
                <div class="list_name">
                    <span class="list_name_name">
                        <span>
                            <span class="fa fa-times" *ngIf="list.type == 'ignored'" title='This list is ignored'></span>
                            <span class="fa fa-book" *ngIf="list.type == 'backlog'" title='Task backlog'></span>
                            <span class="fa fa-hourglass-start" *ngIf="list.type == 'ready_to_develop'" title='Tasks waiting to be started'></span>
                            <span class="fa fa-hourglass-half" *ngIf="list.type == 'development'" title='Tasks in development'></span>
                            <span class="fa fa-gavel" *ngIf="list.type == 'after_development_in_review'" title='Tasks being reviewed'></span>
                            <span class="fa fa-upload" *ngIf="list.type == 'after_development_waiting_release'" title='Tasks waiting release'></span>
                            <span class="fa fa-thumbs-o-up" *ngIf="list.type == 'done'" title='Tasks done'></span>
                            <span class="fa fa-archive" *ngIf="list.type == 'closed'" title='Closed list'></span>
                            {{list.name}}
                        </span>
                        <span *ngIf="closedItemsVisibility == 'showed'">({{list.cards.length}} tasks)</span>
                        <span *ngIf="closedItemsVisibility == 'hidden'">({{list.cards | active_cards | count }} tasks)</span>
                    </span>
                    <span class="move_list_handle" title="Move list"></span>
                    <div class="list_actions">
                        <span (click)="newCardFormStatus[list.id]['show'] = true" class="btn btn-primary list_name_new_card" title="New card in list {{list.name}}">
                            <span class="fa fa-plus"></span> Card
                        </span>
                        <div class="move_list_cards">
                            <button class="move_cards_button btn btn-primary"
                                    (click)="moveAllCardsStatus[list.id]='showed'"
                                    *ngIf="list.cards.length > 0"
                                    [disabled]="moveAllCardsStatus[list.id]=='waiting'">
                                <span class="fa fa-backward"></span>
                                Cards
                                <span class="fa fa-forward"></span>
                            </button>
                            <form (ngSubmit)="onMoveAllCardsSubmit(list.id, moveAllCardsForm.value.destination_list)" #moveAllCardsForm="ngForm" *ngIf="moveAllCardsStatus[list.id]=='showed' || moveAllCardsStatus[list.id]=='waiting'">
                                <select name="destination_list" required ngModel>
                                    <option *ngFor="let list_i of board.lists" value="{{list_i.id}}">{{list_i.name}}</option>
                                </select>
                                <div class="actions">
                                    <button (click)="$event.preventDefault()"
                                            (click)="moveAllCardsStatus[list.id]='hidden'"
                                            [disabled]="moveAllCardsStatus[list.id]=='waiting'"
                                            class="btn btn-danger">Cancel</button>
                                    
                                    <button class="btn btn-success"
                                            (click)="$event.preventDefault()"
                                            (click)="moveAllCardsStatus[list.id]='waiting'"
                                            (click)="moveAllCardsForm.ngSubmit.emit()"
                                            [disabled]="!moveAllCardsForm.valid || moveAllCardsStatus[list.id]=='waiting'">
                                        <span class="fa fa-spin fa-spinner" *ngIf="moveAllCardsStatus[list.id]=='waiting'"></span>
                                        Move
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="newCardFormStatus[list.id]['show']" class="list_new_card">
                    <form (ngSubmit)="onNewCardSubmit(list, newCardForm.value.name, newCardForm.value.position)" #newCardForm="ngForm">
                    <textarea name="name" class=card_name-edit placeholder="Title of your new card" required ngModel></textarea>
                    <select name="position" required ngModel>
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                    </select>
                    <div>
                        <span class="btn btn-danger" (click)="newCardFormStatus[list.id] = {show: false, waiting: false}">Cancel</span>
                        <button type="submit" class="btn btn-success change_name" title="Create new card on list {{list.name}}"
                                (click)="newCardForm.ngSubmit.emit()"
                                (click)="newCardFormStatus[list.id]['waiting'] = true"
                                [disabled]="!newCardForm.valid || newCardFormStatus[list.id]['waiting']">
                            <span *ngIf="newCardFormStatus[list.id]['waiting']" class="fa fa-spinner fa-spin"></span>Create
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div [dragula]='"cards"' [dragulaModel]='list.cards'
                    id="card-list-{{list.id}}" class="cards" [attr.data-list]="list.id">
                    <div *ngFor="let card of list.cards"
                            id="card-{{card.id}}" class="card panel board-card"
                            [ngClass]="{'closed-card': card.is_closed, 'panel-info': !card.is_closed, 'panel-danger': card.is_closed, 'closed-card-showed': card.is_closed && closedItemsVisibility=='showed'}"
                            [attr.data-card]="card.id">
                        <span class="panel-heading card_heading" [ngClass]="{'closed-card_heading': card.is_closed }">
                            <span (click)="onCardSelect(card)" class="card_name">
                                <span class=card_name-name>{{card.name}}</span>
                            </span>
                            <a href="{{card.short_url}}" title="View card" class="card_action_view">
                                <span class="fa fa-trello"></span>
                            </a>
                            <a href="{{card.url}}" title="View card" class="card_action_view">
                                <span class="fa fa-eye"></span>
                            </a>
                            <span class="card_heading-labels" *ngIf="card.labels.length > 0">
                                <span class="card_heading-label" *ngFor="let label of card.labels" [style.background]="label.color" title="{{label.name}}">
                                    {{label.name}}
                                </span>
                            </span>
                        </span>
                    </div>
            </div>
        </div>
    </div>
</div>