{% extends "base/base.html" %}

{% block page_title %}Hourly rates{% endblock %}

{% block content %}
        <h1>Hourly rates</h1>
        {% if hourly_rates|length == 0 %}
        <div class="panel panel-warning ">
          <div class="panel-heading">No hourly rates</div>
          <div class="panel-body">
            It seems you don't have hourly rates.
              {% if member %}
                    <a href="{% url 'hourly_rates:new' %}"
                       title="New hourly rate" class="btn btn-primary">
                        Create a new hourly rate
                    </a>
              {% endif %}
          </div>
        </div>
        {% else %}
            {% if member %}
                <a href="{% url 'hourly_rates:new' %}" title="New hourly rate" class="btn btn-primary">New</a>
            {% endif %}
            <div class="panel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Rate</th>
                            <th>Number of boards</th>
                            <th>Is active?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hourly_rate in hourly_rates %}
                            <tr>
                                <td>{{hourly_rate.name}}</td>
                                <td>{{hourly_rate.start_date}}</td>
                                <td>{% if hourly_rate.end_date %}{{hourly_rate.end_date}}{% else %}Until now{% endif %}</td>
                                <td>{{hourly_rate.amount|floatformat:-2}}</td>
                                <td>{{hourly_rate.boards.all.count}}</td>
                                <td>{% if hourly_rate.is_active %}Yes{% else %}No{% endif %}</td>
                                <td>
                                    <a href="{% url 'hourly_rates:edit' hourly_rate.id %}"  class="btn btn-primary">Edit</a>
                                    <a href="{% url 'hourly_rates:delete' hourly_rate.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
{% endblock %}