<div class="row card">
    <div class="col-md-12 card">
        <div class="panel panel-info">
          <div class="panel-heading card-heading" style="background-color: #{{card.board.background_color}}; color:#{{card.board.title_color}}">
              <a href="{% url 'boards:view_card' card.board_id card.id %}"
                 style="color:#{{card.board.title_color}}"
                 title="View card {{card.name}} in board {{card.board.name}}">
                  {{card.name}}
              </a>
          </div>
          <div class="panel-body">
              <div class="card-info">
                  <div>Board: <a href="{% url 'boards:view' card.board_id %}">{{card.board.name}}</a></div>
                  <div>Last activity: {{card.last_activity_datetime}}</div>
                  {% with card_members=card.members.all %}
                    {% if card_members|length > 0 %}
                        <div>Members: {% for member in card_members %}<span title="{{member.external_username}}" class="cursor-help">{{member.initials}}</span> {% endfor %}</div>
                    {% endif %}
                  {% endwith %}
                  {% if card.spent_time %}
                        <div>
                            <p>
                                Spent time: {{card.spent_time|floatformat:-2}} hours
                            </p>
                            <p>
                                Adj. spent time: {{card.adjusted_spent_time|floatformat:-2}} hours
                            </p>
                        </div>
                  {% else %}
                  {% endif %}
                  {% if card.description %}
                    <div class="description cursor-pointer">
                        <div class="short_description">{{card.description|truncatechars:50}}</div>
                        <div class="long_description">{{card.description}}</div>
                    </div>
                  {% endif %}
              </div>
              {% if card.is_blocked %}
                  <div class="panel panel-default cursor-help" title="This card is blocked by {{card.pending_blocking_cards|length}} card(s). End them before developing this one.">
                      <div class="panel-heading">Blocking cards</div>
                      <div class="panel-body">
                          <div class="list-group">
                              {% for blocking_card in card.pending_blocking_cards %}
                                <p class="list-group-item">
                                    <a href="{{blocking_card.short_url}}" title="View card {{blocking_card.name}} in board {{blocking_card.board.name}}">
                                        {{blocking_card.name}}
                                    </a>
                                </p>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              {% endif %}
          </div>
        </div>
    </div>
</div>