{% extends "boards/view.html" %}

{% load template_extensions %}

{% block page_title %}Members of {{board.name}}{% endblock %}

{% block content %}
    <h1>Members of {{board.name}}</h1>
    <div>Last updated: {{board.get_human_fetch_datetime}}</div>
    {% if members|length == 0 %}
        There are no members in this board.
    {% else %}
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                        {% for week_i in weeks_of_year %}
                            <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" title="Spent time by member">
                    <img id="spent_time_by_week" class="ajax-img" data-src="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" alt="Spent time by member"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:spent_time_by_week_evolution' board.id %}" title="Evolution of spent time">
                    <img class="ajax-img" data-src="{% url 'charts:spent_time_by_week_evolution' board.id %}" alt="Evolution of spent time"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:number_of_cards_by_member' board.id %}" title="Number of cards by member">
                    <img class="ajax-img" data-src="{% url 'charts:number_of_cards_by_member' board.id %}" alt="Number of cards by member"/>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:spent_time_by_member' board.id %}" title="Spent time by member">
                    <img class="ajax-img" data-src="{% url 'charts:spent_time_by_member' board.id %}" alt="Spent time by member"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'charts:avg_spent_time_by_weekday' board.id %}" title="Average spent time per weekday by member">
                    <img class="ajax-img" data-src="{% url 'charts:avg_spent_time_by_weekday' board.id %}" alt="Average spent time per weekday by member" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'charts:spent_time_by_week_evolution' board.id %}?show_interruptions=1" title="Evolution of spent time">
                    <img class="ajax-img" data-src="{% url 'charts:spent_time_by_week_evolution' board.id %}?show_interruptions=1" alt="Evolution of spent time"/>
                </a>
            </div>
        </div>
        <div class="panel">
            <table class="table">
                <tr>
                    <td>Initials</td>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Mood</td>
                    <td>Number of cards</td>
                    <td>Avg. card time</td>
                    <td>Std. Dev. card time</td>
                    <td>Avg. estimated card time</td>
                    <td>Std. Dev. estimated card time</td>
                    <td>Avg. spent card time</td>
                    <td>Std. Dev. spent card time</td>
                </tr>
                {% for member in members %}
                    <tr>
                        <td>{{member.initials}}</td>
                        <td>{{member.external_username}}</td>
                        <td>
                            {% with member_role=member|call:"get_role"|arg:board %}
                                {{member_role.name}}
                            {% endwith %}
                        </td>
                        <td>
                            {% with member_mood=member.mood %}
                                {% if member_mood > 0 %}
                                    <span class="fa fa-smile-o"></span>
                                {% elif member_mood < 0 %}
                                    <span class="fa fa-frown-o"></span>
                                {% else %}
                                    <span class="fa fa-meh-o"></span>
                                {% endif %}
                                {{member_mood}}
                            {% endwith %}
                        </td>
                        {% with number_of_cards=member.number_of_cards %}
                            <td>{{number_of_cards}}</td>
                            <td>{% if number_of_cards > 0 %}{{member.avg_card_lead_time|floatformat:"-2"}}{% endif %}</td>
                            <td>{% if number_of_cards > 0 %}{{member.std_dev_card_lead_time|floatformat:"-2"}}{% endif %}</td>
                            <td>{% if number_of_cards > 0 %}{{member.avg_card_estimated_time|floatformat:"-2"}}{% endif %}</td>
                            <td>{% if number_of_cards > 0 %}{{member.std_dev_card_estimated_time|floatformat:"-2"}}{% endif %}</td>
                            <td>{% if number_of_cards > 0 %}{{member.avg_card_spent_time|floatformat:"-2"}}{% endif %}</td>
                            <td>{% if number_of_cards > 0 %}{{member.std_dev_card_spent_time|floatformat:"-2"}}{% endif %}</td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock content %}