
.card-view-in-trello {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-due-datetime,
.card-creation-datetime {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-list-environment {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-list-environment .card-current-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
}

.card-list-environment .card-current-list.label-success {

}

/* Labels */
.card-labels {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-labels-list{
    display: inline-block;
}

.card-label{
    color: white;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
}

#edit_labels_button{
    display: inline-block;
    margin-top: -7px;
}

.card-labels form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
}

.card-labels form select[name="labels"] {
    display: block;
    margin-bottom: 10px;
    min-height: 150px;
    width: 200px;
}

.card-labels form button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Blocking cards */
.card-blocking_cards {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Spent/Estimated time */
.card-spent_estimated_time {

}

.card-spent_estimated_time select[name="date"] {
    width: 55px;
}

.card-spent_estimated_time input[name="spent_time"],
.card-spent_estimated_time input[name="estimated_time"] {
    width: 50px;
}

.card-spent_estimated_time input[name="description"] {
    width: 50%
}

/* Comments */
.card-comments {

}

.card-comments form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
}

.card-comments form textarea {
    min-height: 120px;
}

.card-comments form button {

}

.card-comments .card-comments-comment {

}

.card-comments .card-comments-comment form {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-top: 0px;
}