{% extends "boards/view.html" %}

{% block page_title %}Fetch data from {{board.name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 center-block">
        <div class="panel panel-danger ">
          <div class="panel-heading">Danger! This action cannot be undone</div>
          <div class="panel-body">
              <p>
                {{board.name}}'s data will be deleted and fetched again.
              </p>
              {% if board.last_fetch_datetime %}
                  <p>
                    <strong>Last fetch</strong> was on {{board.last_fetch_datetime|date:"Y-m-d H:i"}} (<strong>{{board.last_fetch_datetime|timesince}} ago</strong>)
                  </p>
              {% endif %}
              <p>
                Are you sure?
              </p>

              <form action="{% url 'boards:fetch' board.id %}" method="post">
                <input type="hidden" name="board_id" value="{{board.id}}"/>
                <button type="submit" class="btn btn-danger">I am sure, delete board contents and fetch again its data</button>
              </form>

          </div>
        </div>
    </div>
</div>

{% endblock %}