{% extends "base/base.html" %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block content %}
    <h1>Boards of {{member.trello_username}}</h1>
    <div class="board_list">
        {% if boards|length == 0 %}
            {% include "boards/no_boards_warning.html" %}
        {% else %}
            <ul>
                {% for board in boards %}
                    <li>
                        <span>{{board.name}}</span>
                        <div>
                            <a href="{% url 'boards:view_board_lists' board.id %}">View lists</a>
                            {% if board.lists_are_configured %}
                                <a href="{% url 'boards:view_workflows' board.id %}">View workflows</a>
                                <a href="{% url 'boards:view_card_report' board.id %}">View cards</a>
                                {% for workflow in board.workflows.all %}
                                    <a href="{% url 'boards:view_workflow_card_report' board.id workflow.id %}">View {{workflow.name}} report</a>
                                {% endfor %}
                                <a href="{% url 'boards:view_label_report' board.id %}">View labels</a>
                                <a href="{% url 'boards:view_member_report' board.id %}">View members</a>
                                {% include "boards/fetch_form.html" %}
                                {% include "boards/delete_form.html" %}
                            {% else %}
                                You need a 'done list' and at least a 'in development' list
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}