{% extends "base/base.html" %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block content %}
    <h1>Boards of {{member.trello_username}}</h1>
    <div class="board_list">
        {% if member.has_trello_credentials %}
            <p>
                <a class="btn btn-warning" href="{% url 'boards:new' %}" title="New board">New board</a>
                <a class="btn btn-warning" href="{% url 'boards:sync' %}" title="New board">Synchronize from Trello</a>
                {% if archived_boards|length > 0 %}
                    <a class="btn btn-info" href="{% url 'boards:view_archived_boards' %}" title="View archived boards">View archived boards ({{archived_boards|length}})</a>
                {% else %}
                    There are no archived boards.
                {% endif %}
            </p>
        {% endif %}
        {% if boards|length == 0 %}
            {% if request.user.member %}
                {% include "boards/components/list/no_boards_warning.html" %}
            {% else %}
                You don't have any assigned project. You shouldn't be seeing this.
            {% endif %}
        {% else %}
            <ul class="list-group">
                {% for board in boards %}
                    <li class="list-group-item">
                        <h2>{{board.name}}</h2>
                        {% if board.last_fetch_datetime %}
                            <div>
                                Last fetched on {{board.last_fetch_datetime}} ({{board.last_fetch_datetime|timesince}} ago)
                            </div>
                        {% else %}
                            <div>
                                Not fetched yet.
                            </div>
                        {% endif %}
                        <div>
                            <div>
                                {% if board.has_to_be_fetched %}
                                    <span class="fa fa-cloud-download"></span>Will be fetched.
                                {% else %}
                                    <span class="fa fa-times"></span>Will <strong>not</strong> be fetched. <a href="{% url 'boards:edit' board.id %}" title="Change board fetching settings">Change</a>.
                                {% endif %}
                            </div>
                            <a class="btn btn-primary" href="{% url 'boards:view' board.id %}" title="View board {{board.name}}">
                                <span class="fa fa-eye"></span> View
                            </a>
                            {% if member %}
                                <a class="btn btn-warning" href="{% url 'boards:edit' board.id %}" title="Edit board {{board.name}}">
                                    <span class="fa fa-pencil"></span> Edit
                                </a>
                                <a class="btn btn-warning" href="{% url 'boards:archive' board.id %}" title="Archive board {{board.name}}">
                                    <span class="fa fa-archive"></span> Archive
                                </a>
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'boards:view_lists' board.id %}" title="View lists of board {{board.name}}">
                                <span class="fa fa-list"></span> Lists</a>
                            {% if board.is_ready %}
                                <a class="btn btn-primary" href="{% url 'boards:workflows:view_list' board.id %}" title="View workflows of board {{board.name}}">Workflows</a>
                                <a class="btn btn-primary" href="{% url 'boards:view_card_report' board.id %}" title="View cards of board {{board.name}}">
                                    <span class="fa fa-sticky-note-o"></span> Cards
                                </a>
                                {% for workflow in board.workflows.all %}
                                    <a class="btn btn-primary" href="{% url 'boards:view_workflow_card_report' board.id workflow.id %}" title="View workflow {{workflow.name}} report for board {{board.name}}">
                                        View {{workflow.name}} report
                                    </a>
                                {% endfor %}
                                <a class="btn btn-primary" href="{% url 'boards:view_label_report' board.id %}" title="View label report of board {{board.name}}">
                                    <span class="fa fa-tags"></span> Labels
                                </a>
                                <a class="btn btn-primary" href="{% url 'boards:view_member_report' board.id %}" title="View members of board {{board.name}}">
                                    <span class="fa fa-users"></span> Members
                                </a>
                                <a class="btn btn-primary" href="{% url 'dev_times:view_daily_spent_times' %}?board_id={{board.id}}" title="View spent times of board {{board.name}}">
                                    <span class="fa fa-calendar-check-o"></span> Spent times
                                </a>
                                {% if board.estimated_number_of_hours %}
                                    {% with board_spent_time=board.get_spent_time %}
                                        {% with board_adjusted_spent_time=board.get_adjusted_spent_time %}
                                        <span class="cursor-help btn btn-{% if board_adjusted_spent_time < board.estimated_number_of_hours %}success{% elif board_adjusted_spent_time == board.estimated_number_of_hours %}warning{% else %}danger{% endif %}"
                                        title="Team has developed {{board_spent_time|floatformat:-2}} ({{board_adjusted_spent_time|floatformat:-2}}) adjusted) of {{board.estimated_number_of_hours}} hours of the budget">
                                            {{board_spent_time|floatformat:-2}} ({{board_adjusted_spent_time|floatformat:-2}} adjusted) hours of {{board.estimated_number_of_hours}} estimated hours
                                        </span>
                                        {% endwith %}
                                    {% endwith %}

                                    {% with board_current_percentage_of_completion=board.current_percentage_of_completion %}
                                        <span class="cursor-help btn {% if not board.percentage_of_completion %}btn-primary{% else %}btn-{% if board_current_percentage_of_completion < board.percentage_of_completion %}success{% elif board_current_percentage_of_completion == board.percentage_of_completion %}warning{% else %}danger{% endif %}{% endif %}"
                                        title="Actual percentage of completion should be {{board_current_percentage_of_completion|floatformat:-2}}, while the team has assigned a percentage of completion of {{board.percentage_of_completion|floatformat:-2}} % to this project.">
                                            {{board_current_percentage_of_completion|floatformat:-2}} % {% if board.percentage_of_completion %}/ {{board.percentage_of_completion|floatformat:-2}} %{% endif %}
                                        </span>
                                    {% endwith %}

                                {% endif %}
                            {% else %}
                                You need a 'done list' and at least a 'in development' list
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}