{% extends "base/base.html" %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block content %}
    <h1>Boards of {{member.trello_username}}</h1>
    <div class="board_list">
        {% if boards|length == 0 %}
            {% include "boards/no_boards_warning.html" %}
        {% else %}
            <ul class="list-group">
                {% for board in boards %}
                    <li class="list-group-item">
                        <h2>{{board.name}}</h2>
                        <div>
                            <a class="btn btn-primary" href="{% url 'boards:view' board.id %}">
                                <span class="fa fa-eye"></span> View
                            </a>
                            <a class="btn btn-primary" href="{% url 'boards:edit' board.id %}">
                                <span class="fa fa-pencil"></span> Edit
                            </a>
                            <a class="btn btn-primary" href="{% url 'boards:view_lists' board.id %}">
                                <span class="fa fa-list"></span> View lists</a>
                            {% if board.is_ready %}
                                <a class="btn btn-primary" href="{% url 'boards:view_workflows' board.id %}">View workflows</a>
                                <a class="btn btn-primary" href="{% url 'boards:view_card_report' board.id %}">
                                    <span class="fa fa-sticky-note-o"></span> View cards
                                </a>
                                {% for workflow in board.workflows.all %}
                                    <a class="btn btn-primary" href="{% url 'boards:view_workflow_card_report' board.id workflow.id %}">View {{workflow.name}} report</a>
                                {% endfor %}
                                <a class="btn btn-primary" href="{% url 'boards:view_label_report' board.id %}">
                                    <span class="fa fa-tags"></span> View labels
                                </a>
                                <a class="btn btn-primary" href="{% url 'boards:view_member_report' board.id %}">
                                    <span class="fa fa-users"></span> View members
                                </a>
                                <a class="btn btn-primary" href="{% url 'dev_times:view_daily_spent_times' %}?board_id={{board.id}}">
                                    <span class="fa fa-calendar-check-o"></span> View daily spent times
                                </a>
                            {% else %}
                                You need a 'done list' and at least a 'in development' list
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}