{% extends "boards/view.html" %}

{% load template_extensions %}
{% load staticfiles %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        SPENT_TIME_BY_WEEK_CHART_URL = "{% url 'charts:public_spent_time_by_week' '0000W00' board.public_access_code %}";
        REQUIREMENT_BURNDOWN_URL = "{% url 'charts:public_requirement_burndown' %}/{{board.public_access_code}}/REQUIREMENT";
    </script>
{% endblock js %}

{% block content_menu %}
{% endblock %}

{% block public_view %}{% endblock public_view %}

