{% extends "base/base.html" %}

{% load template_extensions %}
{% load staticfiles %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/boards/main.css' %}" rel="stylesheet" />
{% endblock css %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        WEEK_OF_YEAR = "{{week_of_year}}";
        SPENT_TIME_BY_WEEK_CHART_URL = "{% url 'charts:spent_time_by_week' %}/WEEK_OF_YEAR/{{board.id}}";
    </script>
    <script type="text/javascript" src="{% static 'js/boards/spent_time_by_week.js' %}"></script>
{% endblock js %}

{% block content_menu %}
    {% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'boards:view' board.id %}">{{board.name|truncatechars:20}}</a>
            </div>

            <div class="" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if url_name == "edit" %}class="active"{% endif %}>
                        <a href="{% url 'boards:edit' board.id %}">
                            <span class="fa fa-pencil"></span> Edit
                        </a>
                    </li>
                    <li {% if url_name == "view_lists" %}class="active"{% endif %}>
                        <a href="{% url 'boards:view_lists' board.id %}">
                            <span class="fa fa-list"></span> Lists
                        </a>
                    </li>
                    {% if board.is_ready and board.is_fetched %}
                        <li {% if url_name == "view_workflows" %}class="active"{% endif %}>
                            <a href="{% url 'boards:workflows:view_list' board.id %}">Workflows</a>
                        </li>
                        <li {% if url_name == "view_card_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_card_report' board.id %}">
                                <span class="fa fa-sticky-note-o"></span> Cards
                            </a>
                        </li>
                        <li {% if url_name == "view_label_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_label_report' board.id %}">
                                <span class="fa fa-tags"></span> Labels
                            </a>
                        </li>
                        <li {% if url_name == "view_member_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_member_report' board.id %}">
                                <span class="fa fa-users"></span> Members
                            </a>
                        </li>
                        <li {% if url_name == "view_daily_spent_times" %}class="active"{% endif %}>
                            <a href="{% url 'dev_times:view_daily_spent_times' %}?board_id={{board.id}}">
                                <span class="fa fa-calendar-check-o"></span> Spent times
                            </a>
                        </li>
                        {% for workflow in board.workflows.all %}
                            <li {% if url_name == "view_workflow_card_report" %}class="active"{% endif %}>
                                <a href="{% url 'boards:view_workflow_card_report' board.id workflow.id %}">View {{workflow.name}} report</a>
                            </li>
                        {% endfor %}
                        {% if board.has_to_be_fetched %}
                            <li {% if url_name == "fetch" %}class="active"{% endif %}>
                                <a href="{% url 'boards:fetch' board.id %}">
                                    <span class="fa fa-download"></span> Fetch
                                </a>
                            </li>
                        {%  endif %}
                        <li {% if url_name == "delete" %}class="active"{% endif %}>
                            <a href="{% url 'boards:delete' board.id %}">
                                <span class="fa fa-trash"></span>  Delete
                            </a>
                        </li>
                    {% endif %}
                </ul>

                {% if board.estimated_number_of_hours %}
                    {% with board_spent_time=board.get_spent_time %}
                        <div id="board_spent_time">
                            <span class="navbar-text label {% if board_spent_time < board.estimated_number_of_hours %}label-success{% elif board_spent_time == board.estimated_number_of_hours %}label-warning{% else %}label-danger{% endif %}">
                                <span class="cursor-help" title="Actual spent time until now">{{board_spent_time|floatformat:-2}}</span> / <span class="cursor-help" title="Maximum spent time allowed by budget">{{board.estimated_number_of_hours|floatformat:-2}}</span> hours
                            </span>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </nav>
    {% endwith %}
{% endblock %}

{% block content %}
    {% if board.is_ready and board.is_fetched %}
        <h1>{{board.name}}</h1>

        {% if board.last_fetch_datetime %}
            <div>
                <p>
                Last fetched on {{board.last_fetch_datetime}} ({{board.last_fetch_datetime|timesince}} ago).
                </p>
                <p>
                 {% if not board.has_to_be_fetched %}This board is not goind to be fetched anymore unless you edit <a href="{% url 'boards:edit' board.id %}">its preferences</a>{% endif %}
                </p>
            </div>
        {% endif %}

        {% if board.estimated_number_of_hours %}

            {% with board_spent_time=board.get_spent_time%}
                <div class="panel panel-{% if board_spent_time == board.estimated_number_of_hours %}warning{% elif board_spent_time < board.estimated_number_of_hours %}success{% else %}danger{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Number of spent hours</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            This project has spent <strong> {{board_spent_time|floatformat:-2}} hours</strong> of <strong>{{board.estimated_number_of_hours}} estimated hours</strong>.
                            {% if board_spent_time == board.estimated_number_of_hours %}
                                <span>Congratulations.</span>
                            {% elif board_spent_time < board.estimated_number_of_hours %}
                                <span>Congratulations.</span>
                            {% else %}
                                <span>Be careful. You are in overbudget.</span>
                            {% endif %}
                        </p>
                        <p>Developed value in this project is <strong>{{board.get_developed_value|floatformat:-2}} ¤</strong></p>
                    </div>
                </div>
            {% endwith %}

            {% with current_percentage_of_completion=board.current_percentage_of_completion %}
                <div class="panel panel-{% if current_percentage_of_completion == board.percentage_of_completion %}warning{% elif current_percentage_of_completion < board.percentage_of_completion %}success{% else %}danger{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Percentage of completion</h3>
                    </div>
                    <div class="panel-body">
                        This project should be at least at <strong>{{current_percentage_of_completion|floatformat:-2}} %</strong>.
                        {% if board.percentage_of_completion %}
                            According to <a href="{% url 'boards:edit' board.id %}">this board settings</a>, it is at <strong>{{board.percentage_of_completion|floatformat:2}} %</strong>.
                            {% if current_percentage_of_completion == board.percentage_of_completion %}
                                <span>Congratulations.</span>
                            {% elif current_percentage_of_completion < board.percentage_of_completion %}
                                <span>Congratulations. That's <strong>{{board.percentage_of_completion|subtract:current_percentage_of_completion|floatformat:-2}} % ahead of estimated hours</strong>.</span>
                            {% else %}
                                <span>Be careful. You are behind the expected estimations.</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

        {% endif %}



        {% if member.is_developer %}
            {% include "members/components/tasks_in_development_board.html" %}
        {% endif %}

        <h2>Blocked cards</h2>
        <div class="row">
        {% for card in board.cards.all %}
            {% if card.is_blocked %}
                {% include "cards/components/card.html" %}
            {% endif %}
        {% endfor %}
        </div>

        <h2>Charts</h2>
        <div>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <img id="spent_time_by_week" src="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" alt="Spent time by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_time_by_list' board.id %}" alt="Average time a card is in each list"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_forward_movements_by_member' board.id %}" alt="Task forward movements by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_backward_movements_by_member' board.id %}" alt="Task backward movements by member"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_lead_time' board.id %}" alt="Average lead time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_cycle_time' board.id %}" alt="Average cycle time"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_spent_time' board.id %}" alt="Average spent time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_estimated_time' board.id %}" alt="Average estimated time"/>
                </div>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col-md-5 center-block">
                <div class="panel panel-danger ">
                  <div class="panel-heading">Error when showing charts</div>
                  <div class="panel-body">
                      {% if not board.is_ready %}
                            This board lists are not configured. Please <a href="{% url 'boards:view_lists' board.id %}">configure its lists</a>
                      {% elif not board.is_fetched %}
                            <div>This board has no data. Please wait one day until data is fetched or fetch its data.</div>
                            <a href="{% url 'boards:fetch' board.id %}" class="btn btn-danger">Fetch board {{board.name}} data</a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
