{% extends "base/base.html" %}

{% load static %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/angularapp/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/boards/cards/view.css' %}" rel="stylesheet" />
    <link href="{% static 'angularapps/taskboard/node_modules/dragula/dist/dragula.css' %}" rel="stylesheet" />
{% endblock css %}


{% block js %}
    {{block.super}}
        <!-- Polyfill(s) for older browsers -->
        <script src="{% static 'angularapps/taskboard/node_modules/core-js/client/shim.min.js' %}"></script>
        <script src="{% static 'angularapps/taskboard/node_modules/zone.js/dist/zone.js' %}"></script>
        <script src="{% static 'angularapps/taskboard/node_modules/reflect-metadata/Reflect.js' %}"></script>
        <script src="{% static 'angularapps/taskboard/node_modules/systemjs/dist/system.src.js' %}"></script>

        <script src="{% static 'angularapps/taskboard/systemjs.config.js' %}"></script>
        <script type="text/javascript">
          window.URL_PREFIX = "http://{{DOMAIN}}:{{PORT}}/";
          window.APP_URL_PREFIX = "http://{{DOMAIN}}:{{PORT}}/static/angularapps/taskboard/";
          window.API_URL_PREFIX = "http://{{DOMAIN}}:{{PORT}}/api/";

          System.import('/static/angularapps/taskboard/app/main').catch(function(err){
              console.error(err);
          });
        </script>
{% endblock js %}

{% block extra_meta %}
  {{block.super}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/boards/dashboard">
{% endblock extra_meta %}

{% block content_menu %}
    {% include "boards/components/view/menu.html" %}
{% endblock %}

{% block content %}
  <django-trello-stats>
      <div class="loading-app-message">
        <span class="fa fa-spin fa-spinner"></span>
        <span class="loading-app-message-text">Loading application, please wait...</span>
      </div>
  </django-trello-stats>
{% endblock content %}


{% load static %}


