{% extends "base/base.html" %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block content_menu %}
    {% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'boards:view' board.id %}">{{board.name}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if url_name == "view_lists" %}class="active"{% endif %}>
                        <a href="{% url 'boards:view_lists' board.id %}">
                            <span class="fa fa-list"></span> View lists
                        </a>
                    </li>
                    {% if board.is_ready and board.is_fetched %}
                        <li {% if url_name == "view_workflows" %}class="active"{% endif %}>
                            <a href="{% url 'boards:workflows:view_list' board.id %}">View workflows</a>
                        </li>
                        <li {% if url_name == "view_card_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_card_report' board.id %}">
                                <span class="fa fa-sticky-note-o"></span> View cards
                            </a>
                        </li>
                        <li {% if url_name == "view_label_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_label_report' board.id %}">
                                <span class="fa fa-tags"></span> View labels
                            </a>
                        </li>
                        <li {% if url_name == "view_member_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_member_report' board.id %}">
                                <span class="fa fa-users"></span> View members
                            </a>
                        </li>
                        <li {% if url_name == "view_daily_spent_times" %}class="active"{% endif %}>
                            <a href="{% url 'dev_times:view_daily_spent_times' %}?board_id={{board.id}}">
                                <span class="fa fa-calendar-check-o"></span> View daily spent times
                            </a>
                        </li>
                        {% for workflow in board.workflows.all %}
                            <li {% if url_name == "view_workflow_card_report" %}class="active"{% endif %}>
                                <a href="{% url 'boards:view_workflow_card_report' board.id workflow.id %}">View {{workflow.name}} report</a>
                            </li>
                        {% endfor %}
                        <li {% if url_name == "fetch" %}class="active"{% endif %}>
                            <a href="{% url 'boards:fetch' board.id %}">
                                <span class="fa fa-download"></span> Fetch
                            </a>
                        </li>
                        <li {% if url_name == "delete" %}class="active"{% endif %}>
                            <a href="{% url 'boards:delete' board.id %}">
                                <span class="fa fa-trash"></span>  Delete
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endwith %}
{% endblock %}

{% block content %}
    {% if board.is_ready and board.is_fetched %}
        <h1>{{board.name}}</h1>

        {% if board.last_fetch_datetime %}
            <div>
                Last fetched on {{board.last_fetch_datetime|date:"Y-m-d H:i"}} ({{board.last_fetch_datetime|timesince}} ago)
            </div>
        {% endif %}

        {% if member.is_developer %}
            {% include "members/components/tasks_in_development_board.html" %}
        {% endif %}



        <h2>Charts</h2>
        <div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" alt="Spent time by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_time_by_list' board.id %}" alt="Average time a card is in each list"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_forward_movements_by_member' board.id %}" alt="Task forward movements by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_backward_movements_by_member' board.id %}" alt="Task backward movements by member"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_lead_time' board.id %}" alt="Average lead time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_cycle_time' board.id %}" alt="Average cycle time"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_spent_time' board.id %}" alt="Average spent time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_estimated_time' board.id %}" alt="Average estimated time"/>
                </div>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col-md-5 center-block">
                <div class="panel panel-danger ">
                  <div class="panel-heading">Error when showing charts</div>
                  <div class="panel-body">
                      {% if not board.is_ready %}
                            This board lists are not configured. Please <a href="{% url 'boards:view_lists' board.id %}">configure its lists</a>
                      {% elif not board.is_fetched %}
                            <div>This board has no data. Please wait one day until data is fetched or fetch its data.</div>
                            <a href="{% url 'boards:fetch' board.id %}" class="btn btn-danger">Fetch board {{board.name}} data</a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
