{% extends "base/base.html" %}

{% load template_extensions %}
{% load staticfiles %}

{% block page_title %}Boards of {{member.trello_username}}{% endblock %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/boards/main.css' %}" rel="stylesheet" />
{% endblock css %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        WEEK_OF_YEAR = "{{week_of_year}}";
        SPENT_TIME_BY_WEEK_CHART_URL = "{% url 'charts:spent_time_by_week' %}/WEEK_OF_YEAR/{{board.id}}";
    </script>
    <script type="text/javascript" src="{% static 'js/boards/spent_time_by_week.js' %}"></script>
{% endblock js %}

{% block content_menu %}
    {% include "boards/components/view/menu.html" %}
{% endblock %}

{% block content %}
    {% if board.is_ready and board.is_fetched %}
        <h1>{{board.name}}</h1>

        {% if board.last_fetch_datetime %}
            <div>
                <p>
                Last fetched on {{board.last_fetch_datetime}} ({{board.last_fetch_datetime|timesince}} ago).
                </p>
                <p>
                 {% if not board.has_to_be_fetched %}This board is not goind to be fetched anymore unless you edit <a href="{% url 'boards:edit' board.id %}">its preferences</a>{% endif %}
                </p>
            </div>
        {% endif %}

        {% if board.estimated_number_of_hours %}

            {% with board_spent_time=board.get_spent_time%}
                <div class="panel panel-{% if board_spent_time == board.estimated_number_of_hours %}warning{% elif board_spent_time < board.estimated_number_of_hours %}success{% else %}danger{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Number of spent hours</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            This project has spent <strong> {{board_spent_time|floatformat:-2}} hours</strong> of <strong>{{board.estimated_number_of_hours}} estimated hours</strong>.
                            {% if board_spent_time == board.estimated_number_of_hours %}
                                <span>Congratulations.</span>
                            {% elif board_spent_time < board.estimated_number_of_hours %}
                                <span>Congratulations.</span>
                            {% else %}
                                <span>Be careful. You are in overbudget.</span>
                            {% endif %}
                        </p>
                        <p>Developed value in this project is <strong>{{board.get_developed_value|floatformat:-2}} ¤</strong></p>
                    </div>
                </div>
            {% endwith %}

            {% with current_percentage_of_completion=board.current_percentage_of_completion %}
                <div class="panel panel-{% if current_percentage_of_completion == board.percentage_of_completion %}warning{% elif current_percentage_of_completion < board.percentage_of_completion %}success{% else %}danger{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Percentage of completion</h3>
                    </div>
                    <div class="panel-body">
                        This project should be at least at <strong>{{current_percentage_of_completion|floatformat:-2}} %</strong>.
                        {% if board.percentage_of_completion %}
                            According to <a href="{% url 'boards:edit' board.id %}">this board settings</a>, it is at <strong>{{board.percentage_of_completion|floatformat:2}} %</strong>.
                            {% if current_percentage_of_completion == board.percentage_of_completion %}
                                <span>Congratulations.</span>
                            {% elif current_percentage_of_completion < board.percentage_of_completion %}
                                <span>Congratulations. That's <strong>{{board.percentage_of_completion|subtract:current_percentage_of_completion|floatformat:-2}} % ahead of estimated hours</strong>.</span>
                            {% else %}
                                <span>Be careful. You are behind the expected estimations.</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

        {% endif %}

        {% if member.is_developer %}
            {% include "boards/components/view/tasks_in_development.html" %}
        {% endif %}

        {% include "boards/components/view/blocked_tasks.html" %}

        {% include "boards/components/view/full_board.html" %}

        <h2>Charts</h2>
        <div>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <select id="select_week_of_year_in_spent_time_by_week" class="select_parameter_in_spent_time_by_week">
                            {% for week_i in weeks_of_year %}
                                <option value="{{week_i}}" {% if week_i == week_of_year %}selected="selected"{% endif %}>{{week_i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <img id="spent_time_by_week" src="{% url 'charts:spent_time_by_week' week_of_year board.id  %}" alt="Spent time by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_time_by_list' board.id %}" alt="Average time a card is in each list"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_forward_movements_by_member' board.id %}" alt="Task forward movements by member"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:task_backward_movements_by_member' board.id %}" alt="Task backward movements by member"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_lead_time' board.id %}" alt="Average lead time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_cycle_time' board.id %}" alt="Average cycle time"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_spent_time' board.id %}" alt="Average spent time"/>
                </div>
                <div class="col-sm-6">
                    <img src="{% url 'charts:avg_estimated_time' board.id %}" alt="Average estimated time"/>
                </div>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col-md-5 center-block">
                <div class="panel panel-danger ">
                  <div class="panel-heading">Error when showing charts</div>
                  <div class="panel-body">
                      {% if not board.is_ready %}
                            This board lists are not configured. Please <a href="{% url 'boards:view_lists' board.id %}">configure its lists</a>
                      {% elif not board.is_fetched %}
                            <div>This board has no data. Please wait one day until data is fetched or fetch its data.</div>
                            <a href="{% url 'boards:fetch' board.id %}" class="btn btn-danger">Fetch board {{board.name}} data</a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
