{% extends "boards/view.html" %}

{% load staticfiles %}

{% block page_title %}Week {{week_of_year}} summary for board {{board.name}}{% endblock %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/boards/cards/view_week_summary.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
    <h1>Week {{week_of_year}} summary for board {{board.name}}</h1>
    <div>Last updated: {{board.get_human_fetch_datetime}}</div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" href="{% url 'boards:view_card_report' board.id %}">
                    <span class="fa fa-arrow-left"></span>
                    View all tasks in {{board.name}}
                </a>
            </p>
        </div>
    </div>
    <div id="week-summary-filter-container" class="row">
        <div class="col-md-12">
            <h2>Filter the list of completed cards</h2>
            {% include "forms/form.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                {{completed_cards|length}} tasks were completed in {{week_of_year}}
                ({{week_start_date|date:"Y-m-d"}} to {{week_end_date|date:"Y-m-d"}})
                {% if selected_member %}by {{selected_member.trello_username}}{% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if completed_cards|length > 0 %}
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>Members</td>
                        <td>Comments</td>
                        <td>Lead time</td>
                        <td>Cycle time</td>
                        <td>Spent/Estimated time</td>
                        <td>Last activity date</td>
                        <td>Actions</td>
                    </tr>
                    {% for card in completed_cards %}
                        <tr>
                            <td>
                                <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                    {{card.name}}
                                </a>
                            </td>
                            <td>{{card.number_of_comments}}</td>
                            <td>
                                {% for card_member in card.members.all %}
                                    {{card_member.trello_username}}{% if forloop.revcounter0 > 1 %}, {% elif forloop.revcounter0 == 1 %} and {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% if card.lead_time %}{{card.lead_time|floatformat:-2}}{% endif %}</td>
                            <td>{% if card.cycle_time %}{{card.cycle_time|floatformat:-2}}{% endif %}</td>
                            <td>{% if card.spent_time or card.estimated_time %}{{card.spent_time|floatformat:-2}}/{{card.estimated_time|floatformat:-2}}{% endif %}</td>
                            <td>{{card.last_activity_datetime}}</td>
                            <td>
                                <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a href="{{card.short_url}}" title="View card in Trello">
                                    <span class="fa fa-trello"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
