{% extends "base/base.html" %}

{% load staticfiles %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/boards/list.css' %}" rel="stylesheet" />
{% endblock css %}

{% block page_title %}Boards of {{member.external_username}}{% endblock %}

{% block content %}
    <h1>Boards of {{member.external_username}}</h1>
    <div class="board_list">
        {% if member.has_trello_credentials %}
            <p>
                <a class="btn btn-info" href="{% url 'boards:view_boards' %}" title="Go back to board list">Go back to board list</a>
            </p>
        {% endif %}
        {% if boards|length == 0 %}
            You don't have any archived board.
        {% else %}
            <ul class="list-group">
                {% for board in boards %}
                    <li class="list-group-item">
                        <h2 style="background-color:#{{board.background_color}}; color:#{{board.title_color}};">{{board.name}}</h2>
                        {% if board.last_fetch_datetime %}
                            <div>
                                Last fetched on {{board.last_fetch_datetime}} ({{board.last_fetch_datetime|timesince}} ago)
                            </div>
                        {% else %}
                            <div>
                                Not fetched yet.
                            </div>
                        {% endif %}
                        {% if member %}
                            <div>
                                <a class="btn btn-warning" href="{% url 'boards:unarchive' board.id %}" title="Unarchive board {{board.name}}">
                                    <span class="fa fa-pencil"></span> Unarchive
                                </a>

                                <a class="btn btn-danger" href="{% url 'boards:delete' board.id %}" title="Delete board {{board.name}}">
                                    <span class="fa fa-trash"></span> Delete
                                </a>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}