{% extends "boards/view.html" %}

{% load staticfiles %}

{% block page_title %}Fetch data from {{board.name}}{% endblock %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/fetch/fetch.js' %}"></script>
{% endblock js %}

{% block content %}

<div class="row">
    <div class="col-md-5 center-block">
        {% if not done %}
            <div class="panel panel-danger ">
              <div class="panel-heading">Danger! This action cannot be undone</div>
              <div class="panel-body">
                  <p>
                    {{board.name}}'s data will be deleted and fetched again.
                  </p>
                  {% if board.last_fetch_datetime %}
                      <p>
                        <strong>Last fetch</strong> was on {{board.last_fetch_datetime}} (<strong>{{board.last_fetch_datetime|timesince}} ago</strong>)
                      </p>
                  {% endif %}
                  <p>
                    Are you sure?
                  </p>

                  <form id="fetch_form" action="{% url 'boards:fetch' board.id %}" method="post">
                    <input type="hidden" name="board_id" value="{{board.id}}"/>
                    <button id="fetch_button" type="submit" class="btn btn-danger">
                        <span class="fa fa-spinner fa-spin" style="display: none"></span>
                        I am sure, fetch and update its data
                    </button>
                  </form>

              </div>
            </div>
        </div>
    {% else %}
        <div class="panel panel-success">
              <div class="panel-heading">Board fetched successfully</div>
              <div class="panel-body">
                  <p>
                      Board <strong>{{board.name}}</strong> was fetched successfully!
                      <a href="{% url 'boards:view' board.id %}" class="btn btn-primary">Go back to this board's dashboard</a>
                  </p>
              </div>
        </div>
    {% endif %}
</div>

{% endblock %}