#board_spent_time{

}

#board_spent_time span.label{
    color: white;
    font-size: 1em;
    font-weight: normal;
}


.card-info {
    margin-bottom: 1em;
}

@media (max-width: 770px) {
    .nav > li {
        position: relative;
        display: inline-block;
        width: 45%;
    }
}

.cursor-pointer{
    cursor: pointer;
}