a:hover,
a {
    text-decoration: none;
}

/* Header Menu */
#header_logo{
    width: 100%;
}

#header_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 133px;
}

#header ul.last_cards,
#header ul.last_comments {
    max-height: 450px;
    overflow: scroll;
}

#header .last_comments .last_comment .panel-info {
    margin: 10px;
    white-space: nowrap;
}

#header .last_comments .last_comment .panel-info .board_name {
    margin-bottom: 10px;
}

#header .last_comments .last_comment .comment_content {
    overflow-wrap: break-word;
    width: 250px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.col-md-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

#content{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    width: 85%;
}

.large-form form input,
.large-form form textarea{
    width: 80%;
}

#footer{
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer .row{
    margin-bottom: 10px;
}

.cursor-help {
    cursor: help
}

.d-inline-block {
    display: inline-block;
}

.small-identicon {
    height: 20px;
    width: 20px;
}

h1 a .fa,
h1 a:hover .fa,
a .img-loader-spinner.fa:hover,
a .img-loader-spinner.fa {
    color: black;
}

.async_included-spinner,
.img-loader-spinner {
    display: block;
    text-align: center;
}

#content_menu .async_included-spinner {
    display: inline;
}

.ajax-img {
    display: none;
}

.inline-block{
    display: inline-block;
}

@media (max-width: 391px) {
    #header_image{
        width: 100%;
    }
}