#header_logo{
    width: 100%;
}

#header_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 393px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.col-md-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

#content{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    width: 85%;
}

.large-form form input,
.large-form form textarea{
    width: 80%;
}

#footer{
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer .row{
    margin-bottom: 10px;
}

.cursor-help {
    cursor: help
}

.inline-block{
    display: inline-block;
}

@media (max-width: 391px) {
    #header_image{
        width: 100%;
    }
}