form {
    width: 80%;
}

form .field.input-group{
    width: 100%
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
}

form .django-ckeditor-widget,
form .cke_chrome{
    width: 100% !important;
}