{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Django Trello Stats :: {% block page_title %}{% endblock page_title %}</title>

        <link rel='shortcut icon' type='image/png' sizes='16x16' href='{% static "img/favicon-16x16.png" %}' />
        <link rel='shortcut icon' type='image/png' sizes='32x32' href='{% static "img/favicon-32x32.png" %}' />

        {% block extra_meta %}
        {% endblock extra_meta %}

        {% block css %}
            <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet" />
            <link href="{% static 'css/libs/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
            <link href="{% static 'css/base/base.css' %}" rel="stylesheet" />
            <link href="{% static 'css/base/form.css' %}" rel="stylesheet" />
            <link href="{% static 'css/libs/jquery-confirm.css' %}" rel="stylesheet" />
        {% endblock css %}

        {% block js %}
            <script src="{% static 'js/libs/jquery-2.2.4.min.js' %}"></script>
            <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/libs/jquery-confirm.js' %}"></script>
            <script type="text/javascript">
                CKEDITOR_JQUERY_URL = "{% static 'js/libs/jquery-2.2.4.min.js' %}";
            </script>
        {% endblock js %}
    </head>

    <body>

        {% block header %}
            {% include "base/header.html" %}
        {% endblock header %}

        <div id="content_wrapper">

            <div id="content_menu">
                {% block content_menu %}
                {% endblock content_menu %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="content_footer">
                {% block content_footer %}
                {% endblock content_footer %}
            </div>
        </div>

        {% block footer  %}
            {% include "base/footer.html" %}
        {% endblock footer %}

    </body>

</html>