<div id="footer" class="well">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <a href="https://github.com/diegojromerolopez/django-trello-stats/">This project</a> is <a href="https://github.com/diegojromerolopez/django-trello-stats/blob/master/LICENSE">free software</a> by
                <a href="https://github.com/diegojromerolopez">diegoj</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                Questions? Feature request? Want to help me? Contact me at <a href="mailto:diegoREMOVETHISjromeroREMOVETHISlopez@gmail.com">diegoREMOVETHISjromeroREMOVETHISlopez@gmail.com</a>.
            </div>
        </div>
    </div>
</div>