{% load staticfiles %}
{% load boards %}

<div id="header">
    <div id="header_logo">
        <a href="{% url 'index' %}" title="Go to index">
            {# 393 x 123 image #}
            {% if board and board.header_image %}
                <img id="header_image" src="{{board.header_image.url}}" alt="{{board.name}}'s logo" />
            {% else %}
                <img id="header_image" src="{% static 'img/logo.png' %}" alt="Trello Stats Logo" />
            {% endif %}
        </a>
    </div>
    {% if user %}
        {% with url_name=request.resolver_match.url_name url_namespace=request.resolver_match.namespace %}
            <ul class="nav nav-tabs">
                <li role="presentation" {% if url_name == "index" and url_namespace == "" %}class="active"{% endif %}>
                    <a href="{% url 'index' %}" title="Go to index">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                {% if user and user.is_authenticated %}
                    <li role="presentation" {% if url_name == "view_boards" %}class="active"{% endif %}>
                       <a href="{% url 'boards:view_boards' %}" title="View my boards">
                           <span class="fa fa-tasks"></span>
                       </a>
                    </li>
                    <li role="presentation" {% if url_name == "view_board_panorama" %}class="active"{% endif %}>
                       <a href="{% url 'boards:view_board_panorama' %}" title="View project summary">
                           <span class="fa fa-line-chart"></span>
                       </a>
                    </li>
                    {% if member %}
                        <li role="presentation" {% if url_name == "view_members" or url_name == "view_spent_time_factors" %}class="active"{% endif %}>
                            <a href="{% url 'members:view_members' %}" title="View members">
                                <span class="fa fa-users"></span> Members
                            </a>
                        </li>
                        <li role="presentation" {% if url_namespace == "dev_environment"  %}class="active"{% endif %}>
                            <a href="{% url 'dev_environment:index' %}" title="View software development environment">
                                <span class="fa fa-building-o"></span> Env.
                            </a>
                        </li>
                        <li role="presentation" {% if url_namespace == "niko_niko_calendar" %}class="active"{% endif %}>
                            <a href="{% url 'niko_niko_calendar:view_calendar' %}" title="View Niko-niko calendar">
                                <span class="fa fa-calendar"></span> Niko-niko cal.
                            </a>
                        </li>
                    {% endif %}
                    <li role="presentation" {% if url_namespace == "slideshow" %}class="active"{% endif %}>
                        <a href="{% url 'slideshow:view' %}" title="Slideshow">
                            <span class="fa fa-area-chart"></span> Slideshow
                        </a>
                    </li>
                    {% if member %}
                        <li role="presentation" {% if url_namespace == "visitors" %}class="active"{% endif %}>
                            <a href="{% url 'visitors:view_list' %}" title="Visitors">
                                <span class="fa fa-smile-o"></span> Visitors
                            </a>
                        </li>
                        <li role="presentation" {% if url_name == "view_hourly_rates" %}class="active"{% endif %}>
                           <a href="{% url 'hourly_rates:view_hourly_rates' %}" title="View available hourly rates">
                               <span class="fa fa-usd"></span> HRs
                           </a>
                        </li>
                        {% if member.has_trello_credentials %}
                            <li role="presentation" {% if url_name == "fetch_boards" %}class="active"{% endif %}>
                                <a href="{% url 'fetch:fetch_boards' %}" title="Fetch all boards">
                                    <span class="fa fa-download"></span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% with member=request.user.member %}
                        {% if member.is_developer %}
                            <li role="presentation">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false" title="Last 10 comments of your boards">
                                   Last comments <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% last_comments 10 as last_comments %}
                                    {% for last_comment in last_comments %}
                                        {% with card=last_comment.card %}
                                            {% with board=card.board %}
                                                <li class="last_comment">
                                                    <div class="panel panel-info">
                                                      <div class="panel-heading">
                                                          <div class="board_name">
                                                                <img class="small-identicon" src="{% url 'boards:view_identicon' board.id %}" alt="{{board.name}}" />
                                                                <a href="{% url 'boards:view_board' board.id %}">{{board.name}}</a>
                                                          </div>
                                                          <div class="action">
                                                                <img src="{{last_comment.author.gravatar_url}}" alt="last_comment.author.initials"/> commented in
                                                                <a href="{% url 'boards:view_card' board.id card.id %}">{{card.name}}</a>
                                                          </div>
                                                      </div>
                                                      <div class="panel-body">
                                                         <div class="comment_content">{{last_comment.content}}</div>
                                                          {# <a href="{% url 'boards:view_card' board.id card.id %}#comment-{{last_comment.id}}">See comment in context</a>#}
                                                      </div>
                                                    </div>

                                                </li>
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li role="presentation">
                                {% with last_cards_in_development=member.get_last_development_cards %}
                                    {% if last_cards_in_development|length > 0 %}
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                           role="button" aria-haspopup="true" aria-expanded="false" title="Last cards worked on">
                                            Last cards I worked on ({{last_cards_in_development|length}}) <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            {% for last_card_in_development in last_cards_in_development %}
                                                {% with board=last_card_in_development.board %}
                                                    <li>
                                                        <a href="{% url 'boards:view_card' board.id last_card_in_development.id %}" title="{{last_card_in_development.name}}">
                                                            <img src="{% url 'boards:view_identicon' board.id %}" alt="{{board.name}}" />
                                                            {{board.name}} - {{last_card_in_development.name|truncatechars:30}} is the last task worked on
                                                        </a>
                                                    </li>
                                                {% endwith %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </li>
                        {% endif %}
                    {% endwith %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Logout">
                          <span class="fa fa-sign-out"></span> <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="{% url 'base:logout' %}" title="Confirm logout">Confirm logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li role="presentation" {% if url_name == "login" %}class="active"{% endif %}>
                        <a href="{% url 'base:login' %}" title="User login">
                            Login
                        </a>
                    </li>
                    <li role="presentation" {% if url_name == "signup" %}class="active"{% endif %}>
                        <a href="{% url 'members:signup' %}" title="User signup">
                            Signup as member
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
    {% endif %}
</div>