{% load staticfiles %}

<div id="header">
    <div id="header_logo">
        <a href="{% url 'index' %}" title="Go to index">
            <img id="header_image" src="{% static 'img/logo.png' %}" alt="Trello Stats Logo" />
        </a>
    </div>
    {% if member %}
        {% with url_name=request.resolver_match.url_name url_namespace=request.resolver_match.namespace %}
            <ul class="nav nav-tabs">
                <li role="presentation" {% if url_name == "index" %}class="active"{% endif %}>
                    <a href="{% url 'index' %}" title="Go to index">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                {% if user and user.is_authenticated %}
                    <li role="presentation" {% if url_name == "view_hourly_rates" %}class="active"{% endif %}>
                       <a href="{% url 'hourly_rates:view_hourly_rates' %}" title="View available hourly rates">
                           <span class="fa fa-usd"></span> Hourly rates
                       </a>
                    </li>
                    <li role="presentation" {% if url_name == "view_boards" %}class="active"{% endif %}>
                       <a href="{% url 'boards:view_boards' %}" title="View my boards">
                           <span class="fa fa-tasks"></span> My boards
                       </a>
                    </li>
                    <li role="presentation" {% if url_name == "view_members" %}class="active"{% endif %}>
                        <a href="{% url 'members:view_members' %}" title="View members">
                            <span class="fa fa-users"></span> Members
                        </a>
                    </li>
                    <li role="presentation" {% if url_namespace == "dev_environment"  %}class="active"{% endif %}>
                        <a href="{% url 'dev_environment:index' %}" title="View software development environment">
                            <span class="fa fa-building-o"></span> Dev. environment
                        </a>
                    </li>
                    {% if request.user.member.is_initialized %}
                        <li role="presentation" {% if url_name == "fetch_boards" %}class="active"{% endif %}>
                            <a href="{% url 'fetch:fetch_boards' %}" title="Fetch all boards">
                                <span class="fa fa-download"></span> Fetch
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.member.is_developer %}
                        {% with member=request.user.member %}
                            <li role="presentation">
                                {% with num_cards_in_development=member.get_current_development_cards|length %}
                                    <a href="{% url 'index' %}" title="You have {{num_cards_in_development}} cards in development. See them in index">
                                        <span class="fa fa-clone"></span> {{num_cards_in_development}}
                                    </a>
                                {% endwith %}
                            </li>
                            <li role="presentation">
                                {% with last_cards_in_development=member.get_last_development_cards %}
                                    {% if last_cards_in_development|length > 0 %}
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Last cards worked on">
                                            Last cards worked on<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for last_card_in_development in last_cards_in_development %}
                                                <li>
                                                    <a href="{{last_card_in_development.short_url}}" title="{{last_card_in_development.name}}">
                                                        {{last_card_in_development.board.name}} - {{last_card_in_development.name|truncatechars:30}} is the last task worked on
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </li>
                        {% endwith %}
                    {% endif %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Logout">Logout <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'members:logout' %}" title="Confirm logout">Confirm logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li role="presentation" {% if url_name == "login" %}class="active"{% endif %}>
                        <a href="{% url 'members:login' %}" title="User login">
                            Login
                        </a>
                    </li>
                    <li role="presentation" {% if url_name == "signup" %}class="active"{% endif %}>
                        <a href="{% url 'members:signup' %}" title="User signup">
                            Signup
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
    {% endif %}
</div>