/* Overwriting base styles */
#content {
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    width: auto;
}
/* Dashboard */
.dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.dashboard .board {
    background-color: blue;
    color: white;
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 20px;
}

/* Task board */
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.board {
    overflow: scroll;
}

.board .board_name {
    display: block;
}

.board .board_name a,
.board .board_name a:hover {
    color: inherit;
    text-decoration: none;
}

.board .lists {
    overflow: hidden;
}

.board .lists .list {
    float: left;
    margin-right: 20px;
    width: 400px;
}

.board .lists .list .list_name {
    display: block;
}

.board .lists .list .list_name .list_name_name {

}

.board .lists .list .list_name .list_name_new_card {

}

.board .lists .list .move_list_handle {
    cursor: move;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.board .lists .list .list_name form {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.board .lists .list .list_name form div,
.board .lists .list .list_name form select,
.board .lists .list .list_name form textarea {
    margin-bottom: 10px;
}

.board .lists .list .list_name h2 {
    font-size: 1.3em;
}

.board .lists .list .cards {
    max-height: 600px;
    min-height: 400px;
    overflow: scroll;
    padding: 0;
}

.board .lists .list .cards .card {
    cursor: move;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.board .lists .list .cards .card .card_heading {
    cursor: pointer;
    display: block;
}

.board .lists .list .cards .card .card_heading .card_name {
    cursor: pointer;
    font-size: 1.1em;
}

/* Card view */

.card-view .card-section{
    margin-bottom: 20px;
    margin-top: 20px;
}

.card_detail {

}

.card_detail .comments {

}

.card_detail .comments .comment {

}

.card_detail .comments .comment .comment_content {

}

.card_detail .comments .comment .comment_date {

}

.card-comments .card-comments-comment form {
    display: inline-block;
    margin:0;
    width: auto;
}

.edit-comment-button {
    margin-left: 10px;
}

.card-section.card-labels form {
    margin-left: 0px;
}