/* Overwriting base styles */
#content {
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    width: auto;
}
/* Dashboard */
.dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.dashboard .board {
    background-color: blue;
    color: white;
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 20px;
}

/* Task board */
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.board {
    overflow: scroll;
}

.board .board_name {
    display: block;
}

.board .lists {
    overflow: hidden;
}

.board .lists .list {
    float: left;
    margin-right: 20px;
    width: 400px;
}

.board .lists .list .list_name {
    display: block;
}

.board .lists .list .list_name h2 {
    font-size: 1.3em;
}

.board .lists .list .cards {
    min-height: 400px;
    padding: 0;
}

.board .lists .list .cards .card {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.board .lists .list .cards .card .card_heading {
    display: block;
}

.board .lists .list .cards .card .card_heading .card_name {
    cursor: pointer;
    font-size: 1.1em;
}

/* Card view */

.card-view .card-section{
    margin-bottom: 20px;
    margin-top: 20px;
}

.card_detail {

}

.card_detail .comments {

}

.card_detail .comments .comment {

}

.card_detail .comments .comment .comment_content {

}

.card_detail .comments .comment .comment_date {

}

.card-comments .card-comments-comment form {
    display: inline-block;
    margin:0;
    width: auto;
}

.edit-comment-button {
    margin-left: 10px;
}