/* Overwriting base styles */
#content {
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    width: auto;
}
/* Dashboard */
.dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.dashboard .board {
    background-color: blue;
    color: white;
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 20px;
}

/* Task board */
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.board {
    overflow: scroll;
}

.board .board_name {
    display: block;
}

.board .board_name a,
.board .board_name a:hover {
    color: inherit;
    text-decoration: none;
}

/* Members */
.board .members .members_header {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}

.board .members .members_header h2 {
    display: inline-block;
    vertical-align: middle;
}


.board .members form div,
.board .members form select {
    margin-bottom: 10px;
}

/* Board menu */
.board .board_menu {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Listas */
.board .lists {
    overflow: hidden;
}

.board .lists .list {
    float: left;
    margin-right: 20px;
    width: 400px;
}

.list_name_name .fa {
    cursor: help;
}

/* Status of the list */
.list.closed-list,
.board .lists .list.closed-list {
    display: none;
}

list.closed-list-showed,
.board .lists .list.closed-list-showed {
    display: block;
}

.list.ignored-list,
.board .lists .list.ignored-list {
    display: none;
}

.board .lists .list .list_name {
    display: block;
    overflow: hidden;
}

.board .lists .list .list_name .list_actions {
    display: block;
    overflow: hidden;
}

.board .lists .list .list_name .list_name_name {
    display: inline-block;
}

.list_name_new_card,
.board .lists .list .list_name .list_name_new_card {
    display: block;
    float: left;
    margin-right: 10px;
}

.move_list_handle,
.board .lists .list .move_list_handle {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;

    cursor: move;
    display: inline-block;
    /*padding: 2px 7px;*/
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    height: 25px;
    width: 25px;

    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.move_list_handle:before,
.board .lists .list .move_list_handle:before{
    content: "\f047";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.move_list_handle_icon {
    display: inline-block;
}

.move_list_cards,
.board .lists .list .list_name .move_list_cards {
    display: block;
    float: left;
    margin-right: 10px;
}

.board .lists .list .list_name form {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.board .lists .list .list_name form div,
.board .lists .list .list_name form select,
.board .lists .list .list_name form textarea {
    margin-bottom: 10px;
}

.board .lists .list .list_name h2 {
    font-size: 1.3em;
}

.board .lists .list .list_name {

}

.board .lists .list .cards {
    clear: both;
    max-height: 600px;
    min-height: 400px;
    overflow: scroll;
    padding: 0;
}

.board-card,
.board .lists .list .cards .card {
    background-color: #d9edf7;
    border-color: #bce8f1;
    cursor: move;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.board-card.closed-card-showed,
.board .lists .list .cards .card.closed-card-showed {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Labels in the card itself */
.card_heading .card_heading-labels {
    display: block;
    margin-top: 2px;
}

.card_heading .card_heading-labels .card_heading-label {
    border-radius: 5px;
    font-size: 0.9em;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    text-align: center;
    color: white;
    margin-right: 5px;
    text-shadow: 2px 0 0 black,
                 -2px 0 0 black,
                 0 2px 0 black,
                 0 -2px 0 black,
                 1px 1px black,
                 -1px -1px 0 black,
                 1px -1px 0 black,
                 -1px 1px 0 black;
}

/* Status of the card */
card.closed-card,
.board .lists .list .cards .card.closed-card {
    display: none;
}

card.closed-card-showed,
.board .lists .list .cards .card.closed-card-showed {
    display: block;
}

.panel-heading.card_heading,
.board .lists .list .cards .card .card_heading {
    cursor: move;
    display: block;
}

.board .lists .list .cards .card .card_heading .card_name {
    cursor: pointer;
    font-size: 1.1em;
}

.board .header {
    overflow: hidden;
    margin-bottom: 20px;
}

.board .header .board_name {
    float: left;
    width: 50%
}

.board .header .members {
    float: left;
    width: 30%
}

/* Card view */

.card-view .card-section{
    margin-bottom: 20px;
    margin-top: 20px;
}

.card_detail {

}

/* Status */
.card-status-active strong,
.card-status-closed strong {
    font-size: 1.5em;
    vertical-align: middle;
}

/* List */
.card-change-list-form {

}

.card-change-list-form form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card-change-list-form form div {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Reviews */
.card-reviews {

}

.card-reviews ul.reviews {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.card-reviews ul.reviews li.review {
    list-style-type: none;
    margin-bottom: 15px;
}

.card-reviews ul.reviews li.review h3 {
    font-size: 1.4em;
}

.card-reviews ul.reviews li ul.review-reviewers {
    margin-bottom: 5px;
    padding-left: 0px;
}

.card-reviews ul.reviews li ul.review-reviewers li {
    list-style-type: none;
    margin-bottom: 5px;
}

/* Requirements */
.card-requirements {

}

.card-requirements ul.requirements {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.card-requirements ul.requirements li.requirement {
    list-style-type: none;
    margin-bottom: 15px;
}

.card-requirements ul.requirements li.requirement h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.card-requirements ul.requirements li.requirement .requirement-cards {

}

.card-requirements ul.requirements li.requirement .requirement-cards ul {
    margin-bottom: 5px;
    margin-top: 0px;
    padding-left: 0;
}

.card-requirements ul.requirements li.requirement .requirement-cards ul li.requirement-card {
    list-style-type: none;
}

.card-requirements ul.requirements li.requirement .requirement-cards ul li.requirement-card .requirement-value {
    text-align: center;
}

.card-requirements ul.requirements li.requirement .requirement-cards ul li.requirement-card h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Comments */
.card_detail .comments {

}

.card_detail .comments .comment {

}

.card-comments .card-comments-comment {
    padding-bottom: 10px;
}

.card_detail .comments .comment .comment_content {

}

.card_detail .comments .comment .comment_date {

}

.card-comments .card-comments-comment .comment-edit,
.card-comments .card-comments-comment .comment-delete {
    display: inline-block;
    margin:0;
    width: auto;
}

.card-comments .card-comments-comment .comment-edit.showed,
.card-comments .card-comments-comment .comment-delete.showed {
    display: block;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
}

.card-comments .card-comments-comment .comment-delete form {
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 20px;
    width: 95%;
    display: block;
}

.card-comments .card-comments-comment .comment-edit form {
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
    display: block;
}

.edit-comment-button {
    margin-left: 10px;
}

.card-section.card-labels form {
    margin-left: 0px;
}