{% extends "boards/view.html" %}

{% load async_include %}
{% load staticfiles %}

{% block page_title %}Cards of {{board.name}}{% endblock %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/boards/cards/list/export_csv.js' %}"></script>
{% endblock js %}

{% block content %}
    <h1>Cards of {{board.name}}</h1>
    {% if board.creator.has_trello_profile %}
        <div>Last updated: {{board.get_human_fetch_datetime}}</div>
    {% endif %}
    {% if board.cards.count == 0 %}
        There are no cards in this board.
        {% if member.has_trello_profile %}
            Have you tried to fetch the cards?
        {% else %}
            Create a new card in the board using the <a href="{% url 'boards:view_taskboard' board.id %}">full task board</a>.
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                 <a class="btn btn-primary" href="{% url 'boards:view_week_summary' board.id 'all' week_of_year %}">
                    <span class="fa fa-arrow-left"></span>
                    View completed tasks on this week
                </a>
                <a class="btn btn-primary" href="{% url 'boards:view_gantt_chart' board.id %}">
                    <span class="fa fa-bar-chart fa-rotate-90"></span>
                    View gantt chart
                </a>
            </div>
        </div>
        <div class="card-charts">
            <h2>Card stats</h2>
            {% include "boards/cards/components/charts.html" %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Card list</h2>
            </div>
            <div class="panel col-md-12">
                <p>
                    <a id="export_cards"
                       href="{% url 'boards:export_card_report' board.id %}"
                       class="btn btn-success">
                        <span class="fa fa-spin fa-spinner" style="display: none;"></span>
                        <span class="fa fa-arrow-down"></span>
                        Export as CSV
                    </a>

                    <a id="export_anonymized_report"
                       href="{% url 'boards:export_detailed_report' board.id %}"
                       class="btn btn-success">
                        <span class="fa fa-spin fa-spinner" style="display: none;"></span>
                        <span class="fa fa-arrow-down"></span>
                        Detailed CSV export
                    </a>
                </p>
                {%  async_include 'boards/cards/components/card_list.html' board=board avg_cycle_time=avg_cycle_time avg_lead_time=avg_lead_time %}
            </div>
        </div>
    {% endif %}
{% endblock content %}