{% extends "boards/view.html" %}

{% block page_title %}Cards of {{board.name}}{% endblock %}

{% block content %}
    <h1>Cards of {{board.name}}</h1>
    <div>Last updated: {{board.get_human_fetch_datetime}}</div>
    {% if cards|length == 0 %}
        There are no cards in this board. Have you tried to fetch the cards?
    {% else %}
        <div class="row">
            <div class="col-md-12">
                 <a class="btn btn-primary" href="{% url 'boards:view_week_summary' board.id 'all' week_of_year %}">
                    <span class="fa fa-arrow-left"></span>
                    View completed tasks on this week
                </a>
            </div>
        </div>
        <div class="card-charts">
            <h2>Card stats</h2>
            {% include "boards/cards/components/charts.html" %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Card list</h2>
            </div>
            <div class="panel col-md-12">
                <div>
                    <a href="{% url 'boards:export_card_report' board.id %}" class="btn btn-success">Export as CSV</a>
                </div>
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>Closed?</td>
                        <td>List</td>
                        <td>Comments</td>
                        <td>Reviews</td>
                        <td>Lead time</td>
                        <td>Cycle time</td>
                        <td>Spent/Estimated time</td>
                        <td>Deadline</td>
                        <td>Last activity date</td>
                        <td>Actions</td>
                    </tr>
                    {% for card in cards %}
                        <tr>
                            <td>
                                <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                    {{card.name}}
                                </a>
                            </td>
                            <td>{% if card.is_closed %}Yes{% else %}No{% endif %}</td>
                            <td>{{card.list.name}}</td>
                            <td>{{card.number_of_comments}}</td>
                            <td>
                                {% for review in card.reviews.all %}
                                    <span class="review">
                                        <span class="review_creation_datetime">{{review.creation_datetime}}</span>
                                        {% with reviewers=review.reviewers.all %}
                                            {% if reviewers|length > 0 %}
                                                <ul>
                                                    {% for reviewer in reviewers %}
                                                        <li>{{reviewer.trello_username}}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                    </span>
                                {% endfor %}
                            </td>
                            <td>{% if card.lead_time %}{{card.lead_time|floatformat:-2}}{% endif %}</td>
                            <td>{% if card.cycle_time %}{{card.cycle_time|floatformat:-2}}{% endif %}</td>
                            <td>{% if card.spent_time or card.estimated_time %}{{card.spent_time|floatformat:-2}}/{{card.estimated_time|floatformat:-2}}{% endif %}</td>
                            <td>{% if card.due_datetime %}{{card.due_datetime}}{% endif %}</td>
                            <td>{{card.last_activity_datetime}}</td>
                            <td>
                                <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a href="{{card.short_url}}" title="View card in Trello">
                                    <span class="fa fa-trello"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6">Cycle time (avg. & std. dev.)</td><td>{{avg_cycle_time|floatformat:"-3"}}</td><td>{{std_dev_cycle_time|floatformat:"-3"}}</td>
                    </tr>
                    <tr>
                        <td colspan="6">Lead time (avg. & std. dev.)</td><td>{{avg_lead_time|floatformat:"-3"}}</td><td>{{std_dev_lead_time|floatformat:"-3"}}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}