
td.date{
    width: 10%;
}

tr.header td{
    font-weight: bold;
}

td a.source_card_link{
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

td a.source_card_link:hover{
    color: white;
}

tr.main_header td{
    font-size: 2em;
}

tr.last td{
    border-bottom: 5px solid grey;
}

tr.month_1{
    background-color: HoneyDew;
    color: black;
}

tr.month_1.even{
    background-color: Ivory;
}

tr.month_2{
    background-color: LightSkyBlue;
    color: black;
}

tr.month_2.even{
    background-color: PaleTurquoise;
}

tr.month_3{
    background-color: Chartreuse;
    color: black;
}

tr.month_3.even{
    background-color: DarkOliveGreen;
    color: white;
}

tr.month_4{
	background-color: Aqua;
    color: black;
}

tr.month_4.even{
	background-color: DeepSkyBlue;
}

tr.month_5{
    background-color: GreenYellow;
    color: black;
}

tr.month_5.even{
    background-color: Green;
    color: white;
}

tr.month_6{
    background-color: orange;
    color: black;
}

tr.month_6.even{
    background-color: DarkOrange;
}

tr.month_7{
    background-color: red;
    color: white;
}

tr.month_7.even{
    background-color: DarkRed;
}

tr.month_8{
    background-color: Orchid;
    color: black;
}

tr.month_8.even{
    background-color: DarkOrchid;
}

tr.month_9{
    background-color: Gray;
    color: black;
}

tr.month_9.even{
    background-color: DarkGray;
}

tr.month_10{
    background-color: Gold;
    color: black;
}

tr.month_10.even{
    background-color: GoldenRod;
}

tr.month_11{
    background-color: LightBlue;
    color: black;
}

tr.month_11.even{
    background-color: DarkBlue;
    color: white;
}

tr.month_12{
    background-color: LightCyan;
    color: black;
}

tr.month_12.even{
    background-color: DarkCyan;
    color: white;
}