.notification-pending {
    color: #d9534f;
}

.notification-sent {
    color: #5cb85c;
}

table .board-identicon {
    height: 20px;
    width: 20px;
}

table .board-identicon,
table .board-name {
    display: block;
}