{% extends "base/base.html" %}

{% block page_title %}Work hours packages{% endblock %}

{% block content %}
    <h1>Work hours packages</h1>
    <div class="board_list_list">
        <div class="row">
            <div class="panel col-md-12">
                {% if member %}
                    <div>
                        <p>
                            <a href="{% url 'work_hours_packages:new' %}" class="btn btn-success">New</a>
                        </p>
                    </div>
                {% endif %}
                {% if work_hours_packages|length == 0 %}
                    No work hours packages set.
                {% else %}
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>Type</td>
                            <td>(Multi)board/Label</td>
                            <td>Name</td>
                            <td>Completion</td>
                            <td>Dates</td>
                            <td>Paid</td>
                            <td>Actions</td>
                        </tr>
                        {% for work_hours_package in work_hours_packages %}
                            <tr>
                                <td>#{{work_hours_package.id}}</td>
                                <td>
                                    {% if work_hours_package.type == "multiboard" %}
                                        Multiboard
                                    {% elif work_hours_package.type == "board" %}
                                        Board
                                    {% elif work_hours_package.type == "label" %}
                                        Label
                                    {% endif %}
                                </td>
                                <td>
                                    {% if work_hours_package.board %}
                                        <a href="{% url 'boards:view_board' work_hours_package.board.id %}">
                                            {{work_hours_package.board.name}}
                                        </a>
                                    {% elif work_hours_package.multiboard %}
                                        <a href="{% url 'multiboards:view' work_hours_package.multiboard.id %}">
                                            {{work_hours_package.multiboard.name}}
                                        </a>
                                    {% elif work_hours_package.label %}
                                        <a href="{% url 'boards:view' work_hours_package.label.board_id %}">
                                            {{work_hours_package.label.board.name}} - {{work_hours_package.label.name}}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{work_hours_package.name}}</td>
                                <td>
                                    {% with current_spent_time=work_hours_package.get_adjusted_spent_time %}
                                        {% if current_spent_time > work_hours_package.number_of_hours %}
                                            <strong>{{current_spent_time|floatformat:"-2"}} / {{work_hours_package.number_of_hours}} h.</strong>
                                        {% else %}
                                            {{current_spent_time|floatformat:"-2"}} / {{work_hours_package.number_of_hours}} h.
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>{{work_hours_package.start_work_date}}
                                    {% if work_hours_package.end_work_date %}
                                        - {{work_hours_package.end_work_date}}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if work_hours_package.is_paid %}
                                        Yes {% if work_hours_package.payment_date %}({{work_hours_package.payment_date}}){% endif %}
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'work_hours_packages:view' work_hours_package.id %}" title="View work hours package {{work_hours_package.name}}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                    {% if member %}
                                        <a href="{% url 'work_hours_packages:edit' work_hours_package.id %}" title="Edit work hours package {{work_hours_package.name}}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a href="{% url 'work_hours_packages:delete' work_hours_package.id %}" title="Delete work hours package {{work_hours_package.name}}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}