{% extends "base/base.html" %}

{% block page_title %}Work hours package {{work_hours_package.full_name}}{% endblock %}

{% block content %}
    <p>
        {% include "work_hours_packages/components/go_back.html" %}
    </p>

    {% with current_spent_time=work_hours_package.get_adjusted_spent_time %}
        {% with completion_date=work_hours_package.completion_date %}
            <div class="row">
                <div class="col-md-12 card">
                    <div class="panel panel-{% if current_spent_time < work_hours_package.number_of_hours %}info{% elif current_spent_time == work_hours_package.number_of_hours %}warning{% else %}danger{% endif %}">
                      <div class="panel-heading">
                          <h1>{{work_hours_package.full_name}}</h1>
                      </div>
                      <div class="panel-body row">
                          <div class="col-md-12">
                              <div class="actions">
                                    {% if member %}
                                        <p>
                                            <a href="{% url 'work_hours_packages:edit' work_hours_package.id %}"
                                               title="Edit work hours package {{work_hours_package.full_name}}"
                                               class="btn btn-primary">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a href="{% url 'work_hours_packages:delete' work_hours_package.id %}"
                                               title="Delete work hours package {{work_hours_package.full_name}}"
                                                class="btn btn-danger">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </p>
                                  {% endif %}
                              </div>

                              <div class="row">
                                   <div class="col-md-12 description">
                                    <div class="panel panel-info">
                                          <div class="panel-heading">
                                              Notification email
                                          </div>
                                        <div class="panel-body">
                                            {% if work_hours_package.notify_on_completion %}
                                                {% if work_hours_package.notification_email %}
                                                    In case the number of hours {{work_hours_package.number_of_hours}} is reached,
                                                    send an email to {{notification_email}} and to the members of this package.
                                                {% else %}
                                                    No notification when reaching {{work_hours_package.number_of_hours}} number of hours will be sent.
                                                {% endif %}
                                            {% else %}
                                                Notification is not activated.
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                              </div>

                              <div class="row">
                                   <div class="col-md-12 description">
                                    <div class="panel panel-info">
                                          <div class="panel-heading">
                                              Description
                                          </div>
                                        <div class="panel-body">
                                            {{work_hours_package.description|safe}}
                                        </div>
                                   </div>
                                </div>
                              </div>

                              <div class="row">
                                   <div class="col-md-12 description">
                                    <div class="panel panel-info">
                                          <div class="panel-heading">
                                              Dates
                                          </div>
                                        <div class="panel-body">
                                            {% if work_hours_package.end_work_date %}
                                                {{work_hours_package.start_work_date}} to {{work_hours_package.end_work_date}}
                                            {% else %}
                                                From {{work_hours_package.start_work_date}}
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                              </div>

                              <div class="row">
                                   <div class="col-md-12 description">
                                    <div class="panel panel-info">
                                          <div class="panel-heading">
                                              Number of hours (spent time [± offset] / paid time)
                                          </div>
                                        <div class="panel-body">
                                            {% if work_hours_package.offset_hours == 0 %}
                                                <strong>{{current_spent_time|floatformat:"-2"}} / {{work_hours_package.number_of_hours}} hours</strong>
                                            {% elif work_hours_package.offset_hours != 0 %}
                                                <strong>
                                                    {{current_spent_time|floatformat:"-2"}}
                                                    <span>{% if work_hours_package.offset_hours > 0 %}+{% endif %} {{work_hours_package.offset_hours}}</span> / {{work_hours_package.number_of_hours}} hours
                                                </strong>
                                            {% endif %}

                                            {% if completion_date %}
                                                <strong>completed at {{completion_date}}</strong>
                                            {% else %}
                                                No completion date yet.
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endwith %}
{% endblock content %}