{% load async_include %}
{% with url_name=request.resolver_match.url_name url_namespace=request.resolver_match.namespace %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'boards:view' board.id %}" title="Go to {{board.name}} dashboard">
                    <img class="board-identicon d-inline-block" src="{% url 'boards:view_identicon' board.id %}"
                         alt="Identicon of board {{board.name}}"/>
                    <span class="board-name d-inline-block">{{board.name|truncatechars:20}}</span>
                </a>
                {% if board.url %}
                    <a class="navbar-brand" href="{{board.url}}" title="View this board in Trello">
                        <span class="fa fa-trello"></span>
                    </a>
                    {% if board.last_fetch_datetime %}
                        <span class="navbar-brand last_fetch datetime">
                            Last fetched {{board.last_fetch_datetime|timesince}} ago
                        </span>
                    {% endif %}
                {% endif %}
            </div>
            {% if board.estimated_number_of_hours %}
                {% async_include "boards/components/view/menu_spent_time.html" board=board %}
            {% endif %}

            <div class="" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if member %}
                        <li {% if url_namespace == "boards" and url_name == "edit" %}class="active"{% endif %}>
                            <a href="{% url 'boards:edit' board.id %}" title="Edit board {{board.name}}">
                                <span class="fa fa-pencil"></span>
                            </a>
                        </li>
                        <li {% if url_name == "view_lists" or url_name == "edit_list_position" or url_name == "swap_list" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_lists' board.id %}" title="Lists of board {{board.name}}">
                                <span class="fa fa-list"></span>
                            </a>
                        </li>
                    {% endif %}
                    {% if board.is_ready and board.is_fetched %}
                        {% if member %}
                            <li {% if url_name == "view_taskboard" %}class="active"{% endif %}>
                                <a href="{% url 'boards:view_taskboard' board.id %}" title="Full board for {{board.name}}">
                                    <span class="fa fa-navicon fa-rotate-90"></span>
                                </a>
                            </li>
                        {% endif %}
                        <li {% if url_namespace == "boards:journal" %}class="active"{% endif %}>
                            <a href="{% url 'boards:journal:view' board.id %}" title="Journal of project {{board.name}}">
                                <span class="fa fa-leaf"></span> J.
                            </a>
                        </li>
                        <li {% if url_name == "view_requirements" %}class="active"{% endif %}>
                            <a href="{% url 'boards:requirements:view_requirements' board.id %}" title="Requirements for project {{board.name}}">
                                <span class="fa fa-cogs"></span> Req.
                            </a>
                        </li>
                        <li {% if url_name == "view_card_report" or url_name == "view_week_summary" or url_name == "view_card" or url_name == "view_gantt_chart" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_card_report' board.id %}" title="Cards of board {{board.name}}">
                                <span class="fa fa-sticky-note-o"></span> Cards
                            </a>
                        </li>
                        <li {% if url_namespace == "boards:recurrent_cards" %}class="active"{% endif %}>
                            <a href="{% url 'boards:recurrent_cards:view_list' board.id %}" title="Recurrent cards of board {{board.name}}">
                                <span class="fa fa-sticky-note"></span> Rec. cards
                            </a>
                        </li>
                        <li {% if url_name == "view_label_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_label_report' board.id %}" title="Labels of board {{board.name}}">
                                <span class="fa fa-tags"></span> Labels
                            </a>
                        </li>
                        <li {% if url_name == "view_member_report" %}class="active"{% endif %}>
                            <a href="{% url 'boards:view_member_report' board.id %}" title="Members of board {{board.name}}">
                                <span class="fa fa-users"></span>
                            </a>
                        </li>
                        <li {% if url_name == "view_daily_spent_times" %}class="active"{% endif %}>
                            <a href="{% url 'dev_times:view_daily_spent_times' %}?label_id=all_from_board_{{board.id}}" title="Spent times of board {{board.name}}">
                                <span class="fa fa-clock-o"></span> S/E Time
                            </a>
                        </li>
                        {% if member %}

                            {% async_include "boards/components/view/menu_last_comments.html" board=board html__tag='li' request__frequency=600 %}

                            <li {% if url_namespace == "boards:repositories" %}class="active"{% endif %}>
                                <a href="{% url 'boards:repositories:view_repositories' board.id %}" title="View code repositories of project {{board.name}}">
                                    <span class="fa fa-code-fork"></span> Repos.
                                </a>
                            </li>
                        {% endif %}
                        {% if member %}
                            <li {% if url_namespace == "boards:workflows" %}class="active"{% endif %}>
                                <a href="{% url 'boards:workflows:view_list' board.id %}" title="View workflows of board {{board.name}}">
                                    <span class="fa fa-wrench"></span> WF
                                </a>
                            </li>
                        {% endif %}
                            <li {% if url_namespace == "boards:agility_rating" %}class="active"{% endif %}>
                                <a href="{% url 'boards:agility_rating:view' board.id %}" title="View agility rating of project {{board.name}}">
                                    <span class="fa fa-certificate"></span> Ag. Rating
                                </a>
                            </li>
                        {% if member and member.has_trello_credentials %}
                            {% if board.has_to_be_fetched %}
                                <li {% if url_name == "fetch" %}class="active"{% endif %}>
                                    <a href="{% url 'boards:fetch' board.id %}" title="Fetch board {{board.name}}">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </li>
                            {%  endif %}
                        {% endif %}
                    {% endif %}

                    {% if member %}
                        <li {% if url_name == "delete" %}class="active"{% endif %}>
                            <a href="{% url 'boards:delete' board.id %}" title="Delete board {{board.name}}">
                                <span class="fa fa-trash"></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endwith %}