<form action="{% url 'boards:view_daily_spent_times' board.id %}" method="get">
    <span>Please select a member</span>
    <select name="member_id">
        <option value="">Select the member you want to see his/her daily spent time</option>
        {% for member in board.members.all %}
            <option value="{{member.id}}" {% if selected_member.id == member.id %}selected="selected"{% endif %}>{{member.trello_username}}</option>
        {% endfor %}
    </select>
    <button type="submit">Send</button>
</form>