a:hover,
a {
    text-decoration: none;
}

/* Header Menu */
#header_logo{
    width: 100%;
}

#header_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 133px;
}


/* Last cards, comments and notifications common CSS */
#header ul.last_cards,
#header ul.last_comments,
#header ul.notifications {
    max-height: 450px;
    max-width: 450px;
    overflow: scroll;
}

/* Last cards */
#header ul.last_cards {
    overflow: hidden;
}

#header ul.last_cards.dropdown-menu a.last_card {
    min-width: 300px;
    white-space: normal;
}

/* Last comments */
#header .last_comments .last_comment .panel-info {
    margin: 10px;
}

#header .last_comments .last_comment  .panel-info .action  {

}

#header .last_comments .last_comment .panel-info .board_name {
    margin-bottom: 10px;
}

#header .last_comments .last_comment .comment_content {
    overflow-wrap: break-word;
    width: 450px;
}

/* Notifications */
#header ul.dropdown-menu.notifications {

}

#header ul.dropdown-menu.notifications li {
    width: 300px;
}

#header ul.dropdown-menu.notifications li .notification-item-wrapper {
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: normal;
}

#header ul.dropdown-menu.notifications li .notification-item-wrapper > a {
    display: block;
    float: left;
}

#header ul.dropdown-menu.notifications li .notification-item-wrapper > a.view_board-identicon {
    min-width: 55px;
    width: 10%;
}

#header ul.dropdown-menu.notifications li .notification-item-wrapper > a.view_card {
    width: 75%;
}

/* CSS helpers */
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.col-md-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.cursor-help {
    cursor: help
}

.d-inline-block {
    display: inline-block;
}

.inline-block{
    display: inline-block;
}

.d-block {
    display: block;
}

.small-identicon {
    height: 20px;
    width: 20px;
}

/* General CSS rules */
#content{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    width: 85%;
}

.large-form form input,
.large-form form textarea{
    width: 80%;
}

#footer{
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer .row{
    margin-bottom: 10px;
}

/* Spinner-related CSS rules */
h1 a .fa,
h1 a:hover .fa,
a .img-loader-spinner.fa:hover,
a .img-loader-spinner.fa {
    color: black;
}

.async_included-spinner,
.img-loader-spinner {
    display: block;
    text-align: center;
}

#content_menu .async_included-spinner {
    display: inline;
}

.ajax-img {
    display: none;
}

/* Responsive rules */
@media (max-width: 391px) {
    #header_image{
        width: 100%;
    }
}