

.label-name{
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}