{% extends "base/base.html" %}

{% block page_title %}Signup{% endblock %}

{% block content %}
    <h1>Signup</h1>
    <div class="row">
        <div class="col-md-12">
            <p>
                Welcome to Django Trello Stats, please, choose your signup form:
            </p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary" href="{% url 'members:trello_signup' %}" title="Signup synchronizing with Trello">
                        <span class="fa fa-trello"></span> Signup synchronizing with Trello
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary" href="{% url 'members:local_signup' %}" title="Basic signup">
                        Standard Signup
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}