{% extends "base/base.html" %}

{% block page_title %}Fetch data of all boards{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-7 center-block">
        <div class="panel panel-success">
          <div class="panel-heading">Fetching board contents was a success!</div>
          <div class="panel-body">
              <p>
                Congratulations! Now, you should have your boards up to date.
              </p>
          </div>
        </div>
    </div>
</div>

{% endblock %}