{% if months|length == 0 %}
    There are no times for this member.
{% else %}
    <div class="panel">
        <table class="table">
            {% for month in months %}
                <tr class="header main_header month_{{month.i}}">
                    <td colspan="{% if selected_board and selected_member %}10{% elif selected_board or selected_member %}9{% else %}8{% endif %}">
                        <strong>{{month.year}}/{{month.name}}</strong> ({{month.daily_spent_times|length}} measurements)
                    </td>
                </tr>
                <tr class="header month_{{month.i}}">
                    <td>Board</td>
                    <td>Member</td>
                    <td>Week</td>
                    <td>Weekday</td>
                    <td>Day of year</td>
                    <td>Date</td>
                    <td>Spent time</td>
                    <td>Estimated time</td>
                    <td>Difference</td>
                    <td>Rate amount</td>
                </tr>
                {% for daily_spent_time in month.daily_spent_times %}
                    <tr class="day_of_year_{{daily_spent_time.day_of_year}} week_of_year_{{daily_spent_time.week_of_year}} month_{{daily_spent_time.date.month}}">
                        <td>{{daily_spent_time.board.name}}</td>
                        <td>{{daily_spent_time.member.trello_username}}</td>
                        <td>{{daily_spent_time.week_of_year}}</td>
                        <td>{{daily_spent_time.weekday}}</td>
                        <td>{{daily_spent_time.day_of_year}}</td>
                        <td>{{daily_spent_time.date}}</td>
                        <td>{{daily_spent_time.spent_time|floatformat:"-2"}}</td>
                        <td>{{daily_spent_time.estimated_time|floatformat:"-2"}}</td>
                        <td>{{daily_spent_time.diff_time|floatformat:"-2"}}</td>
                        <td>{{daily_spent_time.rate_amount|floatformat:"2"}}</td>
                    </tr>
                {% endfor %}
                <tr class="header month_{{month.i}}">
                    <td colspan="9">Number of measurements</td>
                    <td>{{month.daily_spent_times|length}}</td>
                </tr>
                <tr class="header month_{{month.i}}">
                    <td colspan="9">Sum of amount</td>
                    <td> {{month.rate_amount_sum|floatformat:"-2"}} ¤</td>
                </tr>
                <tr class="header month_{{month.i}}">
                    <td colspan="9">Sum of spent time</td>
                    <td> {{month.spent_time_sum|floatformat:"-2"}} hours</td>
                </tr>
                <tr class="header month_{{month.i}}">
                    <td colspan="9">Sum of estimated time</td>
                    <td> {{month.estimated_time_sum|floatformat:"-2"}} hours</td>
                </tr>
                <tr class="header month_{{month.i}} last">
                    <td colspan="9">Diff between spent and estimated time</td>
                    <td> {{month.diff_time_sum|floatformat:"-2"}} hours</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Summary for this period of time</div>
                <div class="panel-body">
                    <div>Sum of spent time {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}: {{spent_time_sum|floatformat:"-2"}} hours</div>
                    <div>Sum of amount {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}: {{spent_time_amount_sum|floatformat:"2"}} ¤</div>
                    <div>Sum of estimated time {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}: {{estimated_time_sum|floatformat:"-2"}} hours</div>
                    <div>Difference {% if selected_member %}of {{selected_member.trello_username}}{% endif %} {% if selected_board %}in {{selected_board.name}}{% endif %}: {{diff_time_sum|floatformat:"-2"}} hours</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}