{% load async_include %}

{% if months|length == 0 %}
    There are no times for this selection.
{% else %}
    {# Summary #}
    <div class="row">
        <div class="col-md-12">
            {% async_include "daily_spent_times/components/list_summary.html" user=request.user start_date=request.GET.start_date end_date=request.GET.end_date week=request.GET.week selected_board=selected_board %}
        </div>
    </div>

    {# Summary in the case of all boards #}
    {% if board == None %}
        {% async_include "daily_spent_times/components/boards_summary.html" boards=boards date_interval=date_interval %}
    {% endif %}

    {# Times per month #}
    <div class="panel">
        <p>
            <span id="toggle_month_order" class="btn btn-primary">
                <span class="btn-title">Change order</span>
                <span class="fa fa-sort-desc fa-2x desc"></span>
                <span class="fa fa-sort-asc fa-2x asc"></span>
            </span>
        </p>

        <div class="months">
            {% for month in months %}
                {% async_include "daily_spent_times/components/month.html" month=month.values daily_spent_times=month.daily_spent_times num_daily_spent_times=month.daily_spent_times.count %}
            {% endfor %}
        </div>
    </div>

    {# Summary #}
    <div class="row">
        <div class="col-md-12">
            {% async_include "daily_spent_times/components/list_summary.html" user=request.user start_date=request.GET.start_date end_date=request.GET.end_date week=request.GET.week selected_board=selected_board %}
        </div>
    </div>
{% endif %}