{% extends "boards/view.html" %}

{% load humanize %}

{% block page_title %}{{journal_entry.title}} of board {{board.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h1>{{journal_entry.title}}</h1>
              </div>
              <div class="panel-body row">
                  <div class="col-md-12">
                      <div class="">
                          Created by <a href="{% url 'boards:journal:view' board.id %}?author={{journal_entry.author.trello_username}}">{{journal_entry.author.trello_username}}</a> <span class="cursor-help" title="Created at {{journal_entry.creation_datetime}}">{{journal_entry.creation_datetime|naturaltime}}</span>.
                          {% if journal_entry.last_update_datetime != journal_entry.creation_datetime %}{{journal_entry.last_update_datetime}}{% endif %}
                      </div>
                      <p class="actions">
                            {% if member %}
                                <a href="{% url 'boards:journal:edit_entry' board.id year month journal_entry.slug %}" title="Edit {{journal_entry.title}}">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a href="{% url 'boards:journal:delete_entry' board.id year month journal_entry.slug %}" title="Delete {{journal_entry.title}}">
                                    <span class="fa fa-trash"></span>
                                </a>
                          {% endif %}
                      </p>
                      <div class="content">
                           {{journal_entry.content|safe}}
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}