 {% with notifications=member.get_last_unread_notifications %}
    <a href="#" class="dropdown-toggle last_notifications-menu"
       data-toggle="dropdown" data-read-notifications-url="{% url 'notifications:mark_as_read' %}"
       role="button" aria-haspopup="true" aria-expanded="false" title="Last cards worked on">
        {% if notifications|length > 0 %}
            <span class="none fa fa-bell"></span>
            <span class="any fa fa-bell-slash-o" style="display:none;"></span>
        {% else %}
            <span class="none fa fa-bell" style="display:none;"></span>
            <span class="any fa fa-bell-slash-o"></span>
        {% endif %}
    </a>
    {% if notifications|length > 0 %}
        <ul class="dropdown-menu dropdown-menu-right last_notifications notifications">
            {% for notification in notifications %}
                {% with board=notification.board %}
                    <li id="notification_{{notification.id}}" class="notification {% if forloop.first %}newest_notification{% endif %} {% if forloop.last %}oldest_notification{% endif %}"
                        data-notification="{{notification.id}}">
                        <span class="notification-item-wrapper">
                            {% if notification.card or notification.board %}
                                <a href="{% url 'boards:view_board' board.id %}"
                                   title="{{board.name}}"
                                   class="view_board-identicon">
                                    <img src="{% url 'boards:view_identicon' board.id %}" alt="{{board.name}}" />
                                </a>
                                {% if notification.card %}
                                    <a href="{% url 'boards:view_card' board.id notification.card.id %}"
                                       title="{{notification.card.name}}"
                                       class="view_card">
                                        {{notification.description}}
                                    </a>
                                {% elif board %}
                                    <a href="{% url 'boards:view_board' board.id %}"
                                       title="{{board.name}}"
                                       class="view_board">
                                        {{notification.description}}
                                    </a>
                                {% endif %}
                            {% else %}
                                {{notification.description}}
                            {% endif %}
                        </span>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}