{% load template_extensions %}
{% load motivation_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Daily report to {{developer.user.username}}</title>
    </head>
    <body>
        <div>
            <div>
                <h1>{{developer.external_username}}'s feelings on {{date|date}}</h1>
                {% if developer_mood %}
                    Your mood today is:
                    <span class="smiley" style="font-size: 40px;">
                        {% if developer_mood.mood == "normal" %}
                            &#x1f610;
                        {% elif developer_mood.mood == "happy" %}
                            &#x263A;
                        {% elif developer_mood.mood == "sad" %}
                            &#x2639;
                        {% else %}
                        {% endif %}
                    </span>
                {% else %}
                    <p>You have forgotten to introduce your mood today!</p>
                {% endif %}
            </div>

            <div>
                <h1>{{developer.external_username}}'s spent time in day {{date|date}}</h1>
                    {% with developer_spent_time=developer|call:'get_spent_time'|arg:date|end_call %}
                        <p>
                            <span><strong>{{developer.external_username}}</strong></span>
                            <span>{{developer_spent_time|floatformat:"-2"}} hours</span>
                        </p>
                        <div>
                            <div>
                                <strong style="font-size: 2em;">Thank you for your work and dedication.</strong>
                            </div>
                            <div>
                                {% if developer.minimum_working_hours_per_day %}
                                    {% if developer_spent_time > developer.minimum_working_hours_per_day %}
                                        <strong>You did spectacularly well this week.</strong>
                                    {% elif developer_spent_time == developer.minimum_working_hours_per_day %}
                                        <strong>Your numbers are pretty good.</strong>
                                    {% else %}
                                        <div><strong>Don't worry about this week results. I know you can do it better and you will. Take some time and keep the good work</strong></div>
                                        <div>{% random_motivational_video %}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
            </div>

            <div>
                <h1>{{developer.external_username}}'s spent time in day {{date|date}} by board</h1>
                {% for board in developer.boards.all %}
                    {% if board.is_fetched %}
                        {% with developer_spent_time=developer|call:'get_spent_time'|arg:date|arg:board %}
                            {% if developer_spent_time > 0 %}
                                <div>
                                    <h2>{{board.name}}</h2>
                                    <p>
                                        <span><strong>{{developer.external_username}}</strong></span>
                                        <span>{{developer_spent_time|floatformat:"-2"}} hours</span>
                                    </p>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <h1>{{developer.external_username}}'s spent time in day {{date|date}}</h1>
                <table>
                    <tr>
                        <td>Week day</td>
                        <td>Board</td>
                        <td>Description</td>
                        <td>Spent time (h.)</td>
                        <td>Adjusted spent time (h.)</td>
                        <td>Estimated time (h.)</td>
                    </tr>
                    {% for daily_spent_time in developer_daily_spent_times %}
                        <tr>
                            <td>{{daily_spent_time.weekday}}</td>
                            <td>{{daily_spent_time.board.name}}</td>
                            <td>
                                <a href="{{daily_spent_time.card.short_url}}" title="{{daily_spent_time.card.name}}">
                                    {{daily_spent_time.description|truncatechars:40}}
                                </a>
                            </td>
                            <td>{{daily_spent_time.spent_time|floatformat:"-2"}}</td>
                            <td>{{daily_spent_time.adjusted_spent_time|floatformat:"-2"}}</td>
                            <td>{{daily_spent_time.estimated_time|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>