{% load template_extensions %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Daily report for {{report_recipient.full_name}}</title>
    </head>
    <body>
        <div>
            <div style="margin-bottom: 1.2em">
                <h1>Spent times in day {{date}} by developer</h1>
                {% for member in developer_members %}
                    <div style="margin-bottom: 1em">
                        <h2>{{member.external_username}}</h2>
                        <span>{{member|call:'get_spent_time'|arg:date|end_call|floatformat:"-2"}} hours</span>
                        <span>
                            <strong>
                            {{member|call:'get_adjusted_spent_time'|arg:date|end_call|floatformat:"-2"}} adjusted hours
                            </strong>
                        </span>
                    </div>
                {% endfor %}
            </div>

            <div>
                <h1>Spent times in day {{date}} by board</h1>
                {% for board in boards %}
                    {% with board_spent_time=board|call:'get_spent_time'|arg:date|end_call %}
                        {% if board.is_fetched and not board.is_archived and board_spent_time > 0  %}
                            <div style="margin-bottom: 1.2em">
                                <h2>{{board.name}}</h2>
                                {% for member in board.members.all %}
                                    {% with member_spent_time=board|call:'get_spent_time'|arg:date|arg:member|end_call %}
                                        {% if member.is_developer and member_spent_time > 0 %}
                                            <div style="margin-bottom: 1em">
                                                <h3>{{member.external_username}}</h3>
                                                <span>{{member_spent_time|floatformat:"-2"}} hours</span>
                                                <span><strong>{{board|call:'get_adjusted_spent_time'|arg:date|arg:member|end_call|floatformat:"-2"}} adjusted hours</strong></span>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                                <div style="margin-bottom: 1em">
                                    <h3>Total spent time for {{board.name}}</h3>
                                    <span> {{board_spent_time|floatformat:"-2"}} hours</span>
                                    <span> <strong>{{board|call:'get_adjusted_spent_time'|arg:date|end_call|floatformat:"-2"}} adjusted hours</strong></span>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div>
                <h1>Daily spent times in day {{date}}</h1>
                <table>
                    <tr>
                        <td>Week day</td>
                        <td>Member</td>
                        <td>Board</td>
                        <td>Description</td>
                        <td>Spent time (h.)</td>
                        <td>Adjusted Spent time (h.)</td>
                        <td>Estimated time (h.)</td>
                    </tr>
                    {% for daily_spent_time in daily_spent_times %}
                        <tr>
                            <td>{{daily_spent_time.weekday}}</td>
                            <td>{{daily_spent_time.member.external_username}}</td>
                            <td>{{daily_spent_time.board.name}}</td>
                            <td>
                                <a href="{{daily_spent_time.card.short_url}}" title="{{daily_spent_time.card.name}}">
                                    {{daily_spent_time.description|truncatechars:40}}
                                </a>
                            </td>
                            <td>{{daily_spent_time.spent_time|floatformat:"-2"}}</td>
                            <td>{{daily_spent_time.adjusted_spent_time|floatformat:"-2"}}</td>
                            <td>{{daily_spent_time.estimated_time|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>