{% extends "boards/view.html" %}

{% block page_title %}Repository {{repository.name}} of project {{board.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h1>Repository {{repository.name}} of project {{board.name}}</h1>
              </div>
              <div class="panel-body row">
                  {% with has_php_report=repository.has_php_assessment_report %}
                        {% with has_python_report=repository.has_python_assessment_report %}
                            {% if has_python_report %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors' 'month' board.id repository.id 'python' %}" title="Python code quality by month">
                                            <img src="{% url 'charts:number_of_code_errors' 'month' board.id repository.id 'python' %}" alt="Python code quality by month"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id repository.id 'python' %}" title="Number of errors of Python code per LOC by month">
                                            <img src="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id repository.id 'python' %}" alt="Number of errors of Python code per LOC by month"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors' 'commit' board.id repository.id 'python' %}" title="Python code quality by month">
                                            <img src="{% url 'charts:number_of_code_errors' 'commit' board.id repository.id 'python' %}" alt="Python code quality by month"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors_per_loc' 'commit' board.id repository.id 'python' %}" title="Number of errors of Python code per LOC by month">
                                            <img src="{% url 'charts:number_of_code_errors_per_loc' 'commit' board.id repository.id 'python' %}" alt="Number of errors of Python code per LOC by month"/>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if has_php_report %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors' 'month' board.id repository.id 'php' %}" title="PHP code quality by month">
                                            <img src="{% url 'charts:number_of_code_errors' 'month' board.id repository.id 'php' %}" alt="PHP code quality by month"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id repository.id 'php' %}" title="Number of errors of PHP code per LOC by month">
                                            <img src="{% url 'charts:number_of_code_errors_per_loc' 'month' board.id repository.id 'php' %}" alt="Number of errors of PHP code per LOC by month"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors' 'commit' board.id repository.id 'php' %}" title="PHP code quality by month">
                                            <img src="{% url 'charts:number_of_code_errors' 'commit' board.id repository.id 'php' %}" alt="PHP code quality by month"/>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'charts:number_of_code_errors_per_loc' 'commit' board.id repository.id 'php' %}" title="Number of errors of PHP code per LOC by month">
                                            <img src="{% url 'charts:number_of_code_errors_per_loc' 'commit' board.id repository.id 'php' %}" alt="Number of errors of PHP code per LOC by month"/>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                  <div class="col-md-12">
                      <div class="actions">
                            <a href="{% url 'boards:repositories:edit_repository' board.id repository.id %}" title="Edit repository {{repository.id}}">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <a href="{% url 'boards:repositories:delete_repository' board.id repository.id %}" title="Delete repository {{repository.id}}">
                                <span class="fa fa-trash"></span>
                            </a>
                      </div>

                      <div class="row">
                           <div class="col-md-12 description">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      Name
                                  </div>
                                <div class="panel-body">
                                    {{repository.name}}
                                </div>
                           </div>
                        </div>
                      </div>

                      <div class="row">
                           <div class="col-md-12 description">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      Description
                                  </div>
                                <div class="panel-body">
                                    {{repository.description|safe}}
                                </div>
                           </div>
                        </div>
                      </div>

                      <div class="row">
                           <div class="col-md-12 description">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      URL
                                  </div>
                                <div class="panel-body">
                                    {{repository.url}}
                                </div>
                           </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      Type
                                  </div>
                                <div class="panel-body">
                                    {{repository.type}}
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      Repository specific attributes
                                  </div>
                                <div class="panel-body">
                                    {{repository.derived_object}}
                                </div>
                            </div>
                          </div>
                      </div>

                      <div class="row">
                           <div class="col-md-12">
                            <div class="panel panel-info">
                                  <div class="panel-heading">
                                      <a href="javascript:void(0);" name="commits">Commits</a>
                                  </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <a href="{% url 'boards:repositories:add_commit' board.id repository.id %}" class="btn btn-default"
                                                   title="Add new commit to repository {{repository.name}} of project {{board.name}}">
                                                    <span class="fa fa-plus"></span> Add new commit
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                        {% if commits|length > 0 %}
                                            <table class="table">
                                                <tr>
                                                    <th>Commit</th>
                                                    <th>Date</th>
                                                    <th>Assessed?</th>
                                                    <th>Actions</th>
                                                </tr>
                                                {% for commit in commits %}
                                                    <tr>
                                                        <td>
                                                            <strong>{{commit.commit}}</strong>
                                                        </td>
                                                        <td>
                                                            {{commit.creation_datetime}}
                                                        </td>
                                                        <td>
                                                            {% if commit.has_been_assessed %}
                                                                Yes (on {{commit.assessment_datetime}})
                                                            {% else %}
                                                                No
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if commit.has_been_assessed %}
                                                                <a href="{% url 'boards:repositories:view_assessment_report' board.id repository.id commit.id %}" title="Assessment report of commit {{commit.commit}}">
                                                                    <span class="fa fa-eye"></span> View report
                                                                </a>
                                                            {% endif %}

                                                            <a href="{% url 'boards:repositories:delete_commit' board.id repository.id commit.id %}" title="Delete commit {{commit.commit}}">
                                                                <span class="fa fa-trash"></span>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% else %}
                                            There are no commits for this repository
                                        {% endif %}
                                </div>
                           </div>
                        </div>
                      </div>



                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}