
.mood .fa{
    border-radius: 50%;
}

.mood.normal .fa{
    background-color: yellow;
}

.mood.happy .fa{
    background-color: green;
    color: white;
}

.mood.sad .fa{
    background-color: blue;
    color: white;
}

.x-scrollable{
    overflow-x: scroll;
}