{% extends "base/base.html" %}

{% load humanize %}

{% block page_title %}Regression test{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Confirm you want to test forecast {{forecast.name}}</h1>
            <p>
                <a href="{% url 'forecaster:index' %}" class="btn btn-primary">
                   <span class="fa fa-arrow-left"></span>
               </a>
            </p>
            {% include "forms/form.html" %}
        </div>
    </div>

    {% if test_cards %}
        <div class="row">
            <div class="col-md-12">
                <h1>Forecaster {{forecaster.name}} test</h1>
                <div>
                   <h2>Type</h2>
                   {% if forecaster.board %}
                        Board: {{forecaster.board.name}}
                   {% elif forecaster.member %}
                        Member: {{forecaster.member.external_username}}
                   {% else %}
                        No restriction (all boards and members)
                   {% endif %}
                </div>
                <div>
                    <h2>Model</h2>
                    {{forecaster.model}}
                </div>
                <div>
                    <h2>Formula</h2>
                    {{forecaster.formula}}
                </div>
                <div>
                    <h2>Last updated</h2>
                    {{forecaster.last_update_datetime|naturaltime}}
                    ({{forecaster.last_update_datetime}})
                </div>
                <div>Test completed successfully with a total error of {{total_error|floatformat:4}} hours (avg error is {{avg_error|floatformat:4}}, std. dev. is {{std_dev_error|floatformat:4}})</div>
                <div>{{test_cards|length}} cards used as test</div>
                {% if test_cards|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Board</td>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Members</td>
                                <td>Real spent time</td>
                                <td>Estimated spent time</td>
                                <td>Diff</td>
                                <td>Error</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test_card in test_cards %}
                                <tr>
                                    <td>
                                        {{test_card.board.name}}
                                    </td>
                                    <td>
                                        {{test_card.id}}
                                    </td>
                                    <td>
                                        {{test_card.name|truncatechars:20}}
                                    </td>
                                    <td>
                                        {% for member in test_card.members.all %}
                                            {{member.external_username}}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{test_card.spent_time}}
                                    </td>
                                    <td>
                                        {{test_card.estimated_spent_time}}
                                    </td>
                                    <td>
                                        {{test_card.diff}}
                                    </td>
                                    <td>
                                        {{test_card.error}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">Total error</td>
                                <td>{{total_error}}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>No test cards found</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}