{% extends "base/base.html" %}

{% block page_title %}Regression test{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Select your forecaster method</h1>
            <form method="get" action="{% url 'forecaster:test' %}">
                <label>
                    <span>Method</span>
                    <select name="method">
                        <option value="ols" {% if method == 'ols' %}selected="selected"{% endif %}>OLS regression</option>
                        <option value="gls" {% if method == 'gls' %}selected="selected"{% endif %}>GLS regression</option>
                        <option value="wls" {% if method == 'wls' %}selected="selected"{% endif %}>WLS regression</option>
                        <option value="glsar" {% if method == 'glsar' %}selected="selected"{% endif %}>GLSAR regression</option>
                        <option value="quantreg" {% if method == 'quantreg' %}selected="selected"{% endif %}>Quantile regression </option>
                    </select>
                </label>
                <label>
                    <span>Board</span>
                    <select name="board">
                        <option value="" {% if not board %}selected="selected"{% endif %}>All</option>
                        {% for board_i in boards %}
                            <option value="{{board_i.id}}" {% if board.id == board_i.id %}selected="selected"{% endif %}>{{board_i.name}}</option>
                        {% endfor %}
                    </select>
                </label>
                <button class="btn btn-primary" type="submit">
                    Select method
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Forecaster test</h1>
            {% if method == "ols" or method == "gls" or method == "wls" or method == "glsar" or method == "quantreg" %}
                <p>
                    {% if method == "ols" or method == "gls" or method == "wls" or method == "glsar" or method == "quantreg" %}
                        <strong>{{method}} regression</strong>
                    {% endif %}
                </p>
                <p>Test completed successfully with a total error of {{total_error|floatformat:4}} hours (avg error is {{avg_error|floatformat:4}}, std. dev. is {{std_dev_error|floatformat:4}})</p>
                <p>{{forecaster.cards|length}} cards used in the regression</p>
                <p>{{test_cards|length}} cards used as test</p>
                <pre>
                    {{summary}}
                </pre>
                {% if test_cards|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Board</td>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Real spent time</td>
                                <td>Estimated spent time</td>
                                <td>Diff</td>
                                <td>Error</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test_card in test_cards %}
                                <tr>
                                    <td>
                                        {{test_card.board.name}}
                                    </td>
                                    <td>
                                        {{test_card.id}}
                                    </td>
                                    <td>
                                        {{test_card.name|truncatechars:20}}
                                    </td>
                                    <td>
                                        {{test_card.spent_time}}
                                    </td>
                                    <td>
                                        {{test_card.estimated_spent_time}}
                                    </td>
                                    <td>
                                        {{test_card.diff}}
                                    </td>
                                    <td>
                                        {{test_card.error}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">Total error</td>
                                <td>{{total_error}}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>No test cards found</p>
                {% endif %}
            {% else %}
                Error. Method not recognized.
            {% endif %}
        </div>
    </div>
{% endblock content %}