<div id="header">
    {% with url_name=request.resolver_match.url_name %}
        <ul class="nav nav-tabs">
            <li role="presentation" {% if url_name == "index" %}class="active"{% endif %}>
                <a href="{% url 'index' %}" title="Index">Index</a>
            </li>
            {% if user and user.is_authenticated %}
                <li role="presentation" {% if url_name == "view_boards" %}class="active"{% endif %}>
                   <a href="{% url 'boards:view_boards' %}" title="View my boards">View my boards</a>
                </li>
                <li role="presentation" {% if url_name == "view_members" %}class="active"{% endif %}>
                    <a href="{% url 'members:view_members' %}" title="View members">Members</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'members:logout' %}" title="User logout">Logout</a>
                </li>
            {% else %}
                <li role="presentation" {% if url_name == "login" %}class="active"{% endif %}>
                    <a href="{% url 'members:login' %}" title="User login">Login</a>
                </li>
                <li role="presentation" {% if url_name == "signup" %}class="active"{% endif %}>
                    <a href="{% url 'members:signup' %}" title="User signup">Signup</a>
                </li>
            {% endif %}
        </ul>
    {% endwith %}
</div>