{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Regression test{% endblock %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/forecasters/build.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Create new forecaster</h1>
            <p>
                <a href="{% url 'forecasters:index' %}" class="btn btn-primary">
                   <span class="fa fa-arrow-left"></span>
               </a>
            </p>

            <div class="row">
                <div class="col-md-12">
                    {% include "forms/form.html" %}
                </div>
            </div>
    </div>
{% endblock content %}