{% extends "boards/view.html" %}

{% load staticfiles %}


{% block css %}
    {{block.super}}
    <link href="{% static 'css/boards/labels/view.css' %}" rel="stylesheet" />
{% endblock css %}

{% block page_title %}Labels of {{board.name}}{% endblock %}

{% block content %}
    <h1>Labels of {{board.name}}</h1>
    <div>Last updated: {{board.get_human_fetch_datetime}}</div>
    {% if labels|length == 0 %}
        There are no labels in this board.
        {% if member.has_trello_profile %}
            Have you tried to fetch the labels?
        {% else %}
            <form action="{% url 'boards:create_default_labels' board.id %}" method="post">
                <button class="btn btn-primary" type="submit">Create default labels</button>
            </form>
        {% endif %}
    {% else %}
        <div class="panel">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Number of cards</td>
                    <td>Avg. estimated card time</td>
                    <td>Avg. spent card time</td>
                    <td>Avg. cycle time</td>
                    <td>Avg. lead time</td>
                </tr>
                {% for label in labels %}
                    <tr>
                        <td class="label-name-td" >
                            <span class="label-name" style="background:{{label.color}};">{{label.name}}</span>
                        </td>
                        <td>{{label.cards.all.count}}</td>
                        <td>{{label.avg_estimated_time|floatformat:"-2"}}</td>
                        <td>{{label.avg_spent_time|floatformat:"-2"}}</td>
                        <td>{{label.avg_cycle_time|floatformat:"-2"}}</td>
                        <td>{{label.avg_lead_time|floatformat:"-2"}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock content %}