CairoSVG
Django>=5.0
Unidecode
appnope; sys_platform == 'darwin'
beautifulsoup4
cairocffi
cryptography
cssselect
django-autocomplete-light
django-ckeditor
django-crequest
django-cuser
django-simple-captcha
decorator
idna
ipython
isoweek
lxml
numpy
oauthlib
Pillow
pandas
pexpect
pickleshare
ptyprocess
pycryptodome
pydenticon
py-trello
django-async-include
pyOpenSSL
pyasn1
pycparser
pygal
PyGithub
pylint
python-dateutil
python-gitlab
python-slugify
pytz
requests
requests-oauthlib
shortuuid
six
statsmodels
tinycss
traitlets
