asgiref==3.11.0
astroid==4.0.3
asttokens==3.0.1
beautifulsoup4==4.14.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
cssselect==1.3.0
decorator==5.2.1
dill==0.4.1
django==6.0.1
django-async-include==0.7.0
django-autocomplete-light==3.12.1
django-ckeditor==6.7.3
django-crequest==2018.5.11
django-cuser==2017.3.16
django-js-asset==3.1.2
django-ranged-response==0.2.0
django-simple-captcha==0.6.3
executing==2.2.1
gnureadline==8.3.3
idna==3.11
ipython==9.9.0
ipython-pygments-lexers==1.1.1
isort==7.0.0
isoweek==1.3.3
jedi==0.19.2
jsonpickle==4.1.1
matplotlib-inline==0.2.1
mccabe==0.7.0
oauthlib==3.3.1
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
pillow==12.1.0
platformdirs==4.5.1
prompt-toolkit==3.0.52
ptyprocess==0.7.0
pure-eval==0.2.3
py-trello @ git+https://github.com/diegojromerolopez/py-trello.git@e8bc3c8705943f8f55ff7349270f0f690edfad76
pycparser==3.0
pycryptodome==3.23.0
pygithub==2.8.1
pygments==2.19.2
pyjwt==2.10.1
pylint==4.0.4
pynacl==1.6.2
python-dateutil==2.9.0.post0
python-gitlab==7.1.0
python-slugify==8.0.4
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
shortuuid==1.0.13
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
stack-data==0.6.3
text-unidecode==1.3
tinycss==0.4
tomlkit==0.14.0
traitlets==5.14.3
typing-extensions==4.15.0
unidecode==1.4.0
urllib3==2.6.3
wcwidth==0.3.5
