Django>=4.2
Unidecode
beautifulsoup4
cssselect
django-autocomplete-light
django-crequest
django-cuser
decorator
ipython
isoweek
oauthlib
pexpect
pickleshare
ptyprocess
pycryptodome
git+https://github.com/diegojromerolopez/py-trello.git@master#egg=pytrello
django-async-include
pycparser
PyGithub
pylint
python-dateutil
python-gitlab
python-slugify
pytz
requests
requests-oauthlib
shortuuid
six
tinycss
traitlets
gnureadline; sys_platform == "darwin"
