{% extends "boards/view.html" %}

{% block page_title %}PHP code assessment of commit {{commit.commit}} of {{repository.name}} for {{board.name}}{% endblock %}

{% block content %}
    {% include "repositories/commits/components/breadcrumbs.html" %}

    <h1>
        Success! PHP code of commit {{commit.commit}} of {{repository.name}} in project {{board.name}} has been assessed
    </h1>

    {% for phpmd_result in phpmd_results %}
        {% for phpmd_message in phpmd_result.messages %}
            <div>
                <h2>{{phpmd_message.path}}</h2>
                <pre>
                    {{phpmd_message.message}}
                </pre>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock content %}