{% extends "boards/view.html" %}

{% block page_title %}Requirements of board {{board.name}}{% endblock %}

{% block content %}
    <h1>Requirements of board {{board.name}}</h1>
    <div class="board_list_list">
        <div class="row">
            <div class="panel col-md-12">
                {% if member %}
                    <div>
                        <p>
                            <a href="{% url 'boards:requirements:new_requirement' board.id %}" class="btn btn-success">New requirement</a>
                        </p>
                    </div>
                {% endif %}
                {% if requirements|length == 0 %}
                    This board has no requirements.
                {% else %}
                    <div class="row">
                        {# Requirement burndown #}
                        <div class="col-sm-6">
                            <div>
                                <select id="select_requirement_for_requirement_burndown" class="select_requirement_for_requirement_burndown">
                                    <option value="">All requirements</option>
                                    {% for requirement_i in requirements %}
                                        {% if requirement_i.active %}
                                            <option value="{{requirement_i.code}}" {% if requirement_i.id == requirements.0.id %}selected="selected"{% endif %}>{{requirement_i.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <a href="{% url 'charts:requirement_burndown' board.id requirements.0.code  %}" title="Requirement {{requirements.0.code}} burndown for board {{board.name}}">
                                <img id="requirement_burndown"
                                     class="ajax-img" data-src="{% url 'charts:requirement_burndown' board.id  requirements.0.code  %}"
                                     alt="Requirement {{requirements.0.code}} burndown for board {{board.name}}"
                                />
                            </a>
                        </div>

                        {# Burndown #}
                        <div class="col-sm-6">
                            {% if board.estimated_number_of_hours > 0 %}
                                <a href="{% url 'charts:burndown' board.id %}" title="Burndown according to board estimates">
                                    <img id="burndown"
                                         class="ajax-img" data-src="{% url 'charts:burndown' board.id %}"
                                         alt="Burndown of board {{board.name}}"
                                    />
                                </a>
                            {% else %}
                                Set the estimated numbers of hours to see the burndown chart.
                            {% endif %}
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Code</td>
                            <td>Name</td>
                            <td>Active?</td>
                            <td>Value</td>
                            <td>Description</td>
                            <td>Percentage of completion</td>
                            <td>Cards (done/total)</td>
                            <td>Actions</td>
                        </tr>
                        {% for requirement in requirements %}
                            <tr>
                                <td>{{requirement.code}}</td>
                                <td>{{requirement.name}}</td>
                                <td>{% if requirement.active %}Yes{% else %}No{% endif %}</td>
                                <td>{{requirement.value}}</td>
                                <td>{{requirement.description|safe|truncatechars_html:30}}</td>
                                <td>{{requirement.done_cards_percentage}}%</td>
                                <td>{{requirement.done_cards|length}}/{{requirement.cards.all|length}}</td>
                                <td>
                                    <a href="{% url 'boards:requirements:view_requirement' board.id requirement.code %}" title="View requirement {{requirement.code}}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                    {% if member %}
                                        <a href="{% url 'boards:requirements:edit_requirement' board.id requirement.code %}" title="Edit requirement {{requirement.code}}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a href="{% url 'boards:requirements:delete_requirement' board.id requirement.code %}" title="Delete requirement {{requirement.code}}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}