{% extends "boards/view.html" %}

{% block page_title %}Requirements of board {{board.name}}{% endblock %}

{% block content %}
    <h1>Requirements of board {{board.name}}</h1>
    <div class="board_list_list">
        <div class="row">
            <div class="panel col-md-12">
                <div>
                    <a href="{% url 'boards:requirements:new_requirement' board.id %}" class="btn btn-primary">New requirement</a>
                </div>
                {% if requirements|length == 0 %}
                    This board has no requirements.
                {% else %}
                    <table class="table">
                        <tr>
                            <td>Code</td>
                            <td>Name</td>
                            <td>Value</td>
                            <td>Description</td>
                            <td>Cards (pending/total)</td>
                            <td>Actions</td>
                        </tr>
                        {% for requirement in requirements %}
                            <tr>
                                <td>{{requirement.code}}</td>
                                <td>{{requirement.name}}</td>
                                <td>{{requirement.value}}</td>
                                <td>{{requirement.description|truncatechars:30}}</td>
                                <td>{{requirement.pending_cards|length}}/{{requirement.cards.all|length}}</td>
                                <td>
                                    <a href="{% url 'boards:requirements:view_requirement' board.id requirement.code %}" title="View requirement {{requirement.code}}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                    <a href="{% url 'boards:requirements:edit_requirement' board.id requirement.code %}" title="Edit requirement {{requirement.code}}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a href="{% url 'boards:requirements:delete_requirement' board.id requirement.code %}" title="Delete requirement {{requirement.code}}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}