{% extends "boards/view.html" %}

{% block page_title %}Requirements of board {{board.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-info">
              <div class="panel-heading">
                  Requirement {{requirement.code}}
              </div>
              <div class="panel-body row">
                  <div class="col-md-12">
                      <div class="actions">
                            <a href="{% url 'boards:requirements:edit_requirement' board.id requirement.code %}" title="Edit requirement {{requirement.code}}">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <a href="{% url 'boards:requirements:delete_requirement' board.id requirement.code %}" title="Delete requirement {{requirement.code}}">
                                <span class="fa fa-trash"></span>
                            </a>
                      </div>
                      <div>
                          {{requirement.name}}
                      </div>
                      <div>
                          {{requirement.description}}
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              {% if pending_cards|length == 0 and done_cards|length == 0 %}
                                There are no cards assigned to this requirement.
                              {% else %}
                                    <p>Pending cards</p>
                                  {% for card in pending_cards %}
                                    {% include "cards/components/card.html" %}
                                  {% endfor %}
                                    <p>Done cards</p>
                                  {% for card in done_cards %}
                                    {% include "cards/components/card.html" %}
                                  {% endfor %}
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}