<h1>{{member.trello_username}}'s dashboard</h1>

<div class="dashboard">
    {% if boards|length == 0 %}
        {% include "boards/no_boards_warning.html" %}
    {% endif %}
</div>

{% if  boards|length > 0 %}
    <div class="row">
        <div class="col-md-8 center-block">
            <img src="{% url 'charts:spent_time_by_week' %}" alt="Spent time by member"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <img src="{% url 'charts:task_forward_movements_by_member' %}" alt="Task forward movements by member"/>
        </div>
        <div class="col-sm-6">
            <img src="{% url 'charts:task_backward_movements_by_member' %}" alt="Task backward movements by member"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <img src="{% url 'charts:avg_lead_time' %}" alt="Average lead time"/>
        </div>
        <div class="col-sm-6">
            <img src="{% url 'charts:avg_cycle_time' %}" alt="Average cycle time"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% url 'charts:avg_spent_time' %}" alt="Average spent time"/>
        </div>
        <div class="col-sm-6">
            <img src="{% url 'charts:avg_estimated_time' %}" alt="Average estimated time"/>
        </div>
    </div>
{% endif %}
