{% with cards=board.cards.all %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td>Name</td>
                    <td>Value</td>
                    <td>Closed?</td>
                    <td>List</td>
                    <td>No. Comm.</td>
                    <td>Reviews</td>
                    <td>Lead time</td>
                    <td>Cycle time</td>
                    <td>Spent time</td>
                    <td>Adj. Spent time</td>
                    <td>Est. time</td>
                    <td>Deadline</td>
                    <td>Last act. date</td>
                    <td>Actions</td>
                </tr>
                {% for card in cards %}
                    <tr>
                        <td>
                            {% if member %}
                                <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                    {{card.name}}
                                </a>
                            {% else %}
                                {{card.name}}
                            {% endif %}
                            {% if board.is_fetched and card.url %}
                                <a href="{{card.url}}" title="View card {{card.name}}">
                                    <span class="fa fa-trello"></span>
                                </a>
                            {% endif %}
                        </td>
                        <td>{% if card.value != None %}{{card.value}}{% else %}Not set{% endif %}</td>
                        <td>{% if card.is_closed %}Yes{% else %}No{% endif %}</td>
                        <td>{{card.list.name}}</td>
                        <td>{{card.number_of_comments}}</td>
                        <td>
                            {% if card.number_of_reviews > 0 %}
                                {% for review in card.reviews.all %}
                                    <span class="review">
                                        <span class="review_creation_datetime">{{review.creation_datetime}}</span>
                                        {% with reviewers=review.reviewers.all %}
                                            {% if reviewers|length > 0 %}
                                                <ul>
                                                    {% for reviewer in reviewers %}
                                                        <li>{{reviewer.external_username}}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{% if card.lead_time %}{{card.lead_time|floatformat:-2}}{% endif %}</td>
                        <td>{% if card.cycle_time %}{{card.cycle_time|floatformat:-2}}{% endif %}</td>
                        <td>
                            {% if card.spent_time %}
                                {{card.spent_time|floatformat:-2}}
                            {% endif %}
                        </td>
                        <td>
                            {% if card.adjusted_spent_time %}
                                {{card.adjusted_spent_time|floatformat:-2}}
                            {% endif %}
                        </td>
                        <td>
                            {% if card.estimated_time %}
                                {{card.estimated_time|floatformat:-2}}
                            {% endif %}
                        </td>
                        <td>{% if card.due_datetime %}{{card.due_datetime}}{% endif %}</td>
                        <td>{{card.last_activity_datetime}}</td>
                        <td>
                            <a href="{% url 'boards:view_card' board.id card.id %}" title="View card {{card.name}}">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a href="{{card.short_url}}" title="View card in Trello">
                                <span class="fa fa-trello"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="12">Cycle time (avg. & std. dev.)</td><td>{{avg_cycle_time|floatformat:"-3"}}</td><td>{{std_dev_cycle_time|floatformat:"-3"}}</td>
                </tr>
                <tr>
                    <td colspan="12">Lead time (avg. & std. dev.)</td><td>{{avg_lead_time|floatformat:"-3"}}</td><td>{{std_dev_lead_time|floatformat:"-3"}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endwith %}